.departures-container {
  box-sizing: border-box;
  padding-top: 8px;
  background-color: #e6e4e1;
}

@import "departures/row";
@import "departures/destination";
@import "departures/time";
@import "departures/crowding";
@import "departures/alert";
