.normal-header {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgb(23 31 38);
}

.normal-header-icon__image {
  height: 128px;
  width: 128px;
  margin-right: 28px;
}

.normal-header-title {
  width: 824px;
  position: absolute;
  left: 40px;
  bottom: 40px;
  display: flex;
  align-items: center;
  align-content: end;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  color: #fff;

  &--with-icon {
    bottom: 30px;
  }

  &--large {
    font-size: 104px;
    line-height: 104px;
  }

  &--small {
    font-size: 72px;
    line-height: 72px;
  }
}

.normal-header-time {
  position: absolute;
  right: 40px;
  top: 40px;
  font-family: Inter, sans-serif;
  font-size: 56px;
  line-height: 56px;
  color: #fff;
}

.normal-header__environment {
  @include font--text--75bold;

  position: absolute;
  padding-left: 40px;
  padding-top: 10px;
  font-size: 36px;
  color: #fff;
  letter-spacing: 0;
  line-height: 48px;
}
