@use "../fonts";

.base-departure-time {
  line-height: 1em;
}

.base-departure-time__text {
  @include fonts.text--75bold;

  font-size: 1em;
  line-height: 1.185em;
}

.base-departure-time__minutes {
  @include fonts.text--75bold;

  margin-right: 0.0694em;
  font-size: 1em;
  line-height: 1.185em;
}

.base-departure-time__minutes-label {
  @include fonts.text--55regular;

  font-size: 0.729em;
  line-height: 1em;
}

.base-departure-time__timestamp {
  @include fonts.text--75bold;

  margin-right: 0.0694em;
  font-size: 1em;
  line-height: 1.185em;
}

.base-departure-time__ampm {
  @include fonts.text--55regular;

  font-size: 0.729em;
  line-height: 1em;
}
