.base-route-pill__pill {
  text-align: center;

  &--with-slash {
    border-radius: 0.5em;
    height: 0.833em;
  }

  &--no-slash {
    border-radius: 1em;
    height: 1.18em;
  }
}

.base-route-pill__route-text {
  @include font--text--75bold;
  letter-spacing: 0.0277em;

  &--with-slash {
    font-size: 0.556em;
    line-height: 1.5em;

    &__part1, &__part2 {
      display: inline-block;
    }
  }

  &--no-slash {
    line-height: 1.18em;
  }
}
