@use "../fonts";

.base-departure-destination__primary {
  @include fonts.text--65medium;

  line-height: 1em;
}

.base-departure-destination__secondary {
  @include fonts.text--55regular;

  font-size: 0.611em;
  line-height: 1em;
}
