#debug {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  overflow-y: hidden;
  overflow-x: hidden;

  background: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-flow: column wrap;

  color: #fff;
  font-size: 1.5em;
  font-family: monospace;
}

#debug .line {
  box-sizing: border-box;
  padding-left: 8px;
  overflow-wrap: break-word;
}
