.screen-normal {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.screen-normal__header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1200px;
  height: 288px;
}

.screen-normal__left-sidebar {
  position: absolute;
  top: 288px;
  left: 0px;
  width: 376px;
  height: 1312px;
}

.screen-normal__main-content {
  position: absolute;
  top: 288px;
  left: 376px;
  width: 824px;
  height: 1312px;
}

.screen-normal__medium-flex {
  position: absolute;
  top: 1600px;
  left: 0px;
  width: 1200px;
  height: 1164px;
}

.screen-normal__footer {
  position: absolute;
  top: 2764px;
  left: 0px;
  width: 1200px;
  height: 436px;
}
