.screen-normal {
  position: relative;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.screen-normal__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
}

.screen-normal__body {
  position: absolute;
  top: 288px;
  left: 0;
  width: 1200px;
  height: 2912px;
}
