.departures {
  display: inline-block;
  width: 758px;
  height: 1312px;
  vertical-align: top;
}

.departures__headway-message {
  font-family: "neue-haas-grotesk-text";
  font-size: 72px;
  text-align: right;
  color: #999999;
  padding-right: 40px;
  padding-top: 72px;
  padding-bottom: 72px;
}

.departures__departure {
  font-family: "neue-haas-grotesk-text";
  text-align: right;
  padding-right: 40px;
  padding-top: 72px;
  padding-bottom: 72px;
}

.departures__departure--now {
  font-size: 336px;
  font-weight: 700;
  line-height: 336px;
}

.departures__departure--minutes {
  font-size: 336px;
  font-weight: 700;
  line-height: 336px;
  padding-right: 0.0694em;
}

.departures__departure--minutes-label {
  font-size: 244px;
  font-weight: 400;
  line-height: 244px;
}

.departures__departure--timestamp {
}

.departures__departure--ampm {
}

.departures__hairline {
  height: 2px;
  width: 718px;
  background: #cccccc;
}

.departures__container {
  height: 100%;
  position: relative;
}

.departures__delay-badge {
  position: absolute;
  bottom: 52px;
  right: 0px;
}
