.screen-normal {
  position: relative;
}

.screen-normal__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 2160px;
  height: 200px;
  overflow: hidden;
}

.screen-normal__body {
  position: absolute;
  top: 200px;
  left: 0;
  width: 2160px;
  height: 1720px;
  overflow: hidden;
}
