.screen-normal {
  width: 2160px;
  height: 1920px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.screen-normal__header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 2160px;
  height: 200px;
  overflow: hidden;
}

.screen-normal__body {
  position: absolute;
  top: 200px;
  left: 0px;
  width: 2160px;
  height: 1720px;
  overflow: hidden;
}
