.screen-takeover {
  position: relative;
  width: 2160px;
  height: 1920px;
  overflow: hidden;
}

.screen-takeover__full-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 2160px;
  height: 1920px;
  overflow: hidden;
}
