.departure-row {
  position: relative;
  padding-bottom: 30px;
}

.departure-row__route {
  display: inline-block;
  margin-top: 32px;
  margin-left: 32px;
  vertical-align: top;

  &.center {
    vertical-align: middle;
  }
}

.departure-row__destination {
  display: inline-block;
  margin-top: 32px;
  margin-right: 20px;
  margin-left: 32px;
  vertical-align: middle;
}

.departure-row__time {
  display: inline-block;
  margin-top: 44px;
  margin-right: 32px;
  vertical-align: top;
}
