@use "CSS/colors";

.departures-header {
    display: flex;
    align-items: center;
    height: 108px;
    margin-left: 26px;
}

.departures_header__text {
    color: #2E3E4D;
    font-family: Inter;
    font-size: 47.92px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.438px;
    text-align: center;
}