@use "CSS/colors";
@use "vars";

.departures-header {
  display: flex;
  align-items: center;
  height: vars.$row-height;
  margin-left: 26px;
  font-size: 47px;
  font-weight: 500;
  color: colors.$cool-black-30;
  letter-spacing: 3%;
}
