@use "CSS/colors";

.no-data {
  width: 552px;
  height: 354px;
  margin-left: 36px;
}

.no-data__header {
  width: 90px;
  height: 90px;
  padding-top: 23px;
  padding-bottom: 28px;
}

.no-data__content {
  font-size: 59px;
  font-weight: 700;
  line-height: 66px;
  color: colors.$cool-black-15;
}
