@use "CSS/colors";

.departures-no-service {
  position: relative;
  left: 26px;
  width: 515px;
  font-size: 59px;
  font-weight: 700;
  line-height: 66px;
  color: colors.$cool-black-15;
  letter-spacing: 0;
}
