.departure-time {
  display: inline-block;
  align-items: center;
  justify-content: end;
  width: 100%;
  margin-top: 25.5px;
  font-family: Inter;
  font-size: 47px;
  font-style: normal;
  vertical-align: middle;
}

.departure-times-with-crowding,
.departure-time-with-crowding {
  height: 100%;
}

.departure-crowding {
  width: 0;
  height: 0;
}

.departure-time__minutes {
  display: inline-block;
  width: 88px;
  height: 100%;
  font-weight: 800;
  text-align: right;
}

.departure-time__minutes-label {
  display: inline-block;
  width: 42px;
  height: 100%;
  font-weight: 400;
  text-align: left;
}

.departure-time__text {
  display: inline-block;
  width: 100%;
  font-weight: 800;
  text-align: right;
}
