.departure-time {
  display: inline-block;
  width: 100%;
  margin-top: 25.5px;
  font-size: 47px;
  vertical-align: middle;
}

.departure-times-with-crowding,
.departure-time-with-crowding {
  height: 100%;
}

.departure-crowding {
  display: none;
}

.departure-time__minutes {
  display: inline-block;
  width: 88px;
  height: 100%;
  font-weight: 800;
  text-align: right;
}

.departure-time__minutes-label {
  display: inline-block;
  width: 42px;
  height: 100%;
  font-weight: 400;
}

.departure-time__text {
  display: inline-block;
  width: 100%;
  font-weight: 800;
  text-align: right;
}

.departure-time__timestamp {
  width: 42px;
  height: 100%;
  font-weight: 400;
}
