// body total height: 1720px

.body-right-normal {
  position: relative;
}

.body-right-normal__upper {
  position: absolute;
  top: 0;
  left: 0;
  width: 1080px;
  height: 736px;
  overflow: hidden;
}

.body-right-normal__lower {
  position: absolute;
  top: 736px;
  left: 0;
  width: 1080px;
  height: 984px;
  overflow: hidden;
}
