// body total height: 1648px

.body-normal-right__main-content {
  width: 1080px;
  height: 1092px;
  overflow: hidden;
  z-index: 2;
}

.body-normal-right__secondary-content {
  width: 1080px;
  height: 628px;
  overflow: hidden;
}
