// body total height: 1648px

.body-normal-right__upper {
  width: 1080px;
  height: 640px;
  overflow: hidden;
}

.body-normal-right__lower {
  width: 1080px;
  height: 1008px;
  overflow: hidden;
}
