// body total height: 1648px

.body-normal-right__main-content {
  width: 1080px;
  height: 1008px;
  overflow: hidden;
}

.body-normal-right__secondary-content {
  width: 1080px;
  height: 640px;
  overflow: hidden;
}
