#debug {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background: rgb(0 0 0 / 50%);
  color: #fff;
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  font-size: 1.5em;
  z-index: 10000;
}

#debug p {
  position: relative;
  z-index: 9999;
  font-size: 1.5em;
  bottom: unset;
  left: unset;
  letter-spacing: normal;
  font-family: sans-serif;
}
