@import "../base/base_departure_destination";

.departure-destination {
  color: #171f26;
  display: inline-block;
  vertical-align: middle;
  width: 1176px;
  font-size: 138px;

  .base-departure-destination__primary {
    font-weight: 600;
  }
}
