.departure-container {
  position: relative;

  &:not(:first-child) {
    .departure-hairline {
      position: absolute;
      top: -2px;
      left: 302px;
      width: 1586px;
      height: 4px;
      background-color: #cccbc8;
    }
  }
}
