.departure-route {
  display: inline-block;
  width: 248px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 32px;
  margin-left: 32px;
  font-size: 96px;
  vertical-align: middle;

  .base-route-pill__route-text {
    font-family: Helvetica, sans-serif;
    line-height: 144px;
    transform: translateY(8px);
  }

  .base-route-pill__route-text--with-slash__part1 {
    display: block;
    margin-left: 42px;
    line-height: 84px;
    text-align: start;
  }

  .base-route-pill__route-text--with-slash__part2 {
    display: block;
    margin-left: 42px;
    line-height: 64px;
    text-align: start;
  }
}

.departure-route--icon {
  height: 112.5px;
  margin-top: 15.75px;
}

.departure-route--yellow {
  width: 280px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 0;

  .base-route-pill__pill {
    height: 168px;
    font-size: 128px;
    color: black;
    letter-spacing: -2px;
    background: #ffc72c;
    border-radius: 0 20px 20px 0;
  }

  .base-route-pill__route-text {
    font-family: Inter, sans-serif;
    line-height: 168px;
  }
}

.departure-route--blue .base-route-pill__pill {
  height: 144px;
  color: white;
  background: #003da5;
}

.departure-route--red .base-route-pill__pill {
  height: 144px;
  color: white;
  background: #da291c;
}

.departure-route--orange .base-route-pill__pill {
  height: 144px;
  color: white;
  background: #ed8b00;
}

.departure-route--green .base-route-pill__pill {
  height: 144px;
  font-size: 84px;
  color: white;
  background: #00843d;
}

.departure-route--purple .base-route-pill__pill {
  height: 144px;
  color: white;
  background: #80276c;
}

.departure-route--teal .base-route-pill__pill {
  height: 144px;
  color: white;
  background: #008eaa;
}

.departure-route--silver .base-route-pill__pill {
  height: 144px;
  font-size: 84px;
  color: white;
  background: #7c878e;
}
