@import "../base/base_departure_destination";

.departure-destination {
  display: inline-block;
  width: 1176px;
  font-size: 138px;
  color: #171f26;
  vertical-align: middle;

  .base-departure-destination__primary {
    @include font--display--65medium;
  }
}
