.rotation-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.simulation-screen-centering-container {
  display: flex;
  justify-content: center;
  background: #3d5366;
}

.simulation-screen-scrolling-container {
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #607180;
    border-radius: 12px;
    border: 2px solid #2E3F4D;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    background-color: #2E3F4D;
  }
}

.simulation-screen-scrolling-container {
  height: 100%;
  overflow-x: auto;
  padding-bottom: 8px;
  .projection {
    display: grid;
    grid-template-columns: 280px 280px 280px;
    background: #2e3f4d;
    border: 8px solid #2e3f4d;
    border-radius: 8px;
    width: 816px;
    height: 144px;

    & > * {
      transform-origin: top left;
      transform: scale(13.33%);
      margin-right: 24px;
    }
  }
}
