.rotation-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.simulation-screen-centering-container {
  display: flex;
  justify-content: center;
  background: transparent;
}

.simulation-screen-scrolling-container {
  height: 100%;
  padding-bottom: 20px;
  overflow-x: auto;
  scrollbar-color: #607180 #2e3f4d;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #607180;
    border: 2px solid #2e3f4d;
    border-radius: 12px;
  }

  &::-webkit-scrollbar-track {
    background-color: #2e3f4d;
    border-radius: 12px;
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  }

  .projection {
    display: grid;
    grid-template-columns: 280px 280px 280px;
    width: 816px;
    height: 144px;
    background: #2e3f4d;
    border: 8px solid #2e3f4d;
    border-radius: 8px;

    & > * {
      margin-right: 24px;
      transform: scale(13.33%);
      transform-origin: top left;
    }
  }
}
