.header {
  background-color: #171f26;
  color: white;
  height: 248px;
  position: relative;
}

.header__time {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-size: 96px;
  position: absolute;
  top: 66px;
  right: 40px;
}

.header__logo-container {
  height: 184px;
  width: 184px;
  margin: 32px 64px 32px 64px;
  display: inline-block;
  vertical-align: middle;
}

.header__logo-image {
  height: 184px;
  width: 184px;
}

.header__content-container {
  width: 1300px;
  display: inline-block;
  vertical-align: middle;
}

.header__text {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 700;
  font-size: 144px;
}

.header__environment {
  @include font--text--75bold;
  position: absolute;
  top: 12px;
  left: 40px;
  font-size: 48px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 48px;
}
