.header {
  position: relative;
  height: 248px;
  color: white;
  background-color: #171f26;

  &--color-red {
    background-color: $line-color-red;
  }

  &--color-orange {
    background-color: $line-color-orange;
  }

  &--color-green {
    background-color: $line-color-green;
  }

  &--color-blue {
    background-color: $line-color-blue;
  }

  &--color-silver {
    background-color: $line-color-silver;
  }

  &--color-purple {
    background-color: $line-color-cr;
  }

  &--color-yellow {
    color: #171f26;
    background-color: $alert-yellow;
  }
}

.header__time {
  position: absolute;
  top: 66px;
  right: 40px;
  font-family: Inter, sans-serif;
  font-size: 96px;
}

.header__logo-container {
  display: inline-block;
  width: 184px;
  height: 184px;
  margin: 32px 64px;
  vertical-align: middle;
}

.header__logo-image {
  width: 184px;
  height: 184px;
}

.header__content-container {
  display: inline-block;
  width: 1608px;
  vertical-align: middle;
}

.header__text {
  font-family: Helvetica, sans-serif;
  font-size: 144px;
  font-weight: 700;
  transform: translateY(12px);
}

.header__environment {
  @include font--text--75bold;

  position: absolute;
  top: 12px;
  left: 40px;
  font-size: 48px;
  line-height: 48px;
  color: #fff;
  letter-spacing: 0;
}

.header__version {
  @include font--display--65medium;

  position: absolute;
  bottom: 0;
  left: 8px;
  font-size: 32px;
  color: #fff;
  opacity: 0.33;
}

.header__error-code {
  @include font--display--65medium;

  position: absolute;
  right: 8px;
  bottom: 0;
  font-size: 32px;
  color: #fff;
  opacity: 0.33;
}

.header__accent-pattern-container {
  position: absolute;
  right: 0;
  display: inline-block;
}
