.screen-container {
  position: relative;
  width: 1920px;
  height: 1080px;
  margin: 0 auto;

  &--disabled {
    background-color: #171f26;
  }

  &--no-data,
  &--loading {
    background-color: #e6e4e1;
  }
}

.section-list {
  height: 832px;
  background-color: #f5f4f1;

  &--headway {
    background-color: #e6e4e1;
  }
}

.disabled__time {
  position: absolute;
  top: 72px;
  right: 72px;
  font-family: Helvetica, sans-serif;
  font-size: 138px;
  line-height: 138px;
  color: #fff;
}

.disabled__logo-container {
  position: absolute;
  top: 240px;
  left: 690px;
  width: 540px;
  height: 540px;
}

.disabled__logo-image {
  width: 540px;
  height: 540px;
}

.disabled__link {
  position: absolute;
  right: 72px;
  bottom: 56px;
}

.disabled__link-arrow {
  display: inline-block;
  vertical-align: middle;
}

.disabled__link-text {
  display: inline-block;
  margin-left: 72px;
  font-family: Inter, sans-serif;
  font-size: 108px;
  color: #fff;
  vertical-align: middle;
}

.no-data__body,
.loading__body {
  padding-top: 76px;
}

.no-data__icon-container,
.loading__icon-container {
  display: inline-block;
  width: 312px;
  text-align: center;
  vertical-align: top;
}

.no-data__icon-image,
.loading__icon-image {
  width: 160px;
}

.no-data__message,
.loading__heading {
  display: inline-block;
  width: 1544px;
  font-family: Inter, sans-serif;
  font-size: 144px;
  font-weight: 800;
  line-height: 160px;
  color: #171f26;
  vertical-align: top;
}

.loading__sub-heading {
  display: inline-block;
  width: 1544px;
  margin-top: 64px;
  margin-left: 312px;
  font-family: Inter, sans-serif;
  font-size: 112px;
  font-weight: normal;
  line-height: 140px;
  color: #171f26;
  vertical-align: top;
}

.no-data__link,
.loading__link {
  position: absolute;
  right: 72px;
  bottom: 56px;
}

.no-data__link-arrow,
.loading__link-arrow {
  display: inline-block;
  vertical-align: middle;
}

.no-data__link-text,
.loading__link-text {
  display: inline-block;
  margin-left: 72px;
  font-family: Inter, sans-serif;
  font-size: 108px;
  color: #171f26;
  vertical-align: middle;
}

.headway-section-list {
  padding-top: 72px;
  padding-right: 64px;
  padding-left: 64px;
}

.headway-section-list__icon-container {
  display: inline-block;
  width: 312px;
  text-align: center;
  vertical-align: top;
}

.headway-section-list__icon-image {
  width: 168px;
}

.headway-section-list__message {
  display: inline-block;
  width: 1544px;
  font-family: Inter;
  font-size: 144px;
  line-height: 160px;
  color: #171f26;
  vertical-align: top;

  .free-text__text-pill {
    color: #fff;
  }
}

.headway-section-list__link {
  position: absolute;
  right: 72px;
  bottom: 56px;
}

.headway-section-list__link-arrow {
  display: inline-block;
  vertical-align: middle;
}

.headway-section-list__link-text {
  display: inline-block;
  margin-left: 72px;
  font-family: Inter;
  font-size: 108px;
  vertical-align: middle;
}
