.section {
  position: relative;

  &:not(:first-child) {
    .section-hairline {
      position: absolute;
      top: -3px;
      left: 0;
      width: 1920px;
      height: 6px;
      background-color: #bfbebb;
    }
  }

  &--headway {
    font-family: Inter;
    font-size: 138px;
    line-height: 128px;
    color: #171f26;
  }
}
