.elevator-closures {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Inter, sans-serif;
  background-color: $warm-neutral-90;

  .in-station-summary {
    display: flex;
    justify-content: space-between;
    padding: 24px 58px;
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    color: $cool-black-30;
  }

  hr {
    width: 100%;
    min-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: $cool-black-15;
    border: none;
  }

  .outside-alert-list {
    position: relative;
    height: 100%;
    padding: 48px;
    font-family: Inter;
    background-color: $warm-neutral-90;

    hr {
      min-height: 2px;
      margin-top: 24px;
      background-color: $true-grey-45;
      border: none;
      opacity: 0.5;
    }

    .header {
      display: flex;
      max-height: 432px;
      margin-bottom: 48px;
      font-size: 112px;
      font-weight: 700;
      line-height: 112px;

      &__title {
        word-spacing: 9999px;
      }
    }

    .alert-list-container {
      height: 904px;

      .alert-list {
        .alert-row {
          margin-top: 24px;

          &__station-name {
            font-size: 62px;
            font-weight: 600;
            line-height: 80px;
            color: $cool-black-15;
          }

          &__name-and-pills {
            display: flex;
            gap: 24px;
            align-items: center;
            margin-bottom: 14px;

            .route-pill {
              width: 132px;
              height: 68.13px;
            }
          }
        }
      }
    }

    .paging-info-container {
      display: flex;
      justify-content: space-between;

      .paging-indicators {
        display: flex;
        gap: 27px;
        align-items: center;
        margin-right: 66px;
      }
    }

    .paging-info-container,
    .alert-row__elevator-name {
      font-size: 48px;
      font-weight: 400;
      line-height: 64px;
      color: $cool-black-30;
    }
  }
}
