.footer {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 48px;
  font-family: Inter, sans-serif;
  font-size: 48px;
  line-height: 62px;
  color: white;
  background-color: $cool-black-30;
}
