.normal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 104px;
  padding: 0 48px;
  font-family: Inter, sans-serif;
  font-size: 48px;
  line-height: 62px;
  color: $warm-neutral-90;
  background-color: $cool-black-15;

  &--blue {
    color: white;
    background-color: $accessibility-blue;
  }
}
