.departure-alerts {
  text-align: right;
  margin-right: 32px;
  margin-top: 24px;
}

.departure-alert {
  display: inline-block;
  height: 56px;
  border-radius: 8px;
  background-color: #171f26;
  margin-left: 16px;

  font-family: Inter;
  font-size: 36px;
  line-height: 56px;
  color: white;
}

.departure-alert__icon {
  display: inline-block;
  vertical-align: top;
  margin-left: 16px;
  margin-top: 8px;
  height: 40px;
}

.departure-alert__icon-image {
  height: 40px;
}

.departure-alert__text {
  display: inline-block;
  vertical-align: top;
  margin-left: 16px;
  margin-right: 16px;
}
