@use "CSS/colors";
@use "CSS/fonts";

.departures-header {
  @include fonts.inter--bold;

  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 3px;
  white-space: pre-line; // Allow using embedded line breaks to control wrapping
  border-top: 4px solid colors.$true-grey-70;

  &:not(:empty) {
    min-height: 104px;
    padding: 18px 32px 18px 48px;
    background-color: colors.$warm-neutral-80;
  }
}

.departures-section:first-of-type .departures-header:empty {
  height: 8px;
  border: none;
}

.departures-header__subtitle {
  @include fonts.inter--regular;

  width: 1005px;
  padding-bottom: 44px;
  margin-top: 10px;
  margin-left: 32px;
  font-size: 40px;
  line-height: 54px;

  strong {
    @include fonts.inter--bold;
  }
}

.departures-header__subtitle + .departure-row::before {
  display: block;
  height: 4px;
  margin: 0 32px;
  content: "";
  background-color: colors.$true-grey-70;
}
