.departure-row {
  position: relative;
  padding-bottom: 30px;

  &:not(:last-child)::after {
    position: absolute;
    bottom: 0;
    left: 200px;
    width: 848px;
    height: 4px;
    content: "";
    background-color: #cccbc8;
    border-radius: 2px;
  }
}

.departure-row__route {
  display: inline-block;
  margin-top: 27px;
  margin-left: 32px;
  vertical-align: top;
}

.departure-row__destination {
  display: inline-block;
  margin-top: 32px;
  margin-left: 24px;
  vertical-align: top;
}

.departure-row__time {
  display: inline-block;
  margin-top: 32px;
  margin-right: 32px;
  vertical-align: top;
}
