.departure-row {
  padding-bottom: 30px;
  position: relative;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 200px;

    width: 848px;
    height: 4px;
    border-radius: 2px;
    background-color: #cccbc8;
  }
}

.departure-row__route {
  display: inline-block;
  vertical-align: top;
  margin-left: 32px;
  margin-top: 27px;
}

.departure-row__destination {
  display: inline-block;
  vertical-align: top;
  margin-left: 24px;
  margin-top: 32px;
}

.departure-row__time {
  display: inline-block;
  vertical-align: top;
  margin-top: 32px;
  margin-right: 32px;
}
