.departures-section {
  & > .departure-row:not(:last-child)::after {
    position: absolute;
    bottom: 0;
    left: 200px;
    width: 848px;
    height: 4px;
    content: "";
    background-color: #cccbc8;
    border-radius: 2px;
  }
}
