.normal-header {
  position: relative;
  width: 100%;
  height: 248px;
  background: rgb(23 31 38);

  &--red {
    background-color: $line-color-red;
  }

  &--orange {
    background-color: $line-color-orange;
  }

  &--green {
    background-color: $line-color-green;
  }

  &--blue {
    background-color: $line-color-blue;
  }

  &--teal {
    background-color: $line-color-ferry;
  }

  &--silver {
    background-color: $line-color-silver;
  }

  &--yellow {
    background-color: $alert-yellow;

    .normal-header-title__text {
      color: #171f26;
    }
  }
}

.normal-header-icon {
  display: inline-block;
  vertical-align: middle;
}

.normal-header-icon__image {
  width: 184px;
  height: 184px;
  margin-right: 64px;
}

.normal-header-title {
  position: absolute;
  top: 32px;
  left: 64px;
}

.normal-header-title__text {
  display: inline-block;
  font-family: Helvetica, sans-serif;
  font-size: 144px;
  font-weight: 700;
  line-height: 144px;
  color: #fff;
  vertical-align: middle;
}

.normal-header-time {
  position: absolute;
  top: 70px;
  right: 32px;
  font-family: Inter, sans-serif;
  font-size: 108px;
  line-height: 108px;
  color: #fff;
}

.normal-header-version {
  position: absolute;
  bottom: 0;
  left: 8px;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #fff;
  opacity: 0.33;
}

.normal-header__accent-pattern-container {
  position: absolute;
  right: 0;
  display: inline-block;
}

.normal-header__accent-pattern-image {
  height: 248px;
}

.normal-header__environment {
  position: absolute;
  color: white;
}
