.simulation-screen-scrolling-container {
  overflow-x: auto;
  padding-bottom: 20px;
  scrollbar-color: #607180 #2e3f4d;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #607180;
    border-radius: 12px;
    border: 2px solid #2e3f4d;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    border-radius: 12px;
    background-color: #2e3f4d;
  }

  .screen-normal {
    height: unset;
    width: unset;
  }

  .projection {
    display: grid;
    grid-template-columns: 280px 280px 280px;
    background: #2e3f4d;
    border: 8px solid #2e3f4d;
    border-radius: 8px;
    width: 816px;
    height: 144px;
    overflow: hidden;

    .widget-slot {
      position: initial;
    }

    & > * {
      transform-origin: top left;
      transform: scale(13.33%);
      margin-right: 24px;
    }
  }
}
