.dup-screen-viewport {
  position: relative;
  width: 1920px;
  height: 1080px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;

  .dup-shifter {
    position: absolute;
    width: 5760px;
    height: 1080px;
    overflow: hidden;
  }

  .dup-shifter--rotation-zero {
    left: 0;
  }

  .dup-shifter--rotation-one {
    left: -1920px;
  }

  .dup-shifter--rotation-two {
    right: 0;
  }
}

.dup-screen-viewport--all {
  width: 5760px;
}
