.body-normal {
  position: relative;
}

.body-normal__header {
  top: 0;
  left: 0;
  width: 1920px;
  height: 248px;
}

.body-normal__main-content {
  top: 0;
  left: 0;
  width: 1920px;
  height: 832px;
  background-color: #e6e4e1;
}
