// body total height: 1648px

.body-left-flex {
  position: relative;
}

.body-left-flex__paged-main-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1080px;
  height: 1720px;
  overflow: hidden;
}
