.departure-destination {
  width: 452px;
  font-family: Inter;
}

.departure-destination__headsign {
  font-size: 72px;
  line-height: 72px;
  font-weight: 600;
  color: black;
}

.departure-destination__variation {
  margin-top: 20px;

  font-size: 48px;
  line-height: 48px;
  font-weight: 400;
  color: black;
}
