.left-pane,
.middle-pane,
.right-pane {
  .evergreen-content__identifiers {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(23 31 38 / 70%);

    @include font--caption-3;

    color: white;
    text-align: right;
    padding: 12px 24px 18px;
  }
}

.evergreen-content-image__image,
.evergreen-content-video,
.evergreen-content-video .looping-video {
  width: 1080px;
  height: 1920px;
}
