.screen-container {
  position: relative;
  width: 3240px;
  height: 1920px;
  margin: 0px auto;
  overflow: hidden;
}

.three-flex-panes {
  display: flex;
}

.left-pane, .middle-pane, .right-pane {
  width: 1080px;
}