.overnight-departures__container {
    position: relative;
    width: 1200px;
    height: 3200px;
}

.overnight-departures__time {
    position: absolute;
    right: 40px;
    top: 40px;
    font-family: Inter;
    color: #ffffff;
    font-size: 72px;
    line-height: 72px;
}