@use "CSS/colors";
@use "CSS/common/route_pill_mixins" as mixins;

.route-pill {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100px;

  @include mixins.pill-background-colors;

  &--yellow {
    box-shadow: 2px 4px 2px 0 rgb(0 0 0 / 25%);
  }

  &--outline {
    background: none;
    border: 2px solid colors.$cool-black-30;
    box-shadow: none;

    .route-pill__slashed-text {
      color: colors.$cool-black-30;
    }
  }
}

.route-pill__text {
  position: absolute;
  width: 100%;
  font-size: 48px;
  font-weight: 700;
  line-height: 74px;
  text-align: center;

  @include mixins.pill-text-colors;

  &--outline {
    color: colors.$cool-black-30;
  }
}

.route-pill__icon {
  position: absolute;
  width: 100%;
  text-align: center;
}

.route-pill__icon-image {
  height: 60px;
  margin-top: 7px;
}

.route-pill__slashed-text {
  position: absolute;
  width: 100%;
  font-size: 32px;
  font-weight: 700;
  line-height: 74px;
  text-align: center;
}

.route-pill__slashed-part-1 {
  display: inline-block;
}

.route-pill__slashed-part-2 {
  display: inline-block;
}

.route-pill__dual-container {
  width: 100%;
  height: 100%;
}

.route-pill__dual-text {
  position: absolute;
  width: 144px;
  font-size: 48px;
  font-weight: 700;
  line-height: 74px;
  text-align: center;
  clip-path: path(
    "M 0 37 C 0 16.565 16.565 0 37 0 L 112 0 C 119.386 0 126.189 2.195 131.857 5.961 C 124.053 13.51 119.201 24.087 119.201 35.797 C 119.201 47.506 124.053 58.083 131.857 65.632 C 126.189 69.399 119.386 71.593 112 71.593 L 37 71.593 C 16.565 71.593 0 55.028 0 34.593 Z"
  );

  @include mixins.pill-text-colors;
  @include mixins.pill-background-colors;

  &--small {
    font-size: 42px;
  }

  &--large {
    font-size: 48px;
  }
}

.route-pill__dual-secondary {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  box-shadow: 2px 4px 2px 0 rgb(0 0 0 / 25%);

  @include mixins.pill-background-colors;
}

.route-pill__dual-secondary-image {
  height: 52px;
}

.alert-widget__content__route-pills--small {
  .route-pill {
    width: 104px;
    height: 64px;
  }

  .route-pill__text {
    font-size: 42px;
    line-height: 64px;
  }

  .route-pill__icon-image {
    height: 52px;
    margin-top: 6px;
  }

  .route-pill__slashed-text {
    font-size: 28px;
    line-height: 64px;
  }
}
