@use "CSS/colors";

.alert-widget--flex-zone {
  // Slot dimensions are 480x580, but this leaves space for the drop-shadow.
  width: 520px;
  height: 620px;

  .alert-widget__card {
    // Move the card so that it fits in the medium flex zone slot and only its drop-shadow extends outside.
    transform: translateX(-20px) translateY(-10px);
  }

  .alert-widget__content {
    position: relative;
    box-sizing: border-box;
    width: 480px;
    height: 580px;
    padding-top: 24px;
    padding-right: 32px;
    padding-left: 32px;
  }

  .alert-widget__content__route-pills {
    height: 74px;

    & .route-pill {
      display: inline-block;
    }

    &--regular .route-pill {
      &:not(:first-child) {
        margin-left: 16px;
      }
    }

    &--small .route-pill {
      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }

  .alert-widget__content__icon {
    position: absolute;
    top: 0;
    right: 0;
  }

  .alert-widget__content__header-text {
    height: 48px;
    margin-top: 32px;
    font-family: Inter, sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 48px;
    color: rgb(23 31 38);
    letter-spacing: 0;
  }

  .alert-widget__content__body-text {
    margin-top: 24px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    color: rgb(23 31 38);
    letter-spacing: 0;

    &--regular {
      font-size: 32px;
      line-height: 40px;
    }

    &--small {
      height: 280px;
      overflow: hidden;
      font-size: 24px;
      line-height: 32px;
    }
  }

  .alert-widget__content__cta {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgb(115 115 115);
    border-radius: 0 0 16px 16px;
  }

  .alert-widget__content__cta__icon {
    display: none;
  }

  .alert-widget__content__cta__link-arrow-container {
    display: none;
  }

  .alert-widget__content__cta__url {
    padding-top: 18px;
    padding-right: 24px;
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    color: white;
    text-align: right;
  }
}

.alert-widget--full-body {
  width: 1080px;
  height: 1648px;
  background: colors.$alert-yellow;

  .alert-widget__card {
    transform: translateY(10px);
  }

  .alert-widget__content {
    position: relative;
    box-sizing: border-box;
    width: 1000px;
    height: 1568px;
    padding-top: 64px;
    padding-right: 64px;
    padding-left: 64px;
  }

  .alert-widget__content__route-pills {
    display: none;
  }

  .alert-widget__content__icon {
    height: 256px;
  }

  .alert-widget__content__icon-image {
    height: 256px;
  }

  .alert-widget__content__header-text {
    height: 120px;
    margin-top: 64px;
    font-family: Inter, sans-serif;
    font-size: 120px;
    font-weight: 800;
    line-height: 120px;
    color: white;
    letter-spacing: 0;
  }

  .alert-widget__content__body-text {
    margin-top: 64px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    color: white;
    letter-spacing: 0;

    &--regular {
      font-size: 56px;
      line-height: 72px;
    }

    &--small {
      height: 744px;
      overflow: hidden;
      font-size: 42px;
      line-height: 58px;
    }
  }

  .alert-widget__content__cta {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 192px;
    background: rgb(46 62 77);
    border-radius: 0 0 32px 32px;
  }

  .alert-widget__content__cta__icon {
    position: absolute;
    top: 32px;
    left: 64px;
    height: 128px;
  }

  .alert-widget__content__cta__icon__image {
    height: 128px;
  }

  .alert-widget__content__cta__link-arrow-container {
    display: none;
  }

  .alert-widget__content__cta__url {
    padding-top: 32px;
    padding-right: 64px;
    font-family: Inter, sans-serif;
    font-size: 64px;
    font-weight: 800;
    line-height: 128px;
    color: white;
    text-align: right;
  }
}
