.route-pill {
  position: relative;
  width: 144px;
  height: 74px;
  border-radius: 100px;

  &--blue {
    background-color: $line-color-blue;
  }

  &--green {
    background-color: $line-color-green;
  }

  &--orange {
    background-color: $line-color-orange;
  }

  &--purple {
    background-color: $line-color-cr;
  }

  &--red {
    background-color: $line-color-red;
  }

  &--silver {
    background-color: $line-color-silver;
  }

  &--teal {
    background-color: $line-color-ferry;
  }

  &--yellow {
    background-color: $line-color-bus;
    box-shadow: 2px 4px 2px 0px rgba(0, 0, 0, 0.25);
  }
}

.route-pill__text {
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: "neue-haas-grotesk-text";
  font-size: 48px;
  line-height: 74px;
  font-weight: 700;

  &--yellow {
    color: black;
  }

  &--blue,
  &--green,
  &--orange,
  &--purple,
  &--red,
  &--silver,
  &--teal {
    color: white;
  }
}

.route-pill__icon {
  position: absolute;
  width: 100%;
  text-align: center;
}

.route-pill__icon-image {
  height: 60px;
  margin-top: 7px;
}

.route-pill__slashed-text {
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: "neue-haas-grotesk-text";
  font-size: 32px;
  line-height: 74px;
  font-weight: 700;
}

.route-pill__slashed-part-1 {
  display: inline-block;
}

.route-pill__slashed-part-2 {
  display: inline-block;
}

.alert-widget__content__route-pills--small {
  .route-pill {
    width: 104px;
    height: 64px;
  }

  .route-pill__text {
    font-size: 42px;
    line-height: 64px;
  }

  .route-pill__icon-image {
    height: 52px;
    margin-top: 6px;
  }

  .route-pill__slashed-text {
    font-size: 28px;
    line-height: 64px;
  }
}
