.simulation-screen-container {
  display: flex;
  background: #3d5366;

  .simulation__full-page {
    height: 344px;
    width: 193.5px;
    margin-right: 24px;

    & > * {
      transform-origin: top left;
      transform: scale(17.92%);
    }
  }

  .simulation__flex-zone {
    background: #2e3f4d;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    border: 8px solid #2e3f4d;
    border-radius: 8px;
  }

  .simulation__flex-zone-widget {
    width: 256px;
    height: 145px;

    &:not(:last-child) {
      margin-right: 24px;
    }

    .flex-one-large,
    .flex-two-medium {
      transform-origin: top left;
      transform: scale(25%);

      & > * {
        position: unset;
      }
    }

    .flex-two-medium {
      display: flex;

      .flex-two-medium__left {
        margin-right: 40px;
      }
    }
  }
}
