.simulation-screen-scrolling-container {
  .simulation__flex-zone {
    position: relative;
    display: flex;
    height: 160px;
    margin: auto 2px auto 0;
    background: #2e3f4d;
    border-radius: 0 8px 8px 0;

    &::before {
      position: absolute;
      right: 100%;
      content: "";

      // NO HEIGHT
      border-top: 80px solid transparent;
      border-right: 100px solid #2e3f4d;
      border-bottom: 80px solid transparent;
    }
  }

  .simulation__flex-zone-widget {
    width: 256px;
    height: 144px;
    margin-top: auto;
    margin-bottom: auto;

    &:last-child {
      margin-right: 8px;
    }

    &:not(:last-child) {
      margin-right: 24px;
    }

    .flex-one-large,
    .flex-two-medium {
      transform: scale(25%);
      transform-origin: top left;

      .flex-one-large__large {
        .evergreen-content-image__container,
        .evergreen-content-image__image {
          max-width: 1024px;
          max-height: 576px;
        }
      }

      .flex-two-medium__left,
      .flex-two-medium__right {
        .evergreen-content-image__container,
        .evergreen-content-image__image {
          max-width: 480px;
          max-height: 580px;
        }
      }

      & > * {
        position: unset;
      }
    }

    .flex-two-medium {
      display: flex;

      .flex-two-medium__left {
        margin-right: 40px;
      }
    }
  }
}
