.simulation-screen-centering-container {
  display: flex;
  justify-content: center;
  background: #3d5366;
}

.simulation-screen-scrolling-container {
  scrollbar-color: #607180 #2E3F4D;

  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #607180;
    border-radius: 12px;
    border: 2px solid #2E3F4D;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    background-color: #2E3F4D;
  }
}

.simulation-screen-scrolling-container {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  padding-bottom: 8px;

  .simulation__full-page {
    height: 344px;
    width: 193.5px;
    margin-right: 24px;
    z-index: 999;
    box-shadow: 0px 0px 32px 0px #00000040;

    & > * {
      transform-origin: top left;
      transform: scale(17.92%);
    }
  }

  .simulation__flex-zone {
    background: #2e3f4d;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    height: 160px;
    border-radius: 0 8px 8px 0;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      right: 100%;
      // NO HEIGHT
      border-top: 80px solid transparent;
      border-right: 100px solid #2e3f4d;
      border-bottom: 80px solid transparent;
    }
  }

  .simulation__flex-zone-widget {
    width: 256px;
    height: 144px;
    margin-top: auto;
    margin-bottom: auto;

    &:last-child {
      margin-right: 8px;
    }

    &:not(:last-child) {
      margin-right: 24px;
    }

    .flex-one-large,
    .flex-two-medium {
      transform-origin: top left;
      transform: scale(25%);

      .flex-one-large__large {
        .evergreen-content-image__container,
        .evergreen-content-image__image {
          max-width: 1024px;
          max-height: 576px;
        }
      }

      .flex-two-medium__left,
      .flex-two-medium__right {
        .evergreen-content-image__container,
        .evergreen-content-image__image {
          max-width: 480px;
          max-height: 580px;
        }
      }

      & > * {
        position: unset;
      }
    }

    .flex-two-medium {
      display: flex;

      .flex-two-medium__left {
        margin-right: 40px;
      }
    }
  }
}
