.evergreen-content-image__container {
    background-color: #e4e6e1;
    overflow: hidden;
  }
  
  .flex-one-medium-two-small__left,
  .flex-two-medium__left,
  .flex-two-medium__right {
    .evergreen-content-image__container {
      border-radius: 16px;
      box-shadow: 0px 12px 24px 0px rgba(23, 31, 38, 0.25);
      width: 1200px;
      height: 1164px;
    }
  
    .evergreen-content-image__image {
      width: 1200px;
      height: 1164px;
    }
  }
  
  .flex-one-large__large {
    .evergreen-content-image__container {
      border-radius: 16px;
      box-shadow: 0px 12px 24px 0px rgba(23, 31, 38, 0.25);
      width: 1200px;
      height: 1312px;
    }
  
    .evergreen-content-image__image {
      width: 1200px;
      height: 1312px;
    }
  }
  
  .body-normal__main-content {
    .evergreen-content-image__container {
      width: 1200px;
      height: 1312px;
    }
  
    .evergreen-content-image__image {
      width: 1200px;
      height: 1312px;
    }
  }
  
  .body-normal__footer {
    .evergreen-content-image__container {
      width: 1200px;
      height: 436px;
    }
  
    .evergreen-content-image__image {
      width: 1200px;
      height: 436px;
    }
  }
  
  .body-takeover__full-body {
    .evergreen-content-image__container {
      width: 1200px;
      height: 1600px;
    }
  
    .evergreen-content-image__image {
      width: 1200px;
      height: 1600px;
    }
  }
  
  .screen-normal__header {
    .evergreen-content-image__container {
      width: 1200px;
      height: 288px;
    }
  
    .evergreen-content-image__image {
      width: 1200px;
      height: 288px;
    }
  }
  
  .screen-takeover__full-screen {
    .evergreen-content-image__container {
      width: 1200px;
      height: 3200px;
    }
  
    .evergreen-content-image__image {
      width: 1200px;
      height: 3200px;
    }
  }
  