.body-top-takeover {
  position: relative;
  width: 1200px;
  height: 2912px;
}

.body-top-takeover__top-screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1200px;
  height: 1312px;
}

.body-top-takeover__flex-zone {
  position: absolute;
  top: 1312px;
  left: 0px;
  width: 1200px;
  height: 1164px;
}

.body-top-takeover__footer {
  position: absolute;
  top: 2476px;
  left: 0px;
  width: 1200px;
  height: 436px;
}
