@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/HelveticaNeue-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/HelveticaNeue-Medium.ttf") format("truetype");
  font-display: swap;
}
