@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../static/fonts/Helvetica Neue Bold.ttf") format("truetype");
}

@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../static/fonts/Helvetica Neue Medium.ttf") format("truetype");
}
