.departures-card__header {
  padding: 40px 60px 0 60px;
  box-sizing: border-box;
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
  
  span {
    vertical-align: middle;
  }
  .inline-ol-pill {
    height: 72px;
    margin: 0 27px;
    vertical-align: middle;
  }
  .departures-card__header-text {
    margin: 40px 0;
    width: 860px;
  }
  .pill-container {
    display: inline-flex;
    align-items: center;
  }
}

.departures-card__sub-header {
  display: flex;
  font-size: 40px;
  line-height: 52px;
  font-weight: 500;
  width: 850px;
  margin-bottom: 80px;
  .free-cr {
    height: 56px;
    width: 56px;
    margin-right: 24px;
  }
}
