.departures-card__header {
  box-sizing: border-box;
  padding: 40px 60px 0;
  font-size: 72px;
  font-weight: 800;
  line-height: 80px;

  span {
    vertical-align: middle;
  }

  .route-pill {
    width: 149px;
    height: 72px;
    margin: 0 27px;
    vertical-align: middle;
  }

  .departures-card__header-text {
    width: 860px;
    margin: 40px 0;
  }

  .pill-container {
    display: inline-flex;
    align-items: center;
  }
}

.departures-card__sub-header {
  display: flex;
  width: 850px;
  margin-bottom: 80px;
  font-size: 40px;
  font-weight: 500;
  line-height: 52px;

  .free-cr {
    width: 56px;
    height: 56px;
    margin-right: 24px;
  }
}
