.cr-departure-time {
  .cr-departure-time__prediction {
    padding-top: 35px;
    color: rgb(115, 115, 115);
    font-size: 56px;
    font-family: Inter, sans-serif;
    font-weight: 800;
    text-align: right;
    line-height: 56px;

    &.delayed {
      color: rgb(115, 115, 115);
    }
  }

  .cr-departure-time__subtext {
    color: rgb(115, 115, 115);
    font-family: Inter, sans-serif;
    text-align: right;
    letter-spacing: 0px;
    margin-top: 26px;

    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
  }

  .cr-departure-time__live-data-icon {
    transform: scaleX(-1);
    height: 36px;
    width: 36px;
  }

  .base-departure-time {
    line-height: 64px;
    font-size: 72px;
    &__minutes {
      line-height: unset;
    }
  }
}
