@use "CSS/colors";

.departures-container {
  height: 100%;
  padding: 32px;
  font-family: Inter, sans-serif;
  background-color: colors.$line-cr;
}

.departures-card {
  height: 1656px;
  background-color: colors.$warm-neutral-85;
  border-radius: 16px;
}

.departures-card__body {
  box-sizing: border-box;
  height: 1016px;
  padding: 32px 44px;
  background-color: #ebeae8;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 16%);

  .departures-card__body-english {
    padding-bottom: 8px;
    font-size: 32px;
    line-height: 44px;
  }

  .departures-card__body-spanish {
    padding-bottom: 36px;
    font-size: 24px;
    line-height: 36px;
  }
}

.departures-card__overnight-image {
  height: 1016px;
}
