.cr-departures-table {
  border-collapse: collapse;
  table-layout: fixed;
  th {
    font-size: 32px;
    text-align: left;
    padding-bottom: 72px;
  }
  tr {
    &:not(:first-child) {
      height: 272px;
      border-top: 4px solid #cccbc8;
    }
  }

  // When the table has "via" stations listed
  // the whole alignment is changed: top aligned
  // vs without stations it's centered
  td.track.with-stations {
    vertical-align: top;
    .arrow-image {
      padding-top: 28px;
    }
    .track-tbd {
      padding-top: 53px;
    }
  }
  td.headsign.with-stations {
    vertical-align: top;
    padding-top: 34px;
  }
  td.arrival.with-stations {
    vertical-align: top;
    .base-departure-time {
      padding-top: 24px;
    }
  }
  // END alignment code

  .headsign {
    padding-left: 82px;
    width: 516px;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 56px;
  }
  .arrival {
    padding-left: 7px;
    width: 233px;
    height: 64px;
    font-size: 72px;
    font-weight: 800;
    text-align: right;
    line-height: 64px;
  }
  .track {
    width: 90px;
  }
  .track-tbd {
    width: 90px;
    height: 90px;
    text-align: center;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
  }
  .stops-at-text {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 40px;
    margin-top: 16px;
  }
  .headsign-text {
    font-size: 56px;
    width: 516px;
    margin-bottom: 7px;
  }
  .track-number-text {
    padding-top: 40px;
    text-align: center;
    height: 56px;
    font-size: 56px;
  }
  .arrow-image {
    width: 90px;
    text-align: center;

    .departure__arrow-image {
      height: 64px;
      width: 64px;
    }
  }
  .via-service-icon {
    display: inline-block;
    vertical-align: middle;
  }
  .via-stop-name {
    display: inline-block;
    vertical-align: middle;
    margin-left: 24px;
  }
}
