.departures-container {
  font-family: Inter, sans-serif;
  height: 100%;
  background-color: #80276c;
  padding: 32px;
}
.departures-card {
  border-radius: 16px;
  background-color: #d9d6d0;
  height: 1656px;
}

.departures-card__body {
  background-color: #ebeae8;
  padding: 32px 44px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.16);
  height: 1016px;
  box-sizing: border-box;

  .departures-card__body-english {
    font-size: 32px;
    line-height: 44px;
    padding-bottom: 8px;
  }
  .departures-card__body-spanish {
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 36px;
  }
}
.departures-card__overnight-image {
  height: 1016px;
}
