.cr-departure-time {
  .cr-departure-time__prediction {
    font-family: Inter, sans-serif;
    font-size: 56px;
    font-weight: 800;
    line-height: 56px;
    color: rgb(115 115 115);
    text-align: right;

    &.delayed {
      color: rgb(115 115 115);
    }
  }

  .cr-departure-time__subtext {
    margin-top: 26px;
    font-family: Inter, sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
    color: rgb(115 115 115);
    text-align: right;
    letter-spacing: 0;
  }

  .cr-departure-time__live-data-icon {
    width: 36px;
    height: 36px;
    transform: scaleX(-1);
  }

  .base-departure-time {
    font-size: 72px;
    line-height: 64px;

    &__minutes {
      line-height: unset;
    }
  }
}
