.overnight-cr-departures__container {
  position: relative;
  height: 100%;
  padding: 32px;
  font-family: Inter, sans-serif;
  background-color: #80276c;

  .overnight-cr-departures__card {
    height: 1656px;
    background-color: #d9d6d0;
    border-radius: 16px;

    .overnight-cr-departures__body {
      height: 625px;
      background: rgb(235 234 232);
      box-shadow: 0 10px 20px 0 rgb(0 0 0 / 12%);

      .cr-departures-table {
        color: rgb(153 152 150);
      }

      .overnight-cr-departures__body-text {
        margin-top: 92px;
        margin-right: 148px;
        margin-left: 216px;

        &--english {
          font-family: Inter, sans-serif;
          font-size: 48px;
          font-weight: bold;
          line-height: 64px;
          color: rgb(128 39 108);
        }

        &--spanish {
          margin-top: 25px;
          font-family: Inter, sans-serif;
          font-size: 40px;
          font-weight: normal;
          line-height: 56px;
          color: rgb(23 31 38);
        }
      }
    }

    .overnight-cr-departures__footer {
      height: 767px;

      .overnight-cr-departures__overnight-icon {
        position: absolute;
        top: 1001px;
        left: 64px;
        width: 64px;
        height: 64px;
      }

      .overnight-cr-departures__last-train-text {
        position: absolute;
        top: 992px;
        left: 219px;
        width: 706px;

        &--english {
          font-family: Inter, sans-serif;
          font-size: 40px;
          font-weight: 600;
          line-height: 56px;
          color: rgb(23 31 38);
        }

        &--spanish {
          margin-top: 8px;
          font-family: Inter, sans-serif;
          font-size: 32px;
          font-weight: normal;
          line-height: 48px;
          color: rgb(23 31 38);
        }
      }

      .overnight-cr-departures__schedule {
        .overnight-cr-departures__schedule-departure-time-container {
          position: absolute;
          top: 1135px;
          left: 195px;
          width: 353px;
          height: 120px;
          background: rgb(232 231 228);
          border-radius: 12px;

          .overnight-cr-departures__schedule-departure-time {
            position: absolute;
            margin-top: 5px;
            margin-left: 24px;
            font-family: Inter, sans-serif;
            font-size: 78px;
            font-weight: 600;
            line-height: 109.1px;
            color: rgb(23 31 38);
          }

          .overnight-cr-departures__schedule-departure-time-am-pm {
            position: absolute;
            right: 0;
            width: 114px;
            margin-top: 37px;
            font-family: Inter, sans-serif;
            font-size: 57px;
            font-weight: normal;
            line-height: 56.87px;
            color: rgb(23 31 38);
            letter-spacing: 1.53px;
          }
        }

        .overnight-cr-departures__schedule-headsign {
          position: absolute;
          top: 1165px;
          left: 559px;
          width: 402px;
          font-family: Inter, sans-serif;
          font-size: 28px;
          line-height: 36px;
          color: rgb(23 31 38);
          letter-spacing: 0;

          &--stop {
            font-weight: bold;
          }
        }
      }

      .overnight-cr-departures__footer-hairline {
        position: absolute;
        top: 1322px;
        left: 75px;
        width: 917px;
        height: 4px;
        background: rgb(23 31 38);
        border-radius: 2px;
        opacity: 0.1;
      }

      .overnight-cr-departures__footer-cr-info {
        position: absolute;
        top: 1389px;
        left: 219px;

        &--english {
          width: 756px;
          font-family: Inter, sans-serif;
          font-size: 32px;
          font-weight: 600;
          line-height: 32px;
          color: rgb(23 31 38);
        }

        &--spanish {
          width: 756px;
          margin-top: 16px;
          font-family: Inter, sans-serif;
          font-size: 24px;
          font-weight: normal;
          line-height: 24px;
          color: rgb(23 31 38);
        }

        &--url {
          width: 756px;
          margin-top: 20px;
          font-family: Inter, sans-serif;
          font-size: 32px;
          font-weight: 600;
          line-height: 44px;
          color: rgb(23 31 38);
        }
      }

      .overnight-cr-departures__footer-cr-info-icon {
        position: absolute;
        top: 1387px;
        left: 64px;
        width: 72px;
        height: 72px;
      }
    }
  }
}
