.overnight-cr-departures__container {
  font-family: Inter, sans-serif;
  height: 100%;
  background-color: #80276c;
  padding: 32px;

  .overnight-cr-departures__card {
    border-radius: 16px;
    background-color: #d9d6d0;
    height: 1656px;
  }
}
