.overnight-cr-departures__container {
  font-family: Inter, sans-serif;
  height: 100%;
  background-color: #80276c;
  padding: 32px;
  position: relative;

  .overnight-cr-departures__card {
    border-radius: 16px;
    background-color: #d9d6d0;
    height: 1656px;

    .overnight-cr-departures__body {
      height: 625px;
      background: rgb(235, 234, 232);
      box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.12);

      .cr-departures-table {
        color: rgb(153, 152, 150);
      }

      .overnight-cr-departures__body-text {
        margin-left: 216px;
        margin-top: 92px;
        margin-right: 148px;

        &--english {
          color: rgb(128, 39, 108);
          font-size: 48px;
          font-family: Inter, sans-serif;
          font-weight: bold;
          line-height: 64px;
        }

        &--spanish {
          margin-top: 25px;
          color: rgb(23, 31, 38);
          font-size: 40px;
          font-family: Inter, sans-serif;
          font-weight: normal;
          line-height: 56px;
        }
      }
    }

    .overnight-cr-departures__footer {
      height: 767px;

      .overnight-cr-departures__overnight-icon {
        width: 64px;
        height: 64px;
        position: absolute;
        top: 1001px;
        left: 64px;
      }

      .overnight-cr-departures__last-train-text {
        width: 706px;
        position: absolute;
        top: 992px;
        left: 219px;
        &--english {
          color: rgb(23, 31, 38);
          font-size: 40px;
          font-family: Inter, sans-serif;
          font-weight: 600;
          line-height: 56px;
        }

        &--spanish {
          margin-top: 8px;
          color: rgb(23, 31, 38);
          font-size: 32px;
          font-family: Inter, sans-serif;
          font-weight: normal;
          line-height: 48px;
        }
      }

      .overnight-cr-departures__schedule {
        .overnight-cr-departures__schedule-departure-time-container {
          position: absolute;
          top: 1135px;
          left: 195px;
          width: 353px;
          height: 120px;
          background: rgb(232, 231, 228);
          border-radius: 12px;

          .overnight-cr-departures__schedule-departure-time {
            position: absolute;
            margin-left: 24px;
            margin-top: 5px;
            color: rgb(23, 31, 38);
            font-size: 78px;
            font-family: Inter, sans-serif;
            font-weight: 600;
            line-height: 109.1px;
          }

          .overnight-cr-departures__schedule-departure-time-am-pm {
            width: 114px;
            position: absolute;
            right: 0;
            margin-top: 42px;
            color: rgb(23, 31, 38);
            font-size: 57px;
            font-family: Inter, sans-serif;
            font-weight: normal;
            letter-spacing: 1.53px;
            line-height: 56.87px;
          }
        }

        .overnight-cr-departures__schedule-headsign {
          position: absolute;
          top: 1165px;
          left: 559px;
          width: 402px;
          color: rgb(23, 31, 38);
          font-size: 28px;
          font-family: Inter, sans-serif;

          letter-spacing: 0px;
          line-height: 36px;

          &--stop {
            font-weight: bold;
          }
        }
      }

      .overnight-cr-departures__footer-hairline {
        position: absolute;
        top: 1322px;
        left: 75px;
        width: 917px;
        height: 4px;
        background: rgb(23, 31, 38);
        opacity: 10%;
        border-radius: 2px;
      }

      .overnight-cr-departures__footer-cr-info {
        position: absolute;
        top: 1389px;
        left: 219px;

        &--english {
          width: 756px;
          color: rgb(23, 31, 38);
          font-size: 32px;
          font-family: Inter, sans-serif;
          font-weight: 600;
          line-height: 32px;
        }

        &--spanish {
          margin-top: 16px;
          width: 756px;
          color: rgb(23, 31, 38);
          font-size: 24px;
          font-family: Inter, sans-serif;
          font-weight: normal;
          line-height: 24px;
        }

        &--url {
          margin-top: 20px;
          width: 756px;
          color: rgb(23, 31, 38);
          font-size: 32px;
          font-family: Inter, sans-serif;
          font-weight: 600;
          line-height: 44px;
        }
      }

      .overnight-cr-departures__footer-cr-info-icon {
        width: 72px;
        height: 72px;
        position: absolute;
        top: 1387px;
        left: 64px;
      }
    }
  }
}
