.rotation-zero {
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}

.rotation-one {
  top: 0;
  left: 1920px;
  width: 1920px;
  height: 1080px;
}

.rotation-two {
  top: 0;
  left: 3840px;
  width: 1920px;
  height: 1080px;
}

.rotation-normal__header {
  top: 0;
  left: 0;
  width: 1920px;
  height: 248px;
}

.rotation-normal__body {
  top: 248px;
  left: 0;
  width: 1920px;
  height: 832px;
}
