.rotation-zero {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
}

.rotation-one {
  position: absolute;
  top: 0px;
  left: 1920px;
  width: 1920px;
  height: 1080px;
}

.rotation-two {
  position: absolute;
  top: 0px;
  left: 3840px;
  width: 1920px;
  height: 1080px;
}

.rotation-normal__header {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 248px;
}

.rotation-normal__body {
  top: 248px;
  left: 0px;
  width: 1920px;
  height: 832px;
}
