.departure-destination {
  font-family: Inter;
}

.departure-destination__headsign {
  width: 592px;

  font-size: 64px;
  line-height: 64px;
  font-weight: 600;
  color: #171f26;
}

.departure-destination__variation {
  width: 592px;
  margin-top: 8px;

  font-size: 48px;
  line-height: 56px;
  font-weight: 400;
  color: #171f26;
}
