@import "../base/base_departure_destination";

.base-departure-destination__primary {
  font-weight: 400;
}

.base-departure-destination__secondary {
  font-weight: 400;
}

.departure-destination {
  color: #171f26;
  display: inline-block;
  vertical-align: middle;
  width: 554px;
  font-size: 50px;
}
