.departure-container {
  background-color: #f5f4f1;
}

.section--vertical {
  .departure-container {
    border-left: 88px solid #e3e3e3;
  }
}

.departure {
  margin-left: 42px;
  margin-right: 42px;
  padding-bottom: 10px;
  padding-top: 10px;

  &:not(:last-child) {
    border-bottom: 3px solid rgba(199, 199, 199, 0.58);
  }

  &--with-via {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  &--no-via {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.departure__alerts-container {
  margin-top: 6px;
  margin-left: 168px;
  height: 48px;
}

.departure-group--multiple-rows {
  .departure__alerts-container {
    position: absolute;
  }
}
