.departure-route {
  display: inline-block;
  vertical-align: middle;
}

.departure-route--yellow .base-route-pill__pill {
  color: black;
  background: #ffc72c;
}

.departure-route--blue .base-route-pill__pill {
  color: white;
  background: #003da5;
}

.departure-route--red .base-route-pill__pill {
  color: white;
  background: #da291c;
}

.departure-route--orange .base-route-pill__pill {
  color: white;
  background: #ed8b00;
}

.departure-route--green .base-route-pill__pill {
  color: white;
  background: #00843d;
}

.departure-route--purple .base-route-pill__pill {
  color: white;
  background: #80276c;
}

.departure-route--silver .base-route-pill__pill {
  color: white;
  background: #7c878e;
}

.screen-container--size-normal {
  .departure-route {
    width: 142px;
    margin-right: 26px;
    font-size: 50px;
  }

  .departure-route--icon {
    height: 50px;
    margin-top: 4.5px;
  }
}

.screen-container--size-large {
  .departure-route {
    width: 200px;
    margin-right: 32px;
    font-size: 96px;
  }

  .departure-route--icon {
    height: 72px;
    margin-top: 4.5px;
  }
}
