@import "../base/base_departure_time";

.departure-time {
  color: #171f26;
  text-align: right;
  display: inline-block;
  vertical-align: middle;

  &--animated {
    animation: pulse 500ms cubic-bezier(0.65, 0, 0.35, 1) infinite;
  }

  @keyframes pulse {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.3;
    }

    100% {
      opacity: 1;
    }
  }

  &--overhead-with-crowding {
    // Time is visible for 10s before we switch to showing crowding
    animation: swap-with-crowding 10000ms linear;

    @keyframes swap-with-crowding {
      0% {
        transform: translateX(200%);
      }

      // 200ms to enter/leave
      2% {
        transform: translateX(0);
      }

      98% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(200%);
      }
    }
  }
}

.screen-container--size-normal {
  .departure-time {
    width: 200px;
    font-size: 50px;
  }
}

.screen-container--size-large {
  .departure-time {
    width: 234px;
    font-size: 108px;
  }

  .base-departure-time__timestamp {
    font-size: 0.5em;
  }

  .base-departure-time__ampm {
    font-size: 0.365em;
  }
}
