.departure-headway {
  display: inline-block;
  width: 300px;
  text-align: right;
  vertical-align: middle;
}

.departure-headway__destination {
  display: inline-block;
  width: 528px;
  font-size: 50px;
  color: #171f26;
  vertical-align: middle;
}

.departure-headway__highlight {
  display: inline-block;
  color: white;
  background: #007373;
  border-radius: 5.5px;
  box-shadow: 0 8px 20px rgb(0 0 0 / 23%);
}

.departure-headway__message {
  @include font--text--55regular;

  margin-right: 10px;
  margin-left: 10px;
  font-size: 36px;
  line-height: 52px;
}

.departure-headway__range {
  @include font--text--75bold;
}
