.departure-container {
  background-color: #f5f4f1;
}

.section--vertical {
  .departure-container {
    border-left: 88px solid #e3e3e3;
  }
}

.departure {
  &:not(:last-child) {
    border-bottom: 3px solid rgba(199, 199, 199, 0.58);
  }
}

.departure--size-normal {
  margin-left: 42px;
  margin-right: 42px;
  padding-bottom: 10px;
  padding-top: 10px;

  &.departure--with-via {
    padding-top: 13.5px;
    padding-bottom: 13.5px;
  }

  &.departure--no-via {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .departure__alerts-container {
    margin-top: 6px;
    margin-left: 168px;
    height: 48px;
  }
}

.departure-group--multiple-rows {
  .departure__alerts-container {
    position: absolute;
  }
}

.departure--size-large {
  margin-left: 32px;
  margin-right: 32px;
  padding-bottom: 32px;
  padding-top: 32px;

  .departure__alerts-container {
    margin-top: 6px;
    margin-left: 232px;
    height: 112px;
  }
}
