@import "../base/base_departure_destination";
@import "../fonts";

.departure-destination {
  color: #171f26;
  display: inline-block;
  vertical-align: middle;
}

.screen-container--size-normal {
  .departure-destination {
    width: 641px;
    font-size: 50px;

    &--no-departures-placeholder {
      font-size: 40px;
      width: 815px;
    }
  }
}

.section--vertical {
  .departure-destination {
    width: 553px;

    &--no-departures-placeholder {
      width: 727px;
    }
  }
}

.screen-container--size-large {
  .departure-destination {
    @include font--text--65medium;
    width: 550px;
    font-size: 96px;

    &--no-departures-placeholder {
      width: 784px;
      font-size: 84px;
    }
  }

  .base-departure-destination__secondary {
    font-size: 0.875em;
  }
}
