.departures-container {
  background-color: #f5f4f1;
}

.section--vertical {
  .departures-container {
    border-left: 88px solid #e3e3e3;
  }
}

.departure-container--group-end:not(:last-child) {
  border-bottom: 3px solid rgba(199, 199, 199, 0.58);
}

.departure-container--group-start:not(.departure-container--group-end) {
  .departure__alerts-container {
    position: absolute;
  }
}

.screen-container--size-normal {
  .departure {
    margin-left: 42px;
    margin-right: 42px;
    padding-bottom: 7px;
    padding-top: 7px;
  }

  .departure-container--group-start {
    .departure--with-via {
      padding-top: 13.5px;
    }

    .departure--no-via {
      padding-top: 24px;
    }
  }

  .departure-container--group-end {
    .departure--with-via {
      padding-bottom: 13.5px;
    }

    .departure--no-via {
      padding-bottom: 24px;
    }
  }

  .departure__alerts-container {
    margin-top: 6px;
    margin-left: 168px;
    height: 48px;
  }
}

.screen-container--size-large {
  .departure {
    margin-left: 32px;
    margin-right: 32px;
    padding-bottom: 0;
    padding-top: 0;
  }

  .departure-container--group-start {
    .departure {
      padding-top: 32px;
    }
  }

  .departure-container--group-end {
    .departure {
      padding-bottom: 32px;
    }
  }

  .departure__alerts-container {
    margin-top: 6px;
    margin-left: 232px;
    height: 112px;
  }
}

.departure-animated {
  &--normal {
    // hide new departures until the previous departure has animated out
    &-enter {
      display: none;
    }

    &-enter-active {
      display: none;
    }
  }

  &--arr-brd {
    &-exit {
      transform: translateX(0%);
    }

    &-exit-active {
      transform: translateX(100%);
      transition: transform 200ms cubic-bezier(0.32, 0, 0.67, 0);
    }
  }
}

// Make sure the dummy section list is easy to tell from the real one
.section-list--dummy .departures-container {
  background-color: #ff00ff;
}
