@import "../base/base_departure_destination";

.departure-destination {
  color: #171f26;
  display: inline-block;
  vertical-align: middle;
  width: 654px;
  font-size: 50px;
}

.departure-destination--no-departures-placeholder {
  font-size: 40px;
}

.section--vertical {
  .departure-destination {
    width: 566px;
  }
}
