@import "../fonts";

.header {
  background-color: #171f26;
  color: white;
}

.header__time {
  @include font--text--55regular;
  position: absolute;
}

.header__content-container {
  padding-top: 128px;
  padding-left: 48px;
}

.header__station-name {
  @include font--display--75bold;
  letter-spacing: 2px;
}

.header__subtitle {
  @include font--display--65medium;
  letter-spacing: 3px;
}

.header__environment {
  @include font--text--75bold;
  position: absolute;
  top: 12px;
  left: 40px;
  font-size: 48px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 48px;
}

.screen-container--size-normal {
  .header {
    height: 355px;
  }

  .header__time {
    font-size: 50px;
    line-height: 72px;
    top: 23px;
    right: 35px;
  }

  .header__station-name {
    font-size: 111px;
    line-height: 120px;
  }

  .header__subtitle {
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 16px;
    line-height: 60px;
  }
}

.screen-container--size-large {
  .header {
    height: 456px;
  }

  .header__time {
    top: 32px;
    right: 40px;
    font-size: 96px;
    line-height: 96px;
  }

  .header__station-name {
    font-size: 156px;
    line-height: 156px;
  }

  .header__subtitle {
    font-size: 96px;
    line-height: 96px;
    margin-top: 32px;
  }
}
