@import "../fonts";

.header {
  background-color: #171f26;
  color: white;
  height: 355px;
}

.header__time {
  @include font--text--55regular;
  position: absolute;
  font-size: 50px;
  line-height: 72px;
  top: 23px;
  right: 35px;
}

.header__content-container {
  padding-top: 125px;
  padding-left: 46px;
}

.header__title {
  @include font--display--75bold;
  font-size: 111px;
  letter-spacing: 2px;
  line-height: 120px;
}

.header__station-name {
  @include font--display--65medium;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 3px;
  margin-top: 16px;
  line-height: 60px;
}

.header__environment {
  @include font--text--75bold;
  position: absolute;
  top: 12px;
  left: 40px;
  font-size: 48px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 48px;
}
