.header {
  background-color: #171f26;
  color: white;
  height: 355px;
}

.header__time {
  position: absolute;
  font-family: neue-haas-grotesk-text;
  font-size: 60px;
  top: 31px;
  right: 35px;
}

.header__content-container {
  padding-top: 127px;
  padding-left: 46px;
  font-family: neue-haas-grotesk-display;
}

.header__title {
  font-size: 111px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 120px;
}

.header__station-name {
  text-transform: uppercase;
  font-size: 54px;
  letter-spacing: 3px;
  margin-top: 20px;
  line-height: 60px;
}

.header__environment {
  position: absolute;
  top: 12px;
  left: 40px;
  font-family: neue-haas-grotesk-text;
  font-size: 48px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 48px;
  font-weight: 700;
}
