@import "../fonts";

.inline-alert-badge {
  display: inline-block;
  box-shadow: 0px 5px 21px rgba(0, 0, 0, 0.2);
  vertical-align: middle;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &--delay {
    background: #171f26;
  }

  &--snow_route {
    background: #ffffff;
    border: 3px solid #171f26;
    box-sizing: border-box;
  }

  &--last_trip {
    background: #404274;
  }
}

.inline-alert-badge__text {
  display: inline-block;
  @include font--text--65medium;
  vertical-align: middle;
  text-transform: uppercase;

  &--delay {
    color: #ffffff;
  }

  &--snow_route {
    color: #171f26;
  }

  &--last_trip {
    color: #ffffff;
  }
}

.inline-alert-badge__icon-container {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
}

.inline-alert-badge__icon-image {
  vertical-align: middle;
}

.departure--size-normal {
  .inline-alert-badge {
    height: 48px;
    border-radius: 5px;
  }

  .inline-alert-badge__text {
    font-size: 30px;
    line-height: 48px;
    margin-left: 12px;
    margin-right: 19px;

    &--snow_route {
      line-height: 42px;
    }
  }

  .inline-alert-badge__icon-container {
    margin-left: 12px;
    height: 48px;
    width: 31px;

    &--snow_route {
      height: 42px;
    }
  }

  .inline-alert-badge__icon-image {
    height: 32px;
    width: 32px;
    margin-top: 8px;

    &--snow_route {
      margin-top: 5px;
    }
  }
}

.departure--size-large {
  .inline-alert-badge {
    height: 112px;
    border-radius: 10px;
  }

  .inline-alert-badge__text {
    font-size: 60px;
    line-height: 112px;
    margin-left: 32px;
    margin-right: 46px;

    &--snow_route {
      line-height: 106px;
    }
  }

  .inline-alert-badge__icon-container {
    margin-left: 30px;
    height: 76px;
    width: 60px;

    &--snow_route {
      height: 70px;
    }
  }

  .inline-alert-badge__icon-image {
    height: 60px;
    width: 60px;
    margin-top: 8px;

    &--snow_route {
      margin-top: 5px;
    }
  }
}

.departure-group--multiple-rows {
  .inline-alert-badge {
    position: relative;
  }
}
