.inline-alert-badge {
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 5px 21px rgb(0 0 0 / 20%);

  &:not(:last-child) {
    margin-right: 30px;
  }

  &--delay {
    background: #171f26;
  }

  &--snow_route {
    box-sizing: border-box;
    background: #fff;
    border: 3px solid #171f26;
  }

  &--last_trip {
    background: #404274;
  }
}

.inline-alert-badge__text {
  display: inline-block;
  text-transform: uppercase;
  vertical-align: middle;

  @include font--text--65medium;

  &--delay {
    color: #fff;
  }

  &--snow_route {
    color: #171f26;
  }

  &--last_trip {
    color: #fff;
  }
}

.inline-alert-badge__icon-container {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
}

.inline-alert-badge__icon-image {
  vertical-align: middle;
}

.screen-container--size-normal {
  .inline-alert-badge {
    height: 48px;
    border-radius: 5px;
  }

  .inline-alert-badge__text {
    margin-right: 19px;
    margin-left: 12px;
    font-size: 30px;
    line-height: 48px;

    &--snow_route {
      line-height: 42px;
    }
  }

  .inline-alert-badge__icon-container {
    width: 31px;
    height: 48px;
    margin-left: 12px;

    &--snow_route {
      height: 42px;
    }
  }

  .inline-alert-badge__icon-image {
    width: 32px;
    height: 32px;
    margin-top: 8px;

    &--snow_route {
      margin-top: 5px;
    }
  }
}

.screen-container--size-large {
  .inline-alert-badge {
    height: 112px;
    border-radius: 10px;
  }

  .inline-alert-badge__text {
    margin-right: 46px;
    margin-left: 32px;
    font-size: 60px;
    line-height: 112px;

    &--snow_route {
      line-height: 106px;
    }
  }

  .inline-alert-badge__icon-container {
    width: 60px;
    height: 76px;
    margin-left: 30px;

    &--snow_route {
      height: 70px;
    }
  }

  .inline-alert-badge__icon-image {
    width: 60px;
    height: 60px;
    margin-top: 8px;

    &--snow_route {
      margin-top: 5px;
    }
  }
}

.departure-group--multiple-rows {
  .inline-alert-badge {
    position: relative;
  }
}
