.screen-container {
  position: relative;
  margin: 0px auto;
  width: 1080px;
  height: 1920px;

  background: repeating-linear-gradient(
    -45deg,
    #f5f4f1 0,
    #f5f4f1 40%,
    rgba(199, 199, 199, 0.58) 40% 50%
  );
  background-size: 15px 15px;
  overflow-y: hidden;
}
