.screen-container {
  position: relative;
  margin: 0 auto;
  width: 1080px;
  height: 1920px;
  background: repeating-linear-gradient(
    -45deg,
    #f5f4f1 0%,
    #f5f4f1 40%,
    rgb(199 199 199 / 58%) 40%,
    rgb(199 199 199 / 58%) 50%
  );
  background-size: 15px 15px;
  overflow-y: hidden;
}
