.section-list {
  font-family: neue-haas-grotesk-text;
}

.section-header {
  color: #171f26;
  background-color: #e1e1df;
  height: 128px;
  border-top: 5px solid rgba(23, 31, 38, 0.1);
}

.section-header__name {
  font-size: 53px;
  font-weight: 700;
  line-height: 128px;
  margin-left: 27px;
  vertical-align: middle;
}

.section-header__arrow-container {
  height: 128px;
  font-size: 0;
  margin-left: 42px;
  vertical-align: middle;
}

.section-header__arrow-image {
  width: 57px;
  height: 57px;
  margin: 35.5px 0 35.5px;
}
