@import "../fonts";

.section {
  border-top: 5px solid #c5c7c9;
}

.section--vertical {
  position: relative;

  .section-header {
    color: black;
    height: 88px;
    transform-origin: 100% 0;
    transform: translateX(-100%) rotate(-90deg);
    position: absolute;
    top: 0;
    left: 0;
  }

  .section-header__name {
    margin-right: 28px;
    font-size: 36px;
    line-height: 88px;
    text-transform: uppercase;
  }

  .later-departure__header-title {
    font-size: 30px;
  }
}

.section--normal {
  .section-header {
    color: #171f26;
    background-color: #e1e1df;
    height: 123px;
  }

  .section-header__name {
    font-size: 50px;
    line-height: 123px;
    margin-left: 48px;
  }
}

.section-header__name {
  @include font--text--75bold;
  vertical-align: middle;
}

.section-header__arrow-container {
  float: right;
  margin-right: 50px;
  height: 123px;
  width: 57px;
  font-size: 0;
  vertical-align: middle;
}

.section-header__arrow-image {
  width: 57px;
  height: 57px;
  margin: 33px 0 33px;
}

.later-departure {
  border-top: 5px solid #ababab;
  border-bottom: 5px solid #ababab;
}

.later-departure__header {
  position: relative;
  margin-left: 42px;
  margin-right: 42px;
  margin-top: 12px;
  border-bottom: 5px solid #ababab;
}

.later-departure__header-title {
  display: inline-block;
  margin-top: 34px;
  margin-bottom: 27px;
  @include font--text--65medium;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2px;
  color: #171f26;
}

.later-departure__header-route-list {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 31px;
}

.later-departure__route-pill {
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 46px;
  margin-left: 25px;

  &--selected {
    background: #ffc72c;
    color: #000000;
    height: 46px;
    width: 89px;
  }

  &--selected:before,
  &--selected:after {
    content: "";
    border-style: solid;
    border-width: 14px;
    width: 0;
    height: 0;
    position: absolute;
    top: 44px;
    left: 30px;
  }

  &--selected:before {
    border-color: transparent transparent #ababab;
  }

  &--selected:after {
    margin-top: 7px;
    border-color: transparent transparent #f5f4f1;
  }

  &--unselected {
    color: rgba(23, 31, 38, 0.8);
    border: 3px solid rgba(23, 31, 38, 0.8);
    height: 40px;
    width: 83px;
  }

  &--with-slash {
    top: -4.5px;
  }
}

.later-departure__route-text {
  @include font--text--75bold;

  &--with-slash {
    font-size: 24px;
  }

  &--no-slash {
    font-size: 36px;
  }

  &--selected {
    line-height: 46px;
  }

  &--unselected {
    line-height: 40px;
  }
}
