.section-list {
  font-family: neue-haas-grotesk-text;
}

.section-header {
  color: #171f26;
  background-color: #e1e1df;
  height: 128px;
  border-top: 5px solid rgba(23, 31, 38, 0.1);
}

.section-header__name {
  font-size: 53px;
  vertical-align: center;
  font-weight: 700;
  line-height: 128px;
}
