@import "../fonts";

.section-header {
  color: #171f26;
  background-color: #e1e1df;
  height: 123px;
  border-top: 5px solid rgba(23, 31, 38, 0.1);
}

.section-header__name {
  @include font--text--75bold;
  font-size: 50px;
  line-height: 123px;
  margin-left: 48px;
  vertical-align: middle;
}

.section-header__arrow-container {
  float: right;
  margin-right: 50px;
  height: 123px;
  width: 57px;
  font-size: 0;
  vertical-align: middle;
}

.section-header__arrow-image {
  width: 57px;
  height: 57px;
  margin: 33px 0 33px;
}

.section__later-departure-header {
  @include font--text--65medium;
  font-size: 40px;
  margin-left: 42px;
  margin-top: 12px;
}
