.evergreen-content-video {
  background-color: #e4e6e1;
  overflow: hidden;
}

.flex-two-medium__left,
.flex-two-medium__right {
  .evergreen-content-video {
    border-radius: 16px;
    box-shadow: 0px 12px 24px 0px rgba(23, 31, 38, 0.25);
  }

  .evergreen-content-video,
  .looping-video {
    width: 480px;
    height: 580px;
  }
}

.flex-one-large__large {
  .evergreen-content-video {
    border-radius: 16px;
    box-shadow: 0px 12px 24px 0px rgba(23, 31, 38, 0.25);
  }

  .evergreen-content-video,
  .looping-video {
    width: 1080px;
    height: 628px;
  }
}

.body-takeover-left__full-body,
.body-takeover-right__full-body {

  .evergreen-content-video,
  .looping-video {
    width: 1080px;
    height: 1648px;
  }
}

.screen-normal__header {

  .evergreen-content-video,
  .looping-video {
    width: 1080px;
    height: 272px;
  }
}

.screen-takeover__full-screen {

  .evergreen-content-video,
  .looping-video {
    width: 2160px;
    height: 1920px;
  }
}

.screen-split-takeover__full-left-screen,
.screen-split-takeover__full-right-screen {

  .evergreen-content-video,
  .looping-video {
    width: 1080px;
    height: 1920px;
  }
}
