.body-takeover {
  position: relative;
  width: 1200px;
  height: 2912px;
}

.body-takeover__top-screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1200px;
  height: 1312px;
}

.body-takeover__bottom-screen {
  position: absolute;
  top: 1312px;
  left: 0px;
  width: 1200px;
  height: 1600px;
}
