.departures-container {
  font-family: Inter, sans-serif;
  height: 100%;
  background-color: #ed8b00;
  padding: 32px;
}
.departures-card {
  border-radius: 16px;
  background-color: #d9d6d0;
  height: 1656px;
}
.departures-card__header {
  display: flex;
  padding: 40px;
  height: 264px;
  box-sizing: border-box;
  .commuter-rail-icon {
    height: 80px;
    width: 80px;
    border-radius: 51px;
    padding: 11px;
    background-color: #80276c;
    margin-right: 74px;
  }
  .departures-card__header-text-english {
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    padding-bottom: 8px;
  }
  .departures-card__header-text-spanish {
    font-size: 48px;
    font-weight: 400;
    line-height: 66px;
  }
}
.departures-card__body {
  background-color: #ebeae8;
  height: 1016px;
  box-sizing: border-box;
  table {
    border-collapse: collapse;
    margin: 0 44px;
    table-layout: fixed;
    td {
      border-bottom: 4px solid #cccbc8;
      padding: 30px 0;
    }
    .arrow {
      width: 150px;
    }
    .headsign {
      width: 435px;
      font-size: 48px;
      font-weight: 500;
    }
    .arrival {
      width: 180px;
      font-size: 72px;
      font-weight: 800;
      text-align: right;
    }
    .track,
    .track-column {
      padding-left: 60px;
      font-size: 56px;
    }
  }
  .table-header__english {
    @include font--text--75bold;
    font-size: 32px;
    line-height: 44px;
  }
  .table-header__spanish {
    @include font--text--55roman;
    font-size: 24px;
    line-height: 36px;
  }

  .departures-card__body-english {
    font-size: 32px;
    line-height: 44px;
    padding-bottom: 8px;
  }
  .departures-card__body-spanish {
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 36px;
  }
}
.departures-card__footer {
  height: 376px;
  .departures-card__time-to-destination {
    margin-left: 96px;
  }
  .departures-card__footer-ride-free {
    margin-left: 96px;
  }
  .departures-card__footer__clock-icon-container {
    height: 56px;
    width: 56px;
  }
  .departures-card__footer-english {
    font-size: 40px;
    font-weight: bold;
    line-height: 52px;
    margin-right: 24px;
    &.ride-free {
      padding-bottom: 8px;
    }
  }
  .departures-card__footer-spanish {
    font-size: 32px;
    line-height: 44px;
  }
}

.departures-card__info-row {
  display: flex;
  padding-top: 52px;
  .small-svg {
    height: 56px;
    width: 56px;
    margin-left: 64px;
    &.clock-icon {
      margin-left: 64px;
    }
    &.free-cr {
      fill: #00843d;
    }
  }
  .departures-card__info-text {
    width: 732px;
    margin-left: 92px;
  }
}
