@use "CSS/colors";
@use "CSS/lcd_free_text" as freeText;

.free-text__element {
  &:not(:last-child)::after {
    content: " ";
  }
}

.free-text__string {
  &--bold {
    font-weight: 700;
  }
}

.free-text__string--nowrap {
  white-space: nowrap;
}

.free-text__route-pill {
  display: inline-block;
  width: 423px;
  height: 218px;
  font-weight: 700;
  text-align: center;
  border-radius: 109px;

  &--green,
  &--green_b,
  &--green_c,
  &--green_d,
  &--green_e {
    background: colors.$line-green;
  }

  &--blue {
    background: colors.$line-blue;
  }

  &--red,
  &--mattapan {
    background: colors.$line-red;
  }

  &--orange {
    background: colors.$line-orange;
  }

  &--silver {
    background: colors.$line-silver;
  }

  &--cr {
    background: colors.$line-cr;
  }

  &--bus,
  &--yellow {
    color: black;
    background: colors.$line-bus;
    box-shadow: 2px 4px 2px 0 rgb(0 0 0 / 25%);
  }

  &--ferry,
  &--teal {
    background-color: colors.$line-ferry;
  }

  &--capeflyer,
  &--ocean_blue {
    background: colors.$line-capeflyer;
  }

  .free-text__route-pill_text {
    font-size: 96px;
    line-height: unset;
  }
}

.departures__notice-row {
  @include freeText.free-text-styles;
}
