.normal-header {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgb(23 31 38);
}

.normal-header-icon {
  display: inline-block;
  vertical-align: middle;
}

.normal-header-icon__image {
  height: 128px;
  width: 128px;
  margin-right: 28px;
}

.normal-header-title {
  width: 1000px;
  position: absolute;
  left: 40px;
  bottom: 40px;

  &--large {
    font-size: 104px;
    line-height: 104px;
  }

  &--small {
    font-size: 72px;
    line-height: 72px;
  }
}

.normal-header-title__text {
  display: inline-block;
  vertical-align: middle;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  color: #fff;

  .normal-header-title--with-icon & {
    width: 668px;
  }
}

.normal-header-time {
  position: absolute;
  right: 40px;
  top: 40px;
  font-family: Inter, sans-serif;
  font-size: 56px;
  line-height: 56px;
  font-weight: 600;
  color: #fff;
}

.left-screen .normal-header-time,
.right-screen .normal-header-title {
  display: none;
}

.normal-header__environment {
  @include font--text--75bold;

  position: absolute;
  font-size: 36px;
  color: #fff;
  letter-spacing: 0;
  line-height: 48px;
  padding-top: 10px;
  margin-left: 48px;
}
