@mixin large-text {
  font-size: 112px;
  line-height: 120px;
  font-weight: 700;
}

@mixin small-text {
  font-size: 35px;
  line-height: 42px;
  font-weight: 600;
}

.pre-fare-alert__page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.alert-container--single-page {
  font-family: Inter;
  flex-grow: 1;
  min-height: 0;
  width: 1080px;
  padding: 0 32px 32px 32px;
  box-sizing: border-box;

  /* Alert contents */
  .alert-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0px 10px 20px 0px rgba(23, 31, 38, 0.25);
    background-color: #e5e4e1;
  }

  .alert-card__body {
    min-height: 0;
    flex-grow: 1;
    padding: 120px 56px 0 56px;
    box-sizing: border-box;

    .alert-card__content-block {
      height: 100%;
      display: flex;
      flex-flow: column;
      align-items: flex-start;
    }
  }

  .alert-card__issue,
  .alert-card__remedy {
    display: flex;
  }
  .alert-card__issue {
    margin-bottom: 48px;
  }
  .alert-card__remedy {
    margin-bottom: 32px;
    &__text {
      font-size: 74px;
      font-weight: 600;
      align-self: center;
    }
  }

  .alert-card__issue__location {
    @include small-text();
    margin-top: 40px;
  }

  .alert-card__remedy__shuttle-icons {
    display: flex;
    flex-direction: column;
  }

  .alert-card__icon {
    color: #171f26;
    height: 124px;
    min-width: 124px;
    margin-right: 45px;
  }

  .alert-card__content-block__text {
    font-weight: 700;
    &--large {
      @include large-text();
    }
    &--medium {
      font-size: 86.4px;
      line-height: 95px;
    }
  }

  .alert-card__content-block--downstream {
    .alert-card__content-block__text {
      line-height: 108px;
    }
  }

  .alert-card__pio-text__icon {
    height: 192px;
    color: #171f26;
    margin-bottom: 48px;
  }
  .alert-card__pio-text__main-text {
    font-size: 88px;
    line-height: 105.6px;
    font-weight: 700;
    margin-bottom: 54px;
  }
  .alert-card__pio-text__secondary-text {
    font-size: 68px;
    line-height: 81px;
    font-weight: 500;
    &--small {
      font-size: 55.1px;
      line-height: 65.63px;
    }
  }

  .alert-card__body__accessibility-info {
    &--text {
      margin-top: 22px;
      @include small-text();
    }
  }

  .alert-card__isa-icon {
    height: 40px;
    margin: auto 45px 0 auto;
  }

  .alert-card__footer {
    flex-shrink: 0;
    background: #cccbc8;
    border-radius: 0px 0px 4px 4px;
    height: 84px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 60px;
    font-size: 32px;
    justify-content: right;
  }
  .alert-card__footer__cause {
    flex-grow: 1;
  }
  .alert-card__footer__datetime {
    font-weight: 600;
  }

  .disruption-diagram-container {
    flex: 1 1 0;
    margin-bottom: 32px;
  }
}

.alert-container--no-banner {
  padding-top: 32px;
}

.alert-container--right {
  position: absolute;
  top: 0;
  left: 1080px;
}

.alert-card__content-block__route-pill {
  height: 124px;
  display: inline;
  vertical-align: bottom;
  margin-right: 9px;
  &:last-of-type {
    margin-right: 46px;
  }
}

.alert-container--single-page {
  /* Background colors */
  &.alert-container--blue {
    background-color: $line-color-blue;
  }

  &.alert-container--red {
    background-color: $line-color-red;
  }

  &.alert-container--orange {
    background-color: $line-color-orange;
  }

  &.alert-container--yellow {
    background-color: $alert-yellow;
  }

  &.alert-container--green {
    background-color: $line-color-green;
  }
}
