$takeover-card-height: 1656px;
$takeover-card-footer-height: 84px;

$alert-card-height: 576px;
$alert-card-footer-height: 80px;

.alert-container {
  // Takeover fonts
  color: #171f26;
  font-family: Inter;

  .x-large-text {
    font-size: 200px;
    font-weight: 800;
    line-height: 220px;
  }
  .large-text {
    font-size: 120px;
    line-height: 144px;
  }
  .medium-text {
    font-size: 72px;
    line-height: 86px;
  }
  .small-text {
    font-size: 56px;
    line-height: 68px;
  }
}

.alert-container--large-flex {
  padding: 26px 28px;
  height: 522px;
  box-sizing: border-box;

  /* Alert contents */
  .alert-card {
    // Move the card so that it fits in the medium flex zone slot and only its drop-shadow extends outside.
    transform: translateX(-20px) translateY(-10px);
  }

  .alert-card__body {
    height: $alert-card-height - $alert-card-footer-height;
    padding: 40px 120px 20px 44px;
    box-sizing: border-box;

    .bold {
      font-weight: 800;
    }
    .medium-bold {
      font-weight: 500;
    }
  }
  .alert-card__body__content {
    padding: 56px 0 0 8px;
    &--extra-small {
      font-size: 40px;
      line-height: 52px;
      .alert-card__body__isa-icon {
        height: 51px;
        padding-left: 16px;
      }
    }
    &--small {
      font-size: 48px;
      line-height: 60px;
      .alert-card__body__isa-icon {
        height: 51px;
        padding-left: 16px;
      }
    }
    &--large {
      font-size: 56px;
      line-height: 68px;
      .alert-card__body__isa-icon {
        height: 51px;
        padding-left: 16px;
      }
    }
    &--extra-large {
      font-size: 72px;
      line-height: 86px;
      .alert-card__body__isa-icon {
        height: 65px;
        padding-left: 16px;
      }
    }
  }
  .alert-card__body__route-pills {
    display: inline-flex;
    .route-pill {
      display: inline-block;
      width: fit-content;
      height: 80px;
      &:not(:first-child) {
        margin-left: 16px;
      }
    }

    .route-pill__text {
      position: relative;
      width: fit-content;
      padding: 0 40px;
      font-size: 60px;
      line-height: 80px;
      text-transform: uppercase;
      font-family: "neue-haas-grotesk-text";
    }

    .route-pills__branches {
      display: inline-flex;
      margin-left: -16px;

      .route-pills__branches__dot {
        height: 92px;
        width: 92px;
        border-radius: 50%;
        position: absolute;
        margin: -6px;
        background-color: #e6e4e1;
      }

      .route-pill--branch {
        width: 80px;
        display: inline-flex;
        justify-content: center;
        margin-left: 6px;
        &:nth-child(2) {
          margin-left: 0;
        }
        .route-pill__text {
          padding: 0;
        }
      }
    }
  }
  .alert-card__body__delay-notice {
    font-size: 56px;
    font-weight: 800;
    margin-left: 32px;
    display: inline-block;
  }
  .alert-card__body__icon {
    position: absolute;
    top: 0;
    right: 0;
    &-image {
      height: 176px;
    }
  }
  .alert-card__body__remedy {
    font-weight: 800;
    padding-top: 32px;
    display: flex;
    align-items: center;
  }
  .alert-card__footer {
    background-color: #cccbc8;
    border-radius: 0px 0px 32px 32px;
    height: $alert-card-footer-height;
  }
  .alert-card__footer__alerts-url {
    color: black;
    font-size: 40px;
    text-align: right;
    padding: 16px 34px 24px 0;
  }
}

.alert-container--takeover {
  color: white;
  height: 100%;
  width: 1080px;
  padding: 32px;
  box-sizing: border-box;

  /* Alert contents */
  .alert-card {
    width: 1016px;
    height: 100%;
    border-radius: 4px;
    background-color: #e5e4e1;
    color: #171f26;

    &__body {
      height: $takeover-card-height - $takeover-card-footer-height;
      width: 904px;
      padding-left: 56px;
      box-sizing: border-box;
      font-family: Inter, sans-serif;
      font-size: 200px;
      font-weight: 800;

      .container {
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
      }

      &__icon {
        flex-shrink: 0;
        height: 300px;
        margin-bottom: 48px;
        padding-top: 112px;
      }

      &__issue {
        width: 904px;
        margin-bottom: 32px;
        line-height: 220px;
      }

      &__location {
        font-size: 60px;
        font-weight: 500;
      }

      &__cause {
        font-weight: 500;
        text-transform: capitalize;
      }

      &__remedy {
        padding-top: 474px;
        height: 660px;
        line-height: 220px;
      }

      &__shuttle-icon {
        height: 300px;
        padding-top: 112px;
      }

      &__shuttle-remedy {
        height: 660px;
        line-height: 220px;
      }

      &__accessibility-info {
        margin-top: 34px;
        display: flex;
        &--text {
          font-weight: 600;
          font-size: 53px;
          min-width: 811px;
          color: #000000;
        }
      }

      &__isa-icon {
        height: 61px;
        padding-right: 33px;
      }

      .disruption-diagram-container {
        width: 100%;
        flex: 1;
        min-height: 0;
        margin-bottom: 10px;
      }
    }

    &__footer {
      color: #000000;
      background-color: #cccbc8;
      border-radius: 0px 0px 4px 4px;
      height: $takeover-card-footer-height;
      font-size: 32px;
      font-weight: 400;
      position: relative;
      text-align: center;

      &__cause {
        position: absolute;
        bottom: 20px;
        left: 60px;
        height: 44px;
        margin-top: 20px;
        text-transform: capitalize;
      }

      &__updated-at {
        position: absolute;
        bottom: 20px;
        right: 60px;
        height: 44px;
        text-align: end;
        margin-top: 20px;

        .bold {
          font-weight: 600;
        }
      }

      &__alerts-url {
        position: absolute;
        bottom: 20px;
        right: 60px;
        text-align: right;
      }
    }
  }
}

.alert-container--right {
  position: absolute;
  top: 0;
  left: 1080px;
}

// Color overrides for urgent style
.alert-container--large-flex.alert-container--urgent {
  color: white;

  .alert-card__footer {
    background-color: black;
  }
  .alert-card__footer__alerts-url {
    color: white;
    font-weight: 500;
  }
  .alert-card__body__route-pills
    .route-pills__branches
    .route-pills__branches__dot {
    background-color: #171f26;
  }
}

.alert-container--takeover,
.alert-container--urgent {
  /* Background colors */
  &.alert-container--blue {
    background-color: $line-color-blue;
  }

  &.alert-container--red {
    background-color: $line-color-red;
  }

  &.alert-container--orange {
    background-color: $line-color-orange;
  }

  &.alert-container--yellow {
    background-color: $alert-yellow;
  }

  &.alert-container--green {
    background-color: $line-color-green;
  }
}
