.screen-container {
  position: relative;
  width: 1080px;
  height: 1920px;
  margin: 0px auto;
  overflow: hidden;
}

.screen-container-blink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}
