.screen-container {
  position: relative;
  height: 1920px;
  margin: 0 auto;
  overflow: hidden;
  // width of a single Pre-Fare display unit; "duo" installations are two of
  // these side-by-side
  --panel-width: 1080px;

  &--duo {
    width: calc(var(--panel-width) * 2);
  }

  &--left,
  &--right,
  &--solo {
    width: var(--panel-width);
  }

  &--right > *,
  &--solo > * {
    margin-left: calc(var(--panel-width) * -1);
  }
}

.screen-container-blink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}
