.shuttle-bus-info {
  position: relative;
  width: 1080px;
  height: 890px;
  overflow: hidden;
  background-color: #1c428a;

  .shuttle-bus-info__container {
    position: relative;
    height: 845px;
    margin: 16px 32px 32px;
    overflow: hidden;
    background: rgb(217 214 208);
    border-radius: 16px;
    box-shadow: 0 10px 20px 0 rgb(23 31 38 / 25%);

    .shuttle-bus-info__header {
      height: 232px;

      .shuttle-bus-info__header-icon-container {
        position: absolute;
        top: 40px;
        left: 40px;

        .shuttle-bus-info__header-icon {
          width: 102px;
          height: 102px;
        }
      }

      .shuttle-bus-info__header-text {
        position: absolute;
        top: 47px;
        left: 216px;

        &--english {
          font-family: Inter;
          font-size: 80px;
          font-weight: bold;
          line-height: 80px;
          color: rgb(23 31 38);
        }

        &--spanish {
          margin-top: 8px;
          font-family: Inter;
          font-size: 48px;
          font-weight: normal;
          line-height: 66px;
          color: rgb(23 31 38);
          opacity: 0.9;
        }
      }
    }

    .shuttle-bus-info__boarding-instructions {
      height: 172px;
      background: rgb(235 234 232);

      .shuttle-bus-info__boarding-instructions-arrow-icon-container {
        position: absolute;
        top: 264px;
        left: 64px;

        .shuttle-bus-info__boarding-instructions-arrow-icon {
          width: 56px;
          height: 56px;
          margin: 0 auto;
        }
      }

      .shuttle-bus-info__boarding-instructions-text {
        position: absolute;
        top: 256px;
        left: 216px;

        &--english {
          font-family: Inter;
          font-size: 48px;
          font-weight: bold;
          line-height: 64px;
          color: rgb(23 31 38);
          letter-spacing: 0;
        }

        &--spanish {
          margin-top: 8px;
          font-family: Inter;
          font-size: 36px;
          font-weight: normal;
          line-height: 44px;
          color: rgb(23 31 38);
          opacity: 0.9;
        }
      }
    }

    .shuttle-bus-info__trip-info {
      height: 441px;

      .shuttle-bus-info__trip-info-time-icon-container {
        position: absolute;
        top: 444px;
        left: 64px;
        width: 56px;
        height: 56px;
      }

      .shuttle-bus-info__trip-info-time-text {
        position: absolute;
        top: 446px;
        left: 216px;

        &--english {
          margin-right: 24px;
          font-family: Inter;
          font-size: 40px;
          font-weight: bold;
          line-height: 52px;
          color: rgb(23 31 38);
        }

        &--spanish {
          font-family: Inter;
          font-size: 32px;
          font-weight: normal;
          line-height: 44px;
          color: rgb(23 31 38);
          opacity: 0.9;
        }
      }

      .shuttle-bus-info__trip-info-price {
        .shuttle-bus-info__trip-info-price-icon-container {
          position: absolute;
          top: 534px;
          left: 64px;

          .shuttle-bus-info__trip-info-price-icon {
            width: 56px;
            height: 56px;
          }
        }

        .shuttle-bus-info__trip-info-price-text {
          position: absolute;
          top: 534px;
          left: 216px;

          &--english {
            margin-right: 24px;
            font-family: Inter;
            font-size: 40px;
            font-weight: bold;
            line-height: 52px;
            color: rgb(23 31 38);
          }

          &--spanish {
            font-family: Inter;
            font-size: 32px;
            font-weight: normal;
            line-height: 44px;
            color: rgb(23 31 38);
            opacity: 0.9;
          }
        }
      }

      .shuttle-bus-info__trip-info-accessibility {
        .shuttle-bus-info__trip-info-accessibility-icon-container {
          position: absolute;
          top: 622px;
          left: 64px;

          .shuttle-bus-info__trip-info-accessibility-icon {
            width: 56px;
            height: 56px;
          }
        }

        .shuttle-bus-info__trip-info-accessibility-text {
          position: absolute;
          top: 622px;
          left: 216px;
          margin-right: 44px;

          &--english {
            font-family: Inter;
            font-size: 32px;
            font-weight: bold;
            line-height: 44px;
            color: rgb(23 31 38);
          }

          &--spanish {
            font-family: Inter;
            font-size: 24px;
            font-weight: normal;
            line-height: 36px;
            color: rgb(23 31 38);
          }
        }
      }
    }
  }
}
