.simulation-screen-centering-container {
  display: flex;
  justify-content: center;
  background: #3d5366;
}

.simulation-screen-scrolling-container {
  scrollbar-color: #607180 #2e3f4d;

  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #607180;
    border-radius: 12px;
    border: 2px solid #2e3f4d;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    background-color: #2e3f4d;
  }
}

.simulation-screen-scrolling-container {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  margin-bottom: 20px;
  height: 449px;

  .simulation__full-page {
    max-height: 407px;
    max-width: 388px;
    margin: 16px;
    z-index: 999;

    .simulation__title {
      font-family: Inter;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      color: #f8f9fa;
      margin-bottom: 10px;
    }

    & > *:not(.simulation__title) {
      transform-origin: top left;
      transform: scale(17.92%);
    }
  }

  .simulation__left-screen {
    height: 375px;
    margin: 32px 16px 16px 16px;

    .simulation__left-screen-widget-container {
      display: flex;

      .simulation__left-screen-widget {
        width: 194px;
        margin-right: 24px;
        & > * {
          height: 1720px;
          width: 1080px;
          transform-origin: top left;
          transform: scale(17.92%);
          overflow: hidden;
        }
      }
    }

    .simulation__title {
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #f8f9fa;
      margin-bottom: 10px;
    }
  }

  .simulation__right-screen {
    height: 375px;
    margin: 128px 16px 16px 16px;

    .simulation__right-screen-widget-container {
      display: flex;

      .simulation__right-screen-widget {
        width: 194px;
        margin-right: 24px;
        & > * {
          height: 1720px;
          width: 1080px;
          transform-origin: top left;
          transform: scale(17.92%);
          overflow: hidden;
        }
      }
    }

    .simulation__title {
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #f8f9fa;
      margin-bottom: 10px;
    }
  }

  .divider:after {
    content: "";
    position: absolute;
    border-left: 1px solid #1e2933;
    top: 48px;
    height: 343px;
  }
}
