.simulation-screen-container {
  display: flex;
  background: #3d5366;

  .simulation__full-page {
    height: 344px;
    width: 387px;
    margin-right: 24px;

    & > * {
      transform-origin: top left;
      transform: scale(17.92%);
    }
  }

  .simulation__flex-zone {
    background: #2e3f4d;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    border: 8px solid #2e3f4d;
    border-radius: 8px;
  }

  .simulation__flex-zone-widget {
    width: 270px;
    height: 157px;

    &:not(:last-child) {
      margin-right: 24px;
    }

    .flex-one-large,
    .flex-two-medium {
      & > * {
        width: 1080px;
        height: 628px;
        transform-origin: top left;
        transform: scale(25%);

        & > * {
          margin: auto;
        }
      }
    }

    .flex-two-medium {
      display: flex;

      .flex-two-medium__left {
        margin-right: 40px;
      }
    }
  }
}
