@import "../lcd_common_styles/subway_status.scss";

.subway-status {
  margin: 26px 28px;
}

.subway-status-footer {
  background-color: #cccbc8;
}

.subway-status-footer__link {
  font-weight: unset;
  color: #171f26;
}
