@import "../lcd_common_styles/subway_status.scss";

.subway-status-footer {
  background-color: #cccbc8 !important;
}

.subway-status-footer__link {
  font-weight: unset !important;
  color: #171f26 !important;
}
