@use "CSS/v2/lcd_common/subway_status";

.subway-status {
  margin: 26px 28px;
}

.subway-status-footer {
  background-color: #cccbc8;
}

.subway-status-footer__link {
  font-weight: unset;
  color: #171f26;
}
