.screen-normal {
  position: relative;
  width: 1080px;
  margin-right: auto;
  margin-left: auto;
}

.screen-normal__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 1080px;
  height: 200px;
  overflow: hidden;
}

.screen-normal__body {
  position: absolute;
  top: 200px;
  left: 0;
  width: 1080px;
  height: 1720px;
  overflow: hidden;
}
