.screen-normal {
  position: relative;
  width: 1080px;
  margin-right: auto;
  margin-left: auto;
}

.screen-normal__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 1080px;
  height: 272px;
  overflow: hidden;
}

.screen-normal__body {
  position: absolute;
  top: 272px;
  left: 0;
  width: 1080px;
  height: 1648px;
  overflow: hidden;
}
