@use "CSS/colors";

.link-footer {
  position: relative;
  height: 156px;
  background: colors.$warm-neutral-85;
}

.link-footer__contents {
  position: absolute;
  top: 24px;
  left: 48px;
}

.link-footer__logo {
  display: inline-block;
  vertical-align: middle;
}

.link-footer__logo-image {
  width: 108px;
  height: 108px;
  margin-right: 42px;
}

.link-footer__message {
  display: inline-block;
  font-size: 48px;
  line-height: 48px;
  color: #000;
  vertical-align: middle;
}

.link-footer__message-url {
  font-weight: 700;
}
