// body total height: 1648px

.body-right-normal {
  position: relative;
}

.body-right-normal__upper {
  position: absolute;
  top: 0;
  left: 0;

  width: 1080px;
  height: 640px;
  overflow: hidden;
}

.body-right-normal__lower {
  position: absolute;
  top: 640px;
  left: 0;

  width: 1080px;
  height: 1008px;
  overflow: hidden;
}
