// body total height: 1648px

.body-right-takeover {
  position: relative;
}

.body-right-takeover__full-body {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1080px;
  height: 1648px;
  overflow: hidden;
}
