@use "CSS/colors";
@use "CSS/lcd/section_header";

.departures-header {
  @include section_header.base;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  white-space: pre-line;
  border: none;
}

.departures-header__subtitle {
  width: 1005px;
  padding-bottom: 44px;
  margin-top: 10px;
  margin-left: 32px;
  font-size: 40px;
  line-height: 54px;
  white-space: pre-line;
}

.departures-header__separator {
  margin: 0 32px;
  border: 0;
  border-bottom: 4px solid colors.$true-grey-70;
}

.departures-header + .departures-header__separator {
  display: none;
}

.departures-header__separator:last-child {
  display: none;
}

.departures-header__image {
  vertical-align: middle;
}
