@use "CSS/colors";
@use "CSS/lcd/section_header";

.departures-header {
  @include section_header.base;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  white-space: pre-line;
}

.departures-section:first-of-type .departures-header:empty {
  height: 8px;
  border: none;
}

.departures-header__subtitle {
  width: 1005px;
  padding-bottom: 44px;
  margin-top: 10px;
  margin-left: 32px;
  font-size: 40px;
  line-height: 54px;
  white-space: pre-line;
}

.departures-header__subtitle + .departure-row::before {
  display: block;
  height: 4px;
  margin: 0 32px;
  content: "";
  background-color: colors.$true-grey-70;
}
