.departure-row,
.departures__notice-row {
  position: relative;
  padding-bottom: 30px;
}

.departures__notice-row {
  margin-top: 27px;
  margin-left: 32px;
}

.departure-row {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  padding-right: 32px;
  padding-left: 32px;
}

.departure-row__route {
  width: 144px;
  height: 74px;
  margin-top: 27px;

  .departure-row--wide-pill & {
    width: 198px;
  }
}

.departure-row__destination {
  min-width: 0;
  max-width: 520px;
  height: 74px;
  margin-top: 32px;
}

.departure-row__time {
  justify-self: end;
  margin-top: 32px;
}
