.departure-row,
.departures__notice-row {
  position: relative;
  padding-bottom: 30px;
}

.departures__notice-row {
  margin-top: 27px;
  margin-left: 32px;
}

.departure-row {
  display: grid;
  grid-template-columns: 144px 520px 302px;
  column-gap: 24px;
  padding-right: 32px;
  padding-left: 32px;

  &--wide-pill {
    grid-template-columns: 198px 466px 302px;
  }
}

.departure-row__route {
  height: 74px;
  margin-top: 27px;
}

.departure-row__destination {
  margin-top: 32px;
}

.departure-row__time {
  justify-self: end;
  margin-top: 32px;
}
