@use "CSS/colors";

.departures-section {
  background-color: colors.$warm-neutral-95;

  & > .departure-row:not(:last-child)::after {
    position: absolute;
    bottom: 0;
    left: 200px;
    width: 848px;
    height: 4px;
    content: "";
    background-color: colors.$warm-neutral-80;
    border-radius: 2px;
  }

  & > .departure-row--direction-split::after {
    left: 0;
    width: 100%;
    background-color: colors.$true-grey-70;
  }

  .departures-section-divider {
    border-top: 4px solid colors.$true-grey-70;
  }

  &:not(:first-child) {
    & > .departures-section-divider--only-image-header {
      height: 24px;
      background-color: colors.$warm-neutral-80;
    }
  }
}

.departures-section:first-child {
  & > .departures-section-divider {
    border: none;
  }
}

.overnight-section {
  & > .departures__notice-row {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-right: 24px;

    .free-text {
      font-size: 64px;
      font-weight: 600;
    }
  }
}

.departures__overnight-no-service {
  font-size: 56px;
}
