@use "CSS/colors";

.departure-times-with-crowding {
  width: 328px;
}

.departure-time-with-crowding {
  text-align: right;

  &:not(:first-child) {
    margin-top: 16px;
  }

  .departure-time:not(.departure-time--timestamp) {
    width: 210px;
  }

  .departure-time.departure-time--text {
    animation: pulse 500ms cubic-bezier(0.65, 0, 0.35, 1) infinite;
  }

  @keyframes pulse {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.3;
    }

    100% {
      opacity: 1;
    }
  }
}

.departure-time {
  display: inline-block;
  font-variant-numeric: tabular-nums;
  vertical-align: middle;
  color: colors.$cool-black-15;
}

.departure-time__text {
  display: inline-block;
  font-size: 72px;
  font-weight: 800;
  line-height: 64px;
}

.departure-time__minutes {
  display: inline-block;
  margin-left: 4px;
  font-size: 72px;
  font-weight: 800;
  line-height: 64px;
}

.departure-time__minutes-label {
  display: inline-block;
  font-size: 56px;
  line-height: 56px;
}

.departure-time__timestamp {
  display: inline-block;
  font-size: 72px;
  font-weight: 800;
  line-height: 64px;
}

.departure-time__live-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
