.departures {
  display: inline-block;
  width: 758px;
  vertical-align: top;
}

.departures__headway-message {
  @include font--text--55regular;

  padding-top: 72px;
  padding-right: 40px;
  padding-bottom: 72px;
  font-size: 72px;
  color: #999;
  text-align: right;
}

.departures__headway-message--large {
  @include font--display--75bold;

  font-size: 96px;
  line-height: 96px;
  color: #000;
  letter-spacing: 1px;
}

.departures__headway-message__subheading {
  @include font--text--55regular;

  padding-right: 40px;
  padding-bottom: 72px;
  font-size: 56px;
  color: #999;
  text-align: right;
}

.departures__headway-message__range {
  white-space: nowrap;
}

.departures__departure {
  padding-top: 72px;
  padding-right: 40px;
  padding-bottom: 72px;
  font-size: 336px;
  text-align: right;

  & .base-departure-time__text {
    line-height: 1em;
  }

  & .base-departure-time__minutes {
    line-height: 1em;
  }

  & .base-departure-time__minutes-label {
    line-height: 0.729em;
  }

  & .base-departure-time__timestamp {
    font-size: 0.5em;
  }

  & .base-departure-time__ampm {
    font-size: 0.365em;
  }
}

.departures__hairline {
  width: 718px;
  height: 2px;
  background: #ccc;
}

.departures__container {
  position: relative;
  height: 100%;
}

.departures__delay-badge {
  position: absolute;
  right: 0;
  bottom: 52px;
}

.departures-list-psa {
  position: relative;
  z-index: 1;
}
