.header {
  background-color: black;
  color: white;
  height: 288px;
  position: relative;
}

.header__environment {
  position: absolute;
  top: 12px;
  left: 40px;
  font-family: neue-haas-grotesk-text;
  font-size: 48px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 48px;
  font-weight: 700;
}

.header__time {
  position: absolute;
  top: 28px;
  right: 40px;
  font-family: neue-haas-grotesk-text;
  font-size: 72px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: right;
  line-height: 72px;
  font-weight: 400;
}

.header__realtime-indicator {
  position: absolute;
  right: 40px;
  bottom: 47px;
  width: 240px;
  height: 64px;
  font-family: neue-haas-grotesk-text;
  font-size: 24px;
  color: #ffffff;
  text-align: right;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
}

.header__realtime-indicator-icon {
  height: 32px;
  width: 32px;
  margin-right: 8px;
}

.header__stop-container {
  width: 900px;
  font-family: neue-haas-grotesk-display;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 1px;
  position: absolute;
  bottom: 28px;
  left: 40px;
}

.header__stop-container-route {
  display: inline-block;
  vertical-align: middle;
  margin-right: 24px;
}

.header__stop-container-route-image {
  width: 128px;
  height: 128px;
}

.header__stop-name {
  display: inline-block;
  vertical-align: middle;
}

.header__stop-name--small {
  font-size: 72px;
  line-height: 72px;
}

.header__stop-name--large {
  font-size: 96px;
  line-height: 96px;
}
