.header {
  position: relative;
  height: 288px;
  color: white;
  background-color: black;
}

.header__environment {
  @include font--text--75bold;

  position: absolute;
  top: 12px;
  left: 40px;
  font-size: 48px;
  line-height: 48px;
  color: #fff;
  letter-spacing: 0;
}

.header__time {
  @include font--text--55regular;

  position: absolute;
  top: 28px;
  right: 40px;
  font-size: 72px;
  line-height: 72px;
  color: #fff;
  text-align: right;
  letter-spacing: 0;
}

.header__realtime-indicator {
  @include font--text--55regular;

  position: absolute;
  right: 40px;
  bottom: 47px;
  width: 240px;
  height: 64px;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  text-align: right;
  text-transform: uppercase;
}

.header__realtime-indicator-icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.header__stop-container {
  @include font--display--75bold;

  position: absolute;
  bottom: 28px;
  left: 40px;
  width: 900px;
  color: #fff;
  letter-spacing: 1px;
}

.header__stop-container-route {
  display: inline-block;
  margin-right: 24px;
  vertical-align: middle;
}

.header__stop-container-route-image {
  display: inline;
  width: 128px;
  height: 128px;
}

.header__stop-name {
  display: inline-block;
  vertical-align: middle;
}

.header__stop-name--small {
  font-size: 72px;
  line-height: 72px;
}

.header__stop-name--large {
  font-size: 96px;
  line-height: 96px;
}
