.inline-alert {
  margin-right: 40px;
  text-align: right;
}

.inline-alert__badge {
  @include font--text--55regular;

  padding: 12px 32px 12px 16px;
  font-size: 40px;
  color: white;
  background-color: black;
  border-radius: 16px;
}

.inline-alert__emphasis {
  @include font--text--75bold;
}

.inline-alert__icon {
  position: relative;
  top: 12px;
  width: 48px;
  height: 52px;
  margin-right: 24px;
  margin-left: 12px;
}
