.admin__textarea {
  width: 90vw;
  height: 90vh;
}

.admin-navbar {
  padding: 1em;
}

.admin-table {
  font-family: sans-serif;
  font-size: 14px;

  tbody {

    input,
    select {
      padding: 0;
      margin: 0;
      border: 0;
    }
  }

  padding-bottom: 3em;
}

.admin-table__textarea {
  width: 400px;
  height: 40px;
  transition: height 0.2s;

  &:focus {
    height: 400px;
  }
}

.admin-table__controls {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: white;
  padding: 1em;
}

.admin-table__column--name {
  width: 240px;
}

.admin-modal__background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.admin-modal__content {
  margin: 15% auto;
  padding: 20px;
  width: 60%;
  background-color: #fefefe;
  border: 1px solid #888;
}

.admin-image-manager {
  font-family: sans-serif;
  font-size: 14px;

  &__delete-button {
    margin-left: 8px;
  }

  &__thumbnail-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 16px;
  }

  &__thumbnail {
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid #eaeaea;
    margin-bottom: 8px;
    margin-right: 8px;
    width: 100px;
    height: 100px;
    padding: 4px;
    box-sizing: border-box;

    & &--full-size {
      width: unset;
      height: unset;
    }
  }

  &__thumbnail-inner {
    display: flex;
    min-width: 0;
    overflow: hidden;
  }

  &__thumbnail-image {
    display: block;
    width: auto;
    height: 100%;
  }

  &__dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border 0.24s ease-in-out;
    width: 50%;

    &:focus,
    &:hover {
      border-color: #2196f3;
    }
  }

  &__upload-button {
    margin-top: 8px;
  }

  &__preview-container {
    margin-top: 8px;
  }
}
