@use "admin/editor";
@use "admin/inspector";

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  font-family: sans-serif;
  font-size: 14px;

  & > * {
    flex-grow: 1;
  }

  & > nav {
    flex-grow: 0;
  }
}

.admin-page {
  margin: 8px 1em;
}

.admin__textarea {
  width: 80vw;
  height: 80vh;
}

.admin-navbar {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5em;
  align-items: center;
  padding: 1em;
  background-color: #eee;
}

.admin-navbar a,
.admin-navbar button {
  padding: 3px 5px 2px;
  font-family: inherit;
  font-size: inherit;
  color: black;
  text-decoration: none;
  background-color: white;
  border: 2px outset gray;
  border-radius: 2px;

  &.active {
    background-color: lightgray;
    border: 2px inset gray;
  }

  &:not(:first-child) {
    margin-left: 0.5em;
  }
}

.admin-modal__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}

.admin-modal__content {
  width: 60%;
  padding: 20px;
  margin: 15% auto;
  background-color: #fefefe;
  border: 1px solid #888;
}

.admin-image-manager {
  &__delete-button {
    margin-left: 8px;
  }

  &__thumbnail {
    max-width: 640px;
    max-height: 480px;
    margin-bottom: 8px;
  }

  &__dropzone {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 20px;
    color: #bdbdbd;
    background-color: #fafafa;
    border-color: #eee;
    border-style: dashed;
    border-width: 2px;
    border-radius: 2px;
    outline: none;
    transition: border 0.24s ease-in-out;

    &:focus,
    &:hover {
      border-color: #2196f3;
    }
  }

  &__upload-button {
    margin-top: 8px;
  }

  &__preview-container {
    padding: 8px;
  }
}
