.admin__textarea {
  width: 90vw;
  height: 90vh;
}

.admin-navbar {
  padding: 1em;
}

.admin-table {
  font-family: sans-serif;
  font-size: 14px;

  tbody {
    input,
    select {
      padding: 0;
      margin: 0;
      border: 0;
    }
  }
}

.admin-table__textarea {
  width: 400px;
  height: 40px;
  transition: height 0.2s;

  &:focus,
  &:hover {
    height: 400px;
  }
}

.admin-table__controls {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: white;
  padding: 1em;
}

.admin-table__column--name {
  width: 240px;
}
