@import url("https://rsms.me/inter/inter.css");

@import "departure_time";
@import "departure_destination";
@import "departure_route";

body {
  margin: 0px;
}

.flex-placeholder {
  font-family: neue-haas-grotesk-display;
  font-size: 96px;
  font-weight: 700;
  text-align: center;
}

.multi-screen-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.dual-screen-container {
}

.single-screen-container {
  margin: 0px auto;
  padding: 0px;
  width: 1200px;
  height: 1600px;
}

.screen-spacer {
  margin: 40px auto;
  padding: 0px;
  width: 1200px;
  height: 200px;
}

.header {
  background-color: black;
  color: white;
  font-family: neue-haas-grotesk-display;
  height: 288px;
  position: relative;
}

.header-time {
  position: absolute;
  top: 28px;
  right: 40px;

  font-size: 72px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: right;
  line-height: 72px;
  font-family: neue-haas-grotesk-display;
  font-weight: 400;
}

.header-realtime-indicator {
  position: absolute;
  right: 40px;
  bottom: 47px;
  width: 200px;
  height: 64px;

  font-size: 24px;
  color: #ffffff;
  text-align: right;
  line-height: 32px;
  font-family: neue-haas-grotesk-display;
  font-weight: 400;
  text-transform: uppercase;
}

.header-realtime-indicator-icon {
  height: 32px;
  width: 32px;
  margin-right: 8px;
}

.header-stopname {
  width: 820px;

  font-family: neue-haas-grotesk-display;
  font-weight: bold;

  color: #ffffff;
  letter-spacing: 1px;

  position: absolute;
  bottom: 42px;
  left: 56px;
}

.header-stopname-small {
  font-size: 72px;
  line-height: 72px;
}

.header-stopname-large {
  font-size: 96px;
  line-height: 96px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.flex-zone-container {
  height: 1165px;
}

.flex-top-container {
  height: 585px;
}

.flex-bottom-container {
  height: 580px;
}

.later-departures-container {
  overflow: hidden;
}

.later-departure-row {
  display: table;
}

.later-departure-row-before {
  height: 22px;
}

.later-departure-row-after {
  height: 24px;
}

.later-departure-row-hairline {
  height: 1px;
  background-color: #808080;
  margin-left: 40px;
  margin-right: 40px;
}

.later-departures-row-inline-badge-container {
  text-align: right;
  margin-right: 40px;
}

.alert-badge-icon {
  width: 48px;
  height: 54.75px;
  position: relative;
  top: 12px;
  margin-left: 12px;
  margin-right: 24px;
}

.later-departures-row-inline-badge {
  font-family: neue-haas-grotesk-display;
  font-size: 40px;
  background-color: black;
  color: white;
  border-radius: 16px;
  padding-left: 16px;
  padding-right: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.later-departures-row-inline-emphasis {
  font-weight: bold;
}

.nearby-connections-container {
}

.nearby-connections-header {
  height: 128px;
  padding-top: 32px;
}

.nearby-connections-icon-container {
  display: inline-block;
  width: 208px;
  vertical-align: top;
}

.nearby-connections-icon {
  height: 128px;
  width: 128px;
  margin: 0px 40px 32px 40px;
}

.nearby-connections-header-text {
  display: inline-block;
  vertical-align: top;
  font-size: 72px;
  line-height: 72px;
  margin-top: 22px;
  font-family: neue-haas-grotesk-text;
  font-weight: 700;
}

.nearby-connections-row-header {
  margin-left: 208px;
  margin-right: 40px;
  margin-top: 18px;
}

.nearby-connections-row-distance {
  font-size: 44px;
  line-height: 54px;
  font-weight: 700;
}

.nearby-connections-row-distance-units {
  font-size: 36px;
  line-height: 54px;
}

.nearby-connections-row-stop-name {
  display: inline-block;
  font-size: 44px;
  line-height: 54px;
  font-family: neue-haas-grotesk-text;
  font-weight: 700;
}

.nearby-connections-row-distance-label {
  display: inline-block;
  text-align: right;
  float: right;
  font-family: neue-haas-grotesk-text;
}

.nearby-connections-routes {
  margin-left: 208px;
  margin-top: 25px;
  margin-bottom: 34px;
  margin-right: 32px;
}

.nearby-connections-route {
  display: inline-block;
  margin-right: 18px;
}

.nearby-connections-route-pill {
  font-family: neue-haas-grotesk-text;
  background: black;
  border-radius: 54px;
  text-align: center;
}

.nearby-connections-route-text {
  color: white;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
}

.nearby-connections-distance-icon {
  width: 48px;
  height: 54px;
  margin-right: 12px;
  position: relative;
  top: 6px;
}

.nearby-connections-route-icon {
  width: 48px;
  height: 54px;
  margin-right: 12px;
  position: relative;
  top: 6px;
}

.nearby-connections-route-pill-small {
  min-width: 79.2px;
  height: 38.4px;
  border-radius: 32.4px;
}

.nearby-connections-route-text-small {
  font-size: 32.4px;
  letter-spacing: 0.9px;
  margin-left: 19.2px;
  margin-right: 19.2px;
}

.nearby-connections-route-pill-normal {
  min-width: 132px;
  height: 64px;
  border-radius: 54px;
}

.nearby-connections-route-text-normal {
  font-size: 54px;
  letter-spacing: 1.5px;
  margin-left: 32px;
  margin-right: 32px;
}

.nearby-connections-hairline {
  height: 1px;
  background-color: #808080;
  margin-left: 208px;
  margin-right: 40px;
}

.alert-container {
  background: black;
  color: white;
  border-radius: 0px 24px 24px 0px;
  margin-right: 34px;
  margin-top: auto;
  margin-bottom: auto;
}

.alert-header {
  height: 160px;
}

.alert-header-icon-container {
  display: inline-block;
  width: 208px;
  vertical-align: top;
}

.alert-icon-image {
  height: 128px;
  width: 128px;
  margin: 32px 40px 32px 40px;
}

.alert-header-effect {
  display: inline-block;
  width: 720px;
  vertical-align: top;
  font-family: neue-haas-grotesk-display;
  font-weight: 700;
  font-size: 80px;
  margin-top: 52px;
}

.alert-header-timestamp {
  display: inline-block;
  width: 194px;
  vertical-align: top;
  text-align: right;
  margin-top: 86px;
  margin-right: 44px;
  font-family: neue-haas-grotesk-text;
  font-size: 16px;
  text-transform: uppercase;
}

.alert-body {
  height: auto;
}

.alert-body-description {
  padding: 25px 40px 51px 208px;
  font-size: 40px;
  line-height: 56px;
  font-family: Inter;
}

.fare-container {
  height: 263px;
  font-family: neue-haas-grotesk-text;
}

.fare-icon-container {
  width: 208px;
  display: inline-block;
  vertical-align: top;
}

.fare-icon-image {
  height: 128px;
  width: 128px;
  margin: 48px 40px 83px 40px;
  padding: 0px;
}

.fare-info-container {
  width: 992px;
  display: inline-block;
}

.fare-info-header {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 48px;
  margin-bottom: 19px;
  display: inline-block;
}

.fare-info-link {
  font-size: 32px;
  line-height: 36px;
  text-align: right;
  display: inline-block;
  margin-right: 40px;
  width: 540px;
}

.fare-info-rows {
}

.fare-info-row {
}

.fare-info-row-cost {
  font-size: 44px;
  font-weight: bold;
}

.fare-info-row-description {
  font-size: 44px;
}

.fare-info-row-details {
  font-size: 36px;
}

.digital-bridge-container {
  height: 172px;
  background: black;
}

.digital-bridge-logo-container {
  width: 208px;
  display: inline-block;
}

.digital-bridge-logo-image {
  height: 128px;
  width: 128px;
  margin: 24px 40px 20px 40px;
}

.digital-bridge-link-container {
  width: 792px;
  font-family: neue-haas-grotesk-text;
  color: white;
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
}

.digital-bridge-link-description {
  font-size: 36px;
  line-height: 56px;
  font-weight: 400;
}

.digital-bridge-link-url {
  font-size: 44px;
  line-height: 56px;
  font-weight: 700;
}

.digital-bridge-qr-container {
  width: 200px;
  display: inline-block;
  vertical-align: top;
}

.digital-bridge-qr-image-container {
  background: white;
  margin: 22px 32px 22px 40px;
  border-radius: 8px;
}

.digital-bridge-qr-image {
  margin: 8px;
}

.departures-container {
}

.departures-row {
}

.departures-row-container {
}

.departure-row {
  display: table;
}

.departure-row-before {
  height: 44px;
}

.departure-row-after {
  height: 46px;
}

.departure-row-hairline {
  height: 1px;
  background-color: #808080;
  margin-left: 32px;
  margin-right: 40px;
}

.departures-row-inline-badge-container {
  text-align: right;
  margin-right: 40px;
}

.departures-row-inline-badge {
  font-family: neue-haas-grotesk-display;
  font-size: 40px;
  background-color: black;
  color: white;
  border-radius: 16px;
  padding-left: 16px;
  padding-right: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.departures-row-inline-emphasis {
  font-weight: bold;
}

.departure-line {
  grid-column: 1 / -1;
  background: black;
  height: 1px;
}
