.multi-screen-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.dual-screen-container {
}

.single-screen-container {
  margin: 40px auto;
  padding: 0px;
  width: 1200px;
  height: 1600px;
  border: 1px solid black;
}

.screen-spacer {
  margin: 40px auto;
  padding: 0px;
  width: 1200px;
  height: 200px;
}

.header {
  background-color: black;
  color: white;
  font-family: Helvetica Neue;
  height: 288px;
  position: relative;
}

.header-time {
  position: absolute;
  top: 28px;
  right: 40px;

  font-size: 72px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: right;
  line-height: 72px;
  font-family: Helvetica Neue;
  font-weight: 400;
}

.header-realtime-indicator {
  position: absolute;
  right: 40px;
  bottom: 47px;
  width: 196px;
  height: 64px;

  font-size: 24px;
  color: #ffffff;
  text-align: right;
  line-height: 32px;
  font-family: Helvetica Neue;
  font-weight: 400;
  text-transform: uppercase;
}

.header-stopname {
  width: 820px;

  font-family: Helvetica Neue;
  font-weight: bold;

  color: #ffffff;
  letter-spacing: 1px;

  position: absolute;
  bottom: 42px;
  left: 56px;
}

.header-stopname-small {
  font-size: 60px;
}

.header-stopname-medium {
  font-size: 72px;
}

.header-stopname-large {
  font-size: 108px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.flex-zone-container {
  height: 1180px;
}

.alert-container {
  background: black;
  color: white;
  border-radius: 0px 24px 24px 0px;
  margin-right: 34px;
  display: flex;
}

.alert-icon-container {
  width: 208px;
}

.alert-icon-image {
  height: 128px;
  width: 128px;
  margin: 32px 40px 32px 40px;
  padding: 0px;
}

.alert-updated-timestamp {
  position: relative;
  right: 44px;
  top: 86px;
  font-family: Helvetica Neue;
  font-size: 16px;
  text-align: right;
  color: white;
}

.alert-description-container {
  font-family: Helvetica Neue;
}

.alert-description-header {
  font-size: 80px;
  font-weight: bold;
  margin-top: 56px;
  margin-bottom: 29px;
}

.alert-description-description {
  font-size: 40px;
  line-height: 56px;
  margin-right: 40px;
  margin-bottom: 51px;
}

.fare-container {
  height: 248px;
  display: flex;
}

.fare-icon-container {
  width: 208px;
}

.fare-icon-image {
  height: 128px;
  width: 128px;
  margin: 48px 40px 87px 40px;
  padding: 0px;
}

.fare-info-container {
  width: 992px;
}

.fare-info-header {
  font-size: 36px;
  line-height: 36px;
  font-family: Helvetica Neue;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 48px;
  margin-bottom: 19px;
}

.fare-info-rows {
  font-family: Helvetica Neue;
}

.fare-info-row {
}

.fare-info-row-cost {
  font-size: 44px;
  font-weight: bold;
}

.fare-info-row-description {
  font-size: 44px;
}

.fare-info-row-details {
  font-size: 36px;
}

.digital-bridge-container {
  height: 172px;
  background: black;
  display: flex;
}

.digital-bridge-logo-container {
  width: 208px;
}

.digital-bridge-logo-image {
  height: 128px;
  width: 128px;
  margin: 22px 40px 22px 40px;
  padding: 0px;
}

.digital-bridge-link-container {
  width: 792px;
  font-family: Helvetica Neue;
  color: white;
}

.digital-bridge-link-description {
  font-size: 36px;
  line-height: 56px;
  margin-top: 30px;
}

.digital-bridge-link-url {
  font-size: 44px;
  line-height: 56px;
  font-weight: bold;
}

.digital-bridge-qr-container {
  width: 200px;
}

.digital-bridge-qr-image-container {
  background: white;
  margin: 22px 40px 22px 32px;
  border-radius: 8px;
}

.digital-bridge-qr-image {
  margin: 8px;
}

.departures-container {
}

.departures-row {
}

.departures-row-container {
}

.testing {
}

.departure-row {
  display: flex;
}

.departure-row-before {
  height: 44px;
}

.departure-row-after {
  height: 46px;
}

.departure-row-hairline {
  height: 4px;
  background-color: #808080;
  margin-left: 32px;
  margin-right: 40px;
}

.departures-row-inline-badge-container {
  margin-left: 404px;
}

.departures-row-inline-badge {
  font-family: Helvetica Neue;
  font-size: 48px;
  background-color: black;
  color: white;
  border-radius: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.departures-row-inline-emphasis {
  font-weight: bold;
}

.departure-route {
  width: 420px;
}

.departure-route-first {
}

.departure-route-last {
}

.departure-route-pill {
  width: 356px;
  height: 172px;
  font-family: Helvetica Neue;
  font-weight: bold;
  background: black;
  border-radius: 144px;
  display: grid;
  margin-left: 32px;
}

.departure-route-number {
  color: white;
  font-size: 144px;
  letter-spacing: 5px;
  margin: auto;
}

.departure-destination {
  width: 420px;
  font-family: Helvetica Neue;
  display: grid;
}

.departure-destination-container {
  margin-top: auto;
  margin-bottom: auto;
}

.departure-destination-first {
}

.departure-destination-last {
}

.departure-destination-primary {
  font-size: 72px;
  font-weight: 500;
}

.departure-destination-secondary {
  font-size: 44px;
  font-weight: 400;
}

.departure-time {
  width: 360px;
  font-family: Helvetica Neue;
  font-size: 48px;
  font-weight: bold;
  text-align: right;
  margin-right: 40px;
}

.departure-time-first {
}

.departure-time-last {
}

.departure-time-now {
  font-size: 144px;
  font-family: Helvetica Neue;
  font-weight: bold;
  letter-spacing: 0;
}

.departure-time-minutes {
  font-size: 144px;
  font-family: Helvetica Neue;
  font-weight: bold;
  letter-spacing: 0;
}

.departure-time-minutes-label {
  font-size: 105px;
  line-height: 144px;
  font-family: Helvetica Neue;
  font-weight: 400;
  letter-spacing: 0;
  text-align: right;
}

.departure-time-timestamp {
  font-size: 72px;
  line-height: 144px;
  font-family: Helvetica Neue;
  font-weight: bold;
  letter-spacing: 0;
  text-align: right;
}

.departure-line {
  grid-column: 1 / -1;
  background: black;
  height: 1px;
}
