body {
  margin: 0px;
  padding: 0px;
}

.header {
  background-color: black;
  color: white;
  font-family: arial;
  font-size: 48px;
  height: 3em;
  position: relative;
}

.header-time {
  float: right;
}

.header-realtime-indicator {
  font-size: 18px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 144px;
}

.header-stopname {
  font-weight: bold;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.departures-container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-row-gap: 8px;
  padding: 8px;
}

.departure-container {
  display: contents;
  margin: 8px;
}

.departure-route-pill {
  width: 150px;
  height: 80px;
  font-family: arial;
  font-weight: bold;
  background: black;
  border-radius: 40px;
  display: grid;
}

.departure-route-number {
  color: white;
  font-size: 48px;
  margin: auto;
}

.departure-destination {
  font-family: arial;
  display: grid;
}

.departure-destination-container {
  margin-top: auto;
  margin-bottom: auto;
}

.departure-destination-primary {
  font-size: 24px;
  font-weight: bold;
}

.departure-destination-secondary {
  font-size: 18px;
  font-weight: lighter;
}

.departure-time {
  font-family: arial;
  font-size: 48px;
  font-weight: bold;
}
