.base-departure-destination__container {
  font-family: neue-haas-grotesk-text;
}

.base-departure-destination__primary {
  font-weight: 500;
  line-height: 1em;
}

.base-departure-destination__secondary {
  font-weight: 400;
  font-size: 0.611em;
  line-height: 1em;
}
