@import "https://rsms.me/inter/inter.css";

@import "colors";
@import "fonts";

@import "v2/lcd_common/screen_container";

@import "v2/bus_shelter/screen/normal";
@import "v2/bus_shelter/screen/takeover";

@import "v2/bus_shelter/body/normal";
@import "v2/bus_shelter/body/takeover";

@import "v2/bus_shelter/flex/page_indicator";
@import "v2/bus_shelter/flex/one_large";
@import "v2/bus_shelter/flex/one_medium_two_small";
@import "v2/bus_shelter/flex/two_medium";

@import "v2/placeholder";
@import "v2/lcd_common/normal_header";
@import "v2/bus_shelter/link_footer";
@import "v2/lcd_common/subway_status";
@import "v2/lcd_common/route_pill";
@import "v2/lcd_common/free_text";

@import "v2/lcd_common/departures";
@import "v2/bus_shelter/departures";

@import "v2/bus_shelter/alert";

@import "v2/lcd_common/evergreen";
@import "v2/bus_shelter/evergreen";

@import "v2/bus_shelter/survey";

@import "v2/lcd_common/no_data";
@import "v2/lcd_common/page_load_no_data";
@import "v2/lcd_common/departures_no_data";
@import "v2/bus_shelter/departures_no_data";

@import "v2/multi_screen_page";

@import "v2/simulation_common";
@import "v2/lcd_common/simulation";
@import "v2/bus_shelter/simulation";

body {
  margin: 0;
}

.multi-screen-page {
  grid-auto-rows: 1920px;
}
