$line-color-green: #00843d;
$line-color-blue: #003da5;
$line-color-red: #da291c;
$line-color-orange: #ed8b00;
$line-color-silver: #7c878e;
$line-color-cr: #80276c;
$line-color-bus: #ffc72c;
$line-color-ferry: #008eaa;

$alert-yellow: #fd0;

$true-grey-45: #737373;
$true-grey-70: #b2b1af;

$warm-neutral-80: #cccbc8;
$warm-neutral-90: #e5e4e1;

$cool-black-15: #171f26;
$cool-black-30: #2e3e4d;

$normal-service-green: #145a06;

$accessibility-blue: #165c96;
