$line-color-green: #00843d;
$line-color-blue: #003da5;
$line-color-red: #da291c;
$line-color-orange: #ed8b00;
$line-color-silver: #7c878e;
$line-color-cr: #80276c;
$line-color-bus: #ffc72c;
$line-color-ferry: #008eaa;

$alert-yellow: #ffdd00;
