.connection-error {
  width: 1200px;
  height: 1600px;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}

.connection-error__time {
  position: absolute;
  margin-top: 40px;
  margin-left: 1000px;
  font-family: Inter;
  font-size: 72px;
  line-height: 72px;
  color: #fff;
}
