.departures-row {
}

.departures-row__container {
}

.departures-row__before {
}

.departures-row__before--large {
  height: 44px;
}

.departures-row__before--small {
  height: 22px;
}

.departures-row__after {
}

.departures-row__after--large {
  height: 46px;
}

.departures-row__after--small {
  height: 24px;
}

.departures-row__hairline {
  height: 1px;
  background-color: #808080;
  margin-left: 40px;
  margin-right: 40px;
}
