.departure-time {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}

.departure-time--large {
  font-size: 144px;
  width: 320px;
  padding-right: 40px;
}

.departure-time--large .base-departure-time__timestamp {
  font-size: 0.5em;
}

.departure-time--large .base-departure-time__ampm {
  font-size: 0.5em;
}

.departure-time--small {
  font-size: 72px;
  width: 260px;
  padding-right: 40px;
}
