.departure-group {
}

.departure-group__container {
}

.departure-group__container--large {
  padding-top: 40px;
  padding-bottom: 40px;
}

.departure-group__container--small {
  padding-top: 20px;
  padding-bottom: 20px;
}

.departure-group__hairline {
  height: 2px;
  background-color: #cccccc;
  margin-left: 40px;
  margin-right: 40px;
}
