.departure-destination {
  display: inline-block;
  vertical-align: middle;
}

.departure-destination--large {
  width: 423px;
  font-size: 60px;
}

.departure-destination--small {
  width: 646px;
  font-size: 54px;
}
