.departures-row {
}

.departures-row__container {
}

.departures-row__container--large {
  margin-top: 40px;
  margin-bottom: 40px;
}

.departures-row__container--small {
  margin-top: 20px;
  margin-bottom: 20px;
}

.departures-row__hairline {
  height: 2px;
  background-color: #cccccc;
  margin-left: 40px;
  margin-right: 40px;
}
