.departure-route {
  display: inline-block;
  vertical-align: middle;
}

.departure-route--large {
  width: 296px;
  font-size: 120px;
  margin-left: 27px;
  margin-right: 27px;
}

.departure-route--small {
  width: 178px;
  font-size: 72px;
  margin-left: 44px;
  margin-right: 32px;
}
