.departure-time {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
}

.departure-time--large {
  width: 240px;
  padding-right: 32px;
  font-size: 120px;
}

.departure-time--large .base-departure-time__text {
  font-size: 0.875em;
  line-height: 1em;
}

.departure-time--large .base-departure-time__timestamp {
  font-size: 0.5em;
}

.departure-time--large .base-departure-time__ampm {
  font-size: 0.365em;
}

.departure-time--small {
  width: 260px;
  padding-right: 40px;
  font-size: 72px;
}
