.digital-bridge {
  height: 172px;
  background: black;
  position: absolute;
  bottom: 0px;
}

.digital-bridge__logo-container {
  font-size: 0;
  width: 208px;
  display: inline-block;
}

.digital-bridge__logo-image {
  height: 128px;
  width: 128px;
  margin: 24px 40px 20px 40px;
}

.digital-bridge__link-container {
  width: 792px;
  color: white;
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
}

.digital-bridge__link-description {
  @include font--text--55regular;
  font-size: 36px;
  line-height: 56px;
}

.digital-bridge__link-url {
  @include font--text--75bold;
  font-size: 44px;
  line-height: 56px;
}

.digital-bridge__qr-container {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}

.digital-bridge__qr-image-container {
  background: white;
  margin: 22px 32px 22px 40px;
  border-radius: 8px;
}

.digital-bridge__qr-image {
  margin: 8px;
}
