@import "fonts/inter_font_face";
@import "fonts/helvetica_font_face";
@import "colors";
@import "v2/common/widget";

@import "v2/dup/screen/normal";
@import "v2/dup/rotation/normal";
@import "v2/dup/rotation/takeover";
@import "v2/dup/body/normal";
@import "v2/dup/body/split";
@import "v2/dup/viewport";
@import "v2/dup/free_text";

@import "v2/placeholder";
@import "v2/dup/normal_header";
@import "v2/dup/evergreen";
@import "v2/dup/departures";
@import "v2/dup/departures/section";
@import "v2/dup/departures/row";
@import "v2/dup/departures/destination";
@import "v2/dup/departures/time";
@import "v2/dup/departures/crowding";
@import "v2/dup/departures/alerts";
@import "v2/dup/departures/route_pill";
@import "v2/dup/departures/headway_section";
@import "v2/dup/departures/no_data_section";
@import "v2/dup/departures/overnight";

@import "v2/dup/alert/partial_alert";
@import "v2/dup/alert/full_screen_alert";

@import "v2/multi_screen_page";
@import "v2/simulation_common";
@import "v2/dup/simulation";

@import "v2/outfront_common/debug";
@import "v2/dup/debug";

@import "v2/dup/empty_state";

body {
  margin: 0;
}

.multi-screen-page {
  grid-auto-rows: 1080px;
}
