@import url("https://rsms.me/inter/inter.css");

@import "colors";

@import "v2/dup/screen/normal";
@import "v2/dup/screen/takeover";
@import "v2/dup/body/normal";

@import "v2/placeholder";
@import "v2/dup/normal_header";

@import "v2/multi_screen_page";

body {
  margin: 0px;
}

.multi-screen-page {
  grid-auto-rows: 1080px;
}
