@import url("https://rsms.me/inter/inter.css");

@import "colors";
@import "v2/common/widget";

@import "v2/dup/screen/normal";
@import "v2/dup/rotation/normal";
@import "v2/dup/rotation/takeover";
@import "v2/dup/body/normal";
@import "v2/dup/body/split";
@import "v2/dup/viewport";
@import "v2/dup/free_text";

@import "v2/placeholder";
@import "v2/dup/normal_header";
@import "v2/dup/departures";
@import "v2/dup/departures/section";
@import "v2/dup/departures/row";
@import "v2/dup/departures/destination";
@import "v2/dup/departures/time";
@import "v2/dup/departures/crowding";
@import "v2/dup/departures/alerts";
@import "v2/dup/departures/route_pill";

@import "v2/dup/alert/partial_alert.scss";
@import "v2/dup/alert/full_screen_alert.scss";

@import "v2/multi_screen_page";

body {
  margin: 0px;
}

.multi-screen-page {
  grid-auto-rows: 1080px;
}
