@import "fonts";

.fares {
  height: 263px;
}

.fares__icon-container {
  width: 208px;
  display: inline-block;
  vertical-align: top;
}

.fares__icon-image {
  height: 128px;
  width: 128px;
  margin: 48px 40px 83px 40px;
  padding: 0px;
}

.fares__info-container {
  width: 992px;
  display: inline-block;
}

.fares__info-header {
  @include font--text--75bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 48px;
  margin-bottom: 19px;
  display: inline-block;
}

.fares__info-link {
  @include font--text--55regular;
  font-size: 32px;
  line-height: 36px;
  text-align: right;
  display: inline-block;
  margin-right: 40px;
  width: 540px;
}

.fares__info-rows {
}

.fares__info-row {
}

.fares__info-row-cost {
  @include font--text--75bold;
  font-size: 44px;
}

.fares__info-row-description {
  @include font--text--55regular;
  font-size: 44px;
}

.fares__info-row-details {
  @include font--text--55regular;
  font-size: 32px;
}
