// https://fonts.adobe.com/fonts/neue-haas-grotesk#details-section

@mixin text--75bold {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 700;
}

// https://rsms.me/inter/

@mixin inter--regular {
  font-family: Inter, sans-serif;
  font-weight: 400;
}

@mixin inter--bold {
  font-family: Inter, sans-serif;
  font-weight: 700;
}
