.full-screen-takeover__container {
  position: relative;
  width: 1200px;
  padding: 0;
  margin: 0 auto;
}

.full-screen-takeover__time {
  @include font--text--55regular;

  position: absolute;
  top: 28px;
  right: 40px;
  font-size: 72px;
  line-height: 72px;
  color: #fff;
  text-align: right;
  letter-spacing: 0;
}
