@import url("https://rsms.me/inter/inter.css");

@import "fonts";

@import "base/base_departure_time";

@import "connection_error";
@import "digital_bridge";
@import "fare_info";
@import "flex_zone";
@import "full_screen_takeover";
@import "global_alert";
@import "eink/green_line/header";
@import "eink/green_line/inline_alert";
@import "nearby_connections";
@import "screen_container";
@import "screen_page";

@import "eink/green_line/departures";

@import "eink/green_line/single/line_map";
@import "eink/green_line/single/departures";
@import "takeover_inline_alert";

body {
  margin: 0px;
}
