@import url("https://rsms.me/inter/inter.css");

@import "fonts";

@import "base/base_departure_time";
@import "base/base_departure_destination";
@import "eink/base_route_pill";

@import "connection_error";
@import "digital_bridge";
@import "fare_info";
@import "flex_zone";
@import "global_alert";
@import "eink/green_line/header";
@import "inline_alert";
@import "nearby_departures";
@import "overnight_departures";
@import "screen_container";
@import "screen_page";
@import "takeover_alert";

@import "eink/green_line/departures";

@import "eink/green_line/double/line_map";
@import "eink/green_line/double/departures";

body {
  margin: 0px;
}
