@import url("https://rsms.me/inter/inter.css");

@import "v2/gl_eink/screen/normal";
@import "v2/gl_eink/screen/takeover";

@import "v2/placeholder";
@import "v2/eink/normal_header";
@import "v2/eink/link_footer";
@import "v2/eink/fare_info_footer";
@import "v2/eink/free_text";
@import "v2/eink/departures/alert";

@import "v2/gl_eink/departures/row";
@import "v2/gl_eink/departures/time";
@import "v2/gl_eink/departures/alerts";

body {
  margin: 0px;
}
