@use "fonts";

.global-alert {
  margin-top: auto;
  margin-right: 34px;
  margin-bottom: auto;
  color: white;
  background: black;
  border-radius: 0 24px 24px 0;
}

.global-alert__header {
  height: 160px;
}

.global-alert__icon-container {
  display: inline-block;
  width: 208px;
  vertical-align: top;
}

.global-alert__icon-image {
  width: 128px;
  height: 128px;
  margin: 32px 40px;
}

.global-alert__header-effect {
  @include fonts.display--75bold;

  display: inline-block;
  width: 720px;
  margin-top: 52px;
  font-size: 80px;
  vertical-align: top;
}

.global-alert__header-timestamp {
  @include fonts.text--55regular;

  display: inline-block;
  width: 194px;
  margin-top: 86px;
  margin-right: 44px;
  font-size: 16px;
  text-align: right;
  text-transform: uppercase;
  vertical-align: top;
}

.global-alert__body {
  height: auto;
}

.global-alert__body-description {
  @include fonts.paragraph--regular;

  padding: 25px 40px 51px 208px;
  font-size: 40px;
  line-height: 56px;
}
