.global-alert {
  background: black;
  color: white;
  border-radius: 0px 24px 24px 0px;
  margin-right: 34px;
  margin-top: auto;
  margin-bottom: auto;
}

.global-alert__header {
  height: 160px;
}

.global-alert__icon-container {
  display: inline-block;
  width: 208px;
  vertical-align: top;
}

.global-alert__icon-image {
  height: 128px;
  width: 128px;
  margin: 32px 40px 32px 40px;
}

.global-alert__header-effect {
  @include font--display--75bold;
  display: inline-block;
  width: 720px;
  vertical-align: top;
  font-size: 80px;
  margin-top: 52px;
}

.global-alert__header-timestamp {
  @include font--text--55regular;
  display: inline-block;
  width: 194px;
  vertical-align: top;
  text-align: right;
  margin-top: 86px;
  margin-right: 44px;
  font-size: 16px;
  text-transform: uppercase;
}

.global-alert__body {
  height: auto;
}

.global-alert__body-description {
  @include font--paragraph--regular;
  padding: 25px 40px 51px 208px;
  font-size: 40px;
  line-height: 56px;
}
