.nearby-departures {
}

.nearby-departures__header {
  height: 128px;
  padding-top: 32px;
}

.nearby-departures__icon-container {
  display: inline-block;
  width: 208px;
  vertical-align: top;
}

.nearby-departures__icon-image {
  height: 128px;
  width: 128px;
  margin: 0px 40px 32px 40px;
}

.nearby-departures__header-text {
  @include font--text--75bold;
  display: inline-block;
  vertical-align: top;
  font-size: 72px;
  line-height: 72px;
  margin-top: 22px;
}

.nearby-departures__hairline {
  height: 1px;
  background-color: #808080;
  margin-left: 208px;
  margin-right: 40px;
}

.nearby-departures-row {
}

.nearby-departures-row__header {
  margin-left: 208px;
  margin-right: 40px;
  margin-top: 18px;
}

.nearby-departures-row__body {
  margin-left: 208px;
  margin-right: 40px;
  margin-top: 18px;
  margin-bottom: 24px;
  display: inline-block;
}

.nearby-departures-row__stop-name {
  @include font--text--75bold;
  display: inline-block;
  font-size: 44px;
  line-height: 54px;
}

.nearby-departures-route {
  display: inline-block;
  vertical-align: middle;
  width: 178px;
  margin-right: 32px;
  font-size: 72px;
}

.nearby-departures-destination {
  display: inline-block;
  vertical-align: middle;
  width: 500px;
  font-size: 54px;
}

.nearby-departures-time {
  display: inline-block;
  width: 242px;
  vertical-align: middle;
  text-align: right;
  font-size: 72px;
}
