@use "fonts";

.nearby-departures__header {
  height: 128px;
  padding-top: 32px;
}

.nearby-departures__icon-container {
  display: inline-block;
  width: 208px;
  vertical-align: top;
}

.nearby-departures__icon-image {
  width: 128px;
  height: 128px;
  margin: 0 40px 32px;
}

.nearby-departures__header-text {
  @include fonts.text--75bold;

  display: inline-block;
  margin-top: 22px;
  font-size: 72px;
  line-height: 72px;
  vertical-align: top;
}

.nearby-departures__hairline {
  height: 1px;
  margin-right: 40px;
  margin-left: 208px;
  background-color: #808080;
}

.nearby-departures-row__header {
  margin-top: 18px;
  margin-right: 40px;
  margin-left: 208px;
}

.nearby-departures-row__body {
  display: inline-block;
  margin: 18px 40px 24px 208px;
}

.nearby-departures-row__stop-name {
  @include fonts.text--75bold;

  display: inline-block;
  font-size: 44px;
  line-height: 54px;
}

.nearby-departures-route {
  display: inline-block;
  width: 178px;
  margin-right: 32px;
  font-size: 72px;
  vertical-align: middle;
}

.nearby-departures-destination {
  display: inline-block;
  width: 500px;
  font-size: 54px;
  vertical-align: middle;
}

.nearby-departures-time {
  display: inline-block;
  width: 242px;
  font-size: 72px;
  text-align: right;
  vertical-align: middle;
}
