@import "fonts/inter_font_face";
@import "fonts/helvetica_font_face";

@import "v2/simulation_common";
@import "v2/multi_screen_page";
@import "v2/placeholder.scss";

body {
  margin: 0;
}

.screen-container {
  width: 650px;
  height: 432px;
}
