.overnight-departures {
  height: 1312px;
  background: #cccccc;
}

.overnight-departures__container {
  padding-top: 118px;
}

.overnight-departures__icon {
  display: inline-block;
  vertical-align: top;
  margin-left: 40px;
  margin-right: 40px;
}

.overnight-departures__icon-image {
  width: 128px;
  height: 128px;
}

.overnight-departures__text {
  display: inline-block;
  width: 952px;
  vertical-align: top;
  font-family: neue-haas-grotesk-text;
  font-size: 112px;
  font-weight: 700;
}
