.overnight-departures {
  margin: 0px auto;
  padding: 0px;
  width: 1200px;
}

.overnight-departures__time {
  @include font--text--55regular;
  position: absolute;
  top: 28px;
  right: 40px;
  font-size: 72px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: right;
  line-height: 72px;
}
