.multi-screen-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.audit-screen-page {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.audit-input-invalid {
  border: 1px solid red;
}
