.takeover-inline-alert {
  margin-right: 40px;
}

.takeover-inline-alert__badge {
  @include font--text--55regular;
  background-color: black;
  color: white;
  font-size: 32px;
  border-radius: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.takeover-inline-alert__icon {
  width: 60px;
  height: 52px;
}

.takeover-inline-alert__image {
  display: inline-block;
  width: 76px;
  vertical-align: top;
}

.takeover-inline-alert__text {
  display: inline-block;
  width: 600px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.takeover-inline-alert__link {
  @include font--text--75bold;
}
