.takeover-alert {
  background: black;
  color: white;
  border-radius: 0px 24px 24px 0px;
  margin-right: 34px;
  margin-top: auto;
  margin-bottom: auto;
}

.takeover-alert__header {
}

.takeover-alert__icon-container {
  display: inline-block;
  width: 272px;
  vertical-align: top;
}

.takeover-alert__icon-image {
  height: 192px;
  width: 192px;
  margin: 32px 40px 32px 40px;
}

.takeover-alert__header-effect {
  display: inline-block;
  width: 720px;
  vertical-align: top;
  font-family: neue-haas-grotesk-display;
  font-weight: 700;
  font-size: 120px;
  line-height: 120px;
  margin-top: 52px;
}

.takeover-alert__body {
  padding: 25px 40px 51px 272px;
  font-size: 60px;
  line-height: 84px;
  font-family: Inter;
}

.takeover-alert__description {
  padding-top: 60px;
  padding-bottom: 60px;
}

.takeover-alert__frequency {
  padding-top: 30px;
  padding-bottom: 30px;
}

.takeover-alert__link {
  padding-top: 60px;
  padding-bottom: 60px;
}

.takeover-alert__url {
  font-weight: 700;
}
