@use "fonts";

.takeover-inline-alert {
  margin-right: 40px;
}

.takeover-inline-alert__badge {
  @include fonts.text--55regular;

  padding: 12px 16px;
  font-size: 32px;
  color: white;
  background-color: black;
  border-radius: 16px;
}

.takeover-inline-alert__icon {
  width: 60px;
  height: 52px;
}

.takeover-inline-alert__image {
  display: inline-block;
  width: 76px;
  vertical-align: top;
}

.takeover-inline-alert__text {
  display: inline-block;
  width: 600px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.takeover-inline-alert__link {
  @include fonts.text--75bold;
}
