@import "colors";
@import "fonts/inter_font_face";
@import "fonts/helvetica_font_face";
@import "v2/common/widget";

@mixin font--heading-3 {
  font-size: 158px;
  font-weight: 700;
  line-height: 158px;
}

@mixin font--subtitle {
  font-size: 144px;
  font-weight: 700;
  line-height: 144px;
}

@mixin font--body-1 {
  font-size: 96px;
  font-weight: 600;
  line-height: 118px;
}

@mixin font--body-2 {
  font-size: 96px;
  font-weight: 400;
  line-height: 118px;
}

@mixin font--caption-2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

@mixin font--caption-3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

// Top level stuff
@import "v2/triptych/screen_container";
@import "v2/triptych/viewport";

// Layout/slot elements
@import "v2/triptych/screen/full_screen";

// No-data states
@import "v2/lcd_common/page_load_no_data";
@import "v2/lcd_common/no_data";
@import "v2/triptych/no_data";

// Widgets
@import "v2/train_crowding";
@import "v2/placeholder";

// Debug overlay for test packages
@import "v2/outfront_common/debug";
@import "v2/triptych/debug";

@import "v2/triptych/evergreen";
@import "v2/simulation_common";
@import "v2/triptych/simulation";

body {
  margin: 0px;
  font-family: Inter, sans-serif;
}
