@import "v2/screen_container";

@import "v2/screen/normal";
@import "v2/screen/takeover";

@import "v2/flex/one_large";
@import "v2/flex/two_medium";
@import "v2/flex/one_medium_two_small";

body {
  margin: 0px;
}
