@import "v2/screen_container";

@import "v2/screen/normal";
@import "v2/screen/takeover";

@import "v2/header/normal";

@import "v2/footer/normal";

@import "v2/flex/one_large";
@import "v2/flex/two_medium";
@import "v2/flex/one_medium_two_small";

@import "v2/departures/normal";
@import "v2/departures/no_data";

body {
  margin: 0px;
}
