.departure-row__route {
  display: none;
}

.departure-row__destination {
  display: none;
}

.departures__notice-row {
  position: relative;
  width: 794px;
  height: 264px;
  padding-top: 56px;
  padding-bottom: 56px;
  font-size: 72px;
  color: rgb(153 152 150);
  text-align: right;
}

.departure-row {
  position: relative;

  &:not(:last-child)::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 794px;
    height: 2px;
    content: "";
    background-color: black;
    border-radius: 3px;
  }
}
