.departure-row__route {
  display: none;
}

.departure-row__destination {
  display: none;
}

.departures__headway-message {
  width: 794px;
  height: 264px;
  color: rgb(153, 152, 150);
  font-size: 72px;
  font-family: Inter-Regular;
  font-weight: normal;
  text-align: right;
  letter-spacing: 0px;
  line-height: 88px;
  padding-top: 56px;
  padding-bottom: 56px;
}

.departures-hr {
  width: 794px;
  height: 2px;
  background: rgb(0, 0, 0);
  border-radius: 3px;
}