.departure-row__route {
  display: none;
}

.departure-row__destination {
  display: none;
}

.departures__notice-row {
  width: 794px;
  height: 264px;
  color: rgb(153, 152, 150);
  font-size: 72px;
  font-family: Inter, sans-serif;
  text-align: right;
  padding-top: 56px;
  padding-bottom: 56px;
  position: relative;
}

.departure-row {
  position: relative;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;

    width: 794px;
    height: 2px;
    border-radius: 3px;
    background-color: black;
  }
}
