.departure-time-with-crowding {
  position: relative;
  padding-top: 56px;
  padding-bottom: 56px;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 374px;

    width: 794px;
    height: 2px;
    border-radius: 3px;
    background-color: black;
  }
}

.departure-time {
  font-family: Inter;
  color: black;
  text-align: right;
  margin-right: 32px;
}

.departure-time__text {
  font-size: 360px;
  line-height: 360px;
  font-weight: 800;
}

.departure-time__minutes {
  display: inline-block;
  margin-right: 16px;

  font-size: 360px;
  line-height: 360px;
  font-weight: 800;
}

.departure-time__minutes-label {
  display: inline-block;

  font-size: 264px;
  line-height: 264px;
  font-weight: 400;
}

.departure-time__timestamp {
  font-size: 280px;
  line-height: 280px;
  font-weight: 800;
}

.departure-crowding {
  display: none;
}
