.inspector {
  display: flex;
  gap: 0.5em;
  align-items: stretch;
}

.inspector__controls {
  display: flex;
  flex: 0 0 24em;
  flex-direction: column;
  gap: 1.5em;
  padding: 1em;
  background-color: #eee;

  h1 {
    margin: 0;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: start;

    & > div {
      display: flex;
      flex-direction: row;
      gap: 0.5em;
      align-items: center;
    }
  }

  legend {
    color: #666;
  }

  select {
    max-width: 22em;
  }
}

.inspector__modal {
  width: 80%;
  max-width: 1024px;

  &__close-button {
    float: right;
  }

  &__ssml {
    font-family: monospace;
    white-space: preserve;
  }

  .admin-form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .admin__textarea {
    width: 100%;
    height: 80vh;
  }
}

.inspector__screen {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 0.5em;

  iframe {
    width: 100%;
    border: 0;

    &.simulation {
      background-color: #3d5366;
    }
  }
}
