@use "CSS/colors";

.full-screen-alert__body {
  box-sizing: border-box;
  width: 1920px;
  height: 832px;
  padding-top: 72px;
  padding-right: 64px;
  padding-left: 64px;
  background-color: colors.$cool-black-15;
}

.full-screen-alert__link {
  position: absolute;
  right: 72px;
  bottom: 56px;
}

.full-screen-alert__link-arrow {
  display: inline-block;
  vertical-align: middle;
}

.full-screen-alert__link-text {
  display: inline-block;
  margin-left: 72px;
  font-family: Inter, sans-serif;
  font-size: 108px;
  color: #fff;
  vertical-align: middle;
}
