@use "CSS/colors";

.partial-alert {
  border-top: 6px solid #00000040;

  &--green {
    background: colors.$line-green;
  }

  &--blue {
    background: colors.$line-blue;
  }

  &--red {
    background: colors.$line-red;
  }

  &--orange {
    background: colors.$line-orange;
  }

  &--silver {
    background: colors.$line-silver;
  }

  &--purple {
    background: colors.$line-cr;
  }

  &--yellow {
    background: colors.$alert-yellow;
  }

  &--teal {
    background: colors.$line-ferry;
  }
}
