.partial-alert {
  border-top: 6px solid #00000040;

  &--green {
    background: $line-color-green;
  }

  &--blue {
    background: $line-color-blue;
  }

  &--red {
    background: $line-color-red;
  }

  &--orange {
    background: $line-color-orange;
  }

  &--silver {
    background: $line-color-silver;
  }

  &--purple {
    background: $line-color-cr;
  }

  &--yellow {
    background: $alert-yellow;
  }

  &--teal {
    background: $line-color-ferry;
  }
}
