@use "CSS/colors";

.footer {
  height: 100%;
  padding: 26px 48px;
  font-size: 48px;
  font-weight: 500;
  line-height: 62px;
  color: white;
  background-color: colors.$cool-black-30;

  b {
    letter-spacing: -0.2px;
  }
}
