.screen-normal {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1080px;
  height: 1920px;
  margin-right: auto;
  margin-left: auto;
}

.screen-normal__header {
  width: 1080px;
  height: 104px;
}

.screen-normal__body {
  flex: 1;
  width: 1080px;
}

.screen-normal__footer {
  position: relative;
  flex: 0;
  width: 1080px;
  max-height: 184px;
}
