.body-normal {
  position: relative;
}

.body-normal__left {
  position: absolute;
  top: 0;
  left: 0;
  width: 1080px;
  height: 1720px;
  overflow: hidden;
  background-color: #999896;
}

.body-normal__right {
  position: absolute;
  top: 0;
  left: 1080px;
  width: 1080px;
  height: 1720px;
  overflow: hidden;
  background-color: #999896;
}
