@use "CSS/colors";

.flex-zone-page-indicator {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1080px;
  height: 20px;
  padding-top: 16px;
  padding-bottom: 24px;
  text-align: center;
}

.flex-zone-page-indicator__page__progress-bar {
  position: absolute;
  height: 16px;
  background: colors.$cool-black-15;
}

.flex-zone-page-indicator__page {
  position: relative;
  display: inline-block;
  width: 144px;
  height: 16px;
  overflow: hidden;
  background: colors.$warm-neutral-80;
  border-radius: 24px;
  box-shadow: inset 1px 2px 6px 0 #bfbebb;

  &:not(:first-child) {
    margin-left: 44px;
  }

  &--past {
    .flex-zone-page-indicator__page__progress-bar {
      width: 144px;
    }
  }

  &--selected {
    .flex-zone-page-indicator__page__progress-bar {
      animation: progress 20s linear forwards;
    }
  }

  &--unselected {
    .flex-zone-page-indicator__page__progress-bar {
      width: 0;
    }
  }
}

@keyframes progress {
  0% {
    width: 0;
  }

  100% {
    width: 144px;
  }
}
