.flex-one-medium-two-small__left {
  display: inline-block;
  width: 540px;
}

.flex-one-medium-two-small__right {
  display: inline-block;
  width: 540px;
}

.flex-one-medium-two-small__upper-right {
  height: 300px;
}

.flex-one-medium-two-small__lower-right {
  height: 300px;
}
