@use "CSS/colors";

.end-slot__arrow {
  &--red {
    fill: colors.$line-red;
  }

  &--blue {
    fill: colors.$line-blue;
  }

  &--orange {
    fill: colors.$line-orange;
  }

  &--green {
    fill: colors.$line-green;
  }
}

.end-slot__icon {
  &--red {
    stroke: colors.$line-red;
  }

  &--blue {
    stroke: colors.$line-blue;
  }

  &--orange {
    stroke: colors.$line-orange;
  }

  &--green {
    stroke: colors.$line-green;
  }

  &--affected {
    stroke: colors.$cool-black-15;
  }
}

.shuttle-stop {
  stroke: colors.$cool-black-15;
}

.middle-slot__background {
  &--red {
    fill: colors.$line-red;
  }

  &--blue {
    fill: colors.$line-blue;
  }

  &--orange {
    fill: colors.$line-orange;
  }

  &--green {
    fill: colors.$line-green;
  }
}

.middle-slot__icon {
  &--red {
    stroke: colors.$line-red;
  }

  &--blue {
    stroke: colors.$line-blue;
  }

  &--orange {
    stroke: colors.$line-orange;
  }

  &--green {
    stroke: colors.$line-green;
  }
}

.label--endpoint {
  font-size: 35px;
  font-weight: 700;

  .label {
    font-weight: 400;
  }
}

.label-large {
  font-family: Inter, sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;

  &--current-stop {
    font-size: 35px;
    font-weight: 700;
  }

  &--small {
    font-size: 25px;
  }
}

.label-small {
  font-family: Inter, sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 35px;

  &--current-stop {
    font-size: 30px;
    font-weight: 700;
  }
}

.station-closure-icon {
  fill: colors.$cool-black-15;

  &--current-stop {
    fill: #ee2e24;
  }
}
