@import "../../fonts";

.header {
  background-color: black;
  color: white;
  height: 288px;
  position: relative;
}

.header__environment {
  @include font--text--75bold;
  position: absolute;
  top: 12px;
  left: 40px;
  font-size: 48px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 48px;
}

.header__time {
  @include font--text--55regular;
  position: absolute;
  top: 28px;
  right: 40px;
  font-size: 72px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: right;
  line-height: 72px;
}

.header__realtime-indicator {
  @include font--text--55regular;
  position: absolute;
  right: 40px;
  bottom: 47px;
  width: 240px;
  height: 64px;
  font-size: 24px;
  color: #ffffff;
  text-align: right;
  line-height: 32px;
  text-transform: uppercase;
}

.header__realtime-indicator-icon {
  height: 32px;
  width: 32px;
  margin-right: 8px;
}

.header__stop-name {
  @include font--display--75bold;
  width: 820px;
  color: #ffffff;
  letter-spacing: 1px;
  position: absolute;
  bottom: 38px;
  left: 56px;
}

.header__stop-name--small {
  font-size: 72px;
  line-height: 72px;
}

.header__stop-name--large {
  font-size: 96px;
  line-height: 96px;
}
