.alert-normal {
  width: 480px;
  height: 580px;

  & &--active {
    background-color: #fffdf3;
  }

  & &--upcoming {
    background-color: white;
  }
}

.alert-normal__header {
}

.alert-normal__icon {
}

.alert-normal__text {
}

.alert-normal__upcoming-text {
  font-variant-caps: all-small-caps;
}
