.placeholder {
  width: 100%;
  height: 100%;
  border-radius: 16px;

  &--blue {
    background-color: rgba(0, 61, 165, 0.4);
  }

  &--green {
    background-color: rgba(0, 132, 61, 0.4);
  }

  &--red {
    background-color: rgba(218, 41, 28, 0.4);
  }

  &--orange {
    background-color: rgba(237, 139, 0, 0.4)
  }

  &--grey,
  &--gray {
    background-color: rgba(124, 135, 142, 0.4);
  }

  &--black {
    background-color: rgba(0, 0, 0, 1);
  }
}
