.crowding-widget {
  &__header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 578px;
    padding: 72px;
    color: #e5e4e1;
    background-color: #171f26;
  }

  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 920px;
    background-color: #d9d6d0;
    box-shadow: 0 8px 12px 0 rgb(0 0 0 / 32%);
  }

  &__footer {
    display: flex;
    height: 422px;
    background-color: #cccbc8;
  }
}

.crowding-widget__header__top-row {
  display: flex;

  .t-logo {
    padding: 4px;
  }

  .normal-header-time {
    @include font--body-2;

    margin-left: auto;
  }
}

.crowding-widget__header__destination-sentence {
  @include font--heading-3;

  margin-top: auto;
  color: #fff;

  .destination {
    padding-left: 109px;
  }
}

.crowding-widget__footer__segment {
  @include font--body-1;

  position: relative;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 71px 72px;
}

.crowding-widget__footer__key-row {
  @include font--body-2;

  display: inline-flex;
  align-items: center;

  .key-icon {
    padding-right: 72px;
  }
}

.crowding-widget__footer__identifiers {
  @include font--caption-2;

  position: absolute;
  right: 24px;
  bottom: 18px;
}

.crowding-widget__train-row {
  display: flex;
  justify-content: space-between;
  padding: 161px 52px 58px;
}

@keyframes up-arrow {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes up-left-arrow {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-12px) translateX(-12px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes up-right-arrow {
  0% {
    transform: translateY(0) rotate(90deg);
  }

  50% {
    transform: translateY(-12px) translateX(12px) rotate(90deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

.crowding-widget__you-are-here-arrow {
  width: 180px;
  height: 180px;

  &--up {
    animation: up-arrow 1.2s infinite ease-in-out;
  }

  &--up-left {
    animation: up-left-arrow 1.2s infinite ease-in-out;
  }

  &--up-right {
    animation: up-right-arrow 1.2s infinite ease-in-out;
  }
}

.crowding-widget__you-are-here-text {
  @include font--subtitle;

  box-sizing: border-box;
  width: 1080px;
  padding: 0 72px 108px;
  margin-top: auto;
  text-align: left;

  &--right-align {
    text-align: right;
  }
}
