.crowding-widget {
  &__header {
    display: flex;
    flex-direction: column;
    padding: 72px;
    height: 578px;
    background-color: #171F26;
    color: #E5E4E1;
    box-sizing: border-box;
  }
  &__body {
    display: flex;
    flex-direction: column;
    height: 920px;
    background-color: #D9D6D0;
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.32);
  }
  &__footer {
    display: flex;
    background-color: #CCCBC8;
    height: 422px;
  }
}

.crowding-widget__header__top-row {
  display: flex;

  .t-logo { padding: 4px; }

  .normal-header-time {
    @include font--body-2;
    margin-left: auto;
  }
}

.crowding-widget__header__destination-sentence {
  @include font--heading-3;
  margin-top: auto;
  .destination {
    padding-left: 109px;
  }
}

.crowding-widget__footer__segment {
  @include font--body-1;
  padding: 71px 72px;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.crowding-widget__footer__key-row {
  @include font--body-2;
  display: inline-flex;
  align-items: center;
  .key-icon {
    padding-right: 72px;
  }
}

.crowding-widget__train-row {
  display: flex;
  justify-content: space-between;
  padding: 161px 52px 58px 52px;
}

@keyframes up-arrow {
  from { transform: translateY(0)}
  50% { transform: translateY(-20px);}
  to { transform: translateY(0);}
}

@keyframes up-left-arrow {
  from { transform: translateY(0)}
  50% { transform: translateY(-12px) translateX(-12px);}
  to { transform: translateY(0);}
}

@keyframes up-right-arrow {
  from { transform: translateY(0) rotate(90deg)}
  50% { transform: translateY(-12px) translateX(12px) rotate(90deg);}
  to { transform: translateY(0) rotate(90deg);}
}

.crowding-widget__you-are-here-arrow {
  width: 180px;
  height: 180px;
  &--n {
    animation: up-arrow 1.2s infinite ease-in-out;
  }
  &--nw {
    animation: up-left-arrow 1.2s infinite ease-in-out;
  }
  &--ne {
    animation: up-right-arrow 1.2s infinite ease-in-out;
  }
}

.crowding-widget__you-are-here-text {
  @include font--subtitle;
  width: 1080px;
  box-sizing: border-box;
  margin-top: auto;
  padding: 0 72px 108px 72px;
  text-align: left;
  &--right-align {
    text-align: right;
  }
}