.normal-departures-row__route {
  width: 360px;
  display: inline-block;
}

.normal-departures-row__destination {
  width: 360px;
  display: inline-block;
}

.normal-departures-row__time {
  width: 360px;
  display: inline-block;
}
