<div
  id="app"
  data-last-refresh="<%= @last_refresh %>"
  data-environment-name="<%= @environment_name %>"
  data-is-real-screen="<%= @is_real_screen %>"
  data-requestor="<%= @requestor %>"
  data-disable-sentry="<%= @disable_sentry %>"
  <%= if record_sentry?() do %>
    data-sentry="<%= @sentry_frontend_dsn %>"
  <% end %>
></div>
