// TODO: remove this file and merge styles into normal_header.scss

.normal-header {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgb(23, 31, 38);
}
.normal-header-icon {
  display: inline-block;
  vertical-align: middle;
}

.normal-header-icon__image {
  height: 128px;
  width: 128px;
  margin-right: 28px;
}

.normal-header-title {
  width: 824px;
  position: absolute;
  left: 40px;
  bottom: 40px;
}

.normal-header-title__text {
  display: inline-block;
  vertical-align: middle;
  font-family: neue-haas-grotesk-display;
  font-weight: 700;
  color: #ffffff;

  &--large {
    font-size: 104px;
    line-height: 104px;
  }

  &--small {
    font-size: 72px;
    line-height: 80px;
  }

  &--with-icon {
    width: 668px;
  }
}

.normal-header-time {
  position: absolute;
  right: 40px;
  top: 40px;
  font-family: Inter;
  font-size: 56px;
  line-height: 56px;
  color: #ffffff;
}
