// body total height: 1648px

.body-normal {
  display: flex;
  flex-direction: column;
  width: 1080px;
  height: 100%;
}

.body-normal__main-content {
  z-index: 1;
  flex: 1;
  overflow: hidden;
  box-shadow: 0 10px 20px 0 rgb(23 31 38 / 25%);
}

.body-normal__flex-zone {
  height: 660px;
  overflow: hidden;
  background-color: rgb(179 177 175);
}

.body-normal__footer {
  z-index: 1;
  height: 156px;
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgb(23 31 38 / 25%);
}
