@use "CSS/colors";

.departure-destination {
  display: inline-block;
  width: 1070px;
  font-size: 138px;
  vertical-align: middle;
  color: colors.$cool-black-15;
  white-space: nowrap;

  .departures-section--shortened-headsigns & {
    width: 843px;
  }
}

.departure-destination__headsign {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 138px;
  font-weight: 600;
  color: black;
}
