@use "CSS/colors";

.departure-destination {
  white-space: nowrap;
}

.departure-destination__headsign {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 138px;
  font-weight: 600;
  color: colors.$cool-black-15;
}
