@use "CSS/colors";

.departure-row {
  position: relative;
  height: 208px;
  white-space: nowrap;
  display: flex;
  align-items: center;

  &:not(:first-child)::before {
    position: absolute;
    top: 0;
    left: 302px;
    width: 1586px;
    height: 4px;
    content: "";
    background-color: colors.$warm-neutral-80;
  }
}

.departure-row__headsign-and-time-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  min-width: 0;
  gap: 32px;
}

.departure-destination {
  width: 100%;
  min-width: 0;
}

.departure-times-with-crowding {
  margin-right: 32px;
}
