@use "CSS/colors";

.departure-row {
  position: relative;
  height: 208px;

  &:not(:first-child)::before {
    position: absolute;
    top: 0;
    left: 302px;
    width: 1586px;
    height: 4px;
    content: "";
    background-color: colors.$warm-neutral-80;
  }
}

.departure-row__route {
  display: inline-block;
  vertical-align: middle;
}

.departure-row__destination {
  display: inline-block;
  vertical-align: middle;
}

.departure-row__destination--narrow {
  display: inline-block;
  vertical-align: middle;
}

.departure-row__time {
  display: inline-block;
  width: 400px;
  margin-right: 32px;
  font-size: 138px;
  color: colors.$cool-black-15;
  text-align: right;
  vertical-align: middle;
}
.departure-row__time--wide {
  display: inline-block;
  width: 733px;
  margin-right: 32px;
  font-size: 138px;
  color: colors.$cool-black-15;
  text-align: right;
  vertical-align: middle;
}
