.departures-section,
.departures-section--shortenedHeadsigns {
  position: relative;

  &:not(:first-child)::before {
    position: absolute;
    left: 0;
    width: 1920px;
    height: 6px;
    content: "";
    background-color: #bfbebb;
  }
}
