@use "CSS/colors";

.departure-time {
  font-size: 138px;
  font-variant-numeric: tabular-nums;
  line-height: 1em;
  color: colors.$cool-black-15;
  text-align: right;

  &:not(:first-child) {
    margin-top: 32px;
  }

  &--disabled {
    color: #6e6e6e;
    text-decoration: line-through;
  }

  &__moon-icon {
    width: 128px;
    height: 128px;
    color: black;
  }
}

.departure-time__text {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.185em;
}

.departure-time__minutes {
  display: inline-block;
  margin-right: 0.0694em;
  font-size: 1em;
  font-weight: 800;
  line-height: 1.185em;
}

.departure-time__stops_away {
  font-size: 92px;
  font-weight: 400;
  line-height: 128px;
  letter-spacing: 0px;
}

.departure-time__minutes-label {
  display: inline-block;
  font-size: 0.729em;
  font-weight: 400;
  line-height: 1em;
}

.departure-time__timestamp {
  direction: rtl;
}

.departure-time__time {
  font-size: 138px;
  font-weight: 800;
  line-height: 128px;
}

.departure-time__ampm {
  margin-left: 20px;
  font-size: 96px;
  font-weight: 400;
  line-height: 108px;
  letter-spacing: 2px;
}
