<div
  id="app"
  data-last-refresh="<%= @last_refresh %>"
  data-environment-name="<%= @environment_name %>"
  data-refresh-rate="<%= @refresh_rate %>"
  data-audio-readout-interval="<%= @audio_readout_interval %>"
  <%= if record_sentry?() do %>
    data-sentry="<%= @sentry_frontend_dsn %>"
  <% end %>
></div>
