<!--
  Computed values:
  - triptych pane. Used in classname of triptych-shifter
  - image source for the current pane, provided by JSON response
  - version number and player name, if response JSON tells us to show it
-->

<div id="app">
  <div class="triptych-screen-viewport">
    <div class="triptych-shifter triptych-shifter--middle">
      <div class="screen-container">
        <div class="left-pane"></div>
        <div class="middle-pane">
          <div class="evergreen-content-image__container"><img class="evergreen-content-image__image"
              src="/images/triptych_psas/See-Say/middle.webp"></div>
          <div class="evergreen-content__identifiers">23.8.11.1 </div>
        </div>
        <div class="right-pane"></div>
      </div>
    </div>
  </div>
</div>
