.screen-normal {
  position: relative;
  width: 1080px;
  margin-right: auto;
  margin-left: auto;
}

.screen-normal__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 1080px;
  height: 304px;
}

.screen-normal__main-content {
  position: absolute;
  top: 304px;
  left: 0;
  width: 1080px;
  height: 1616px;
}
