.body-normal__main-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1080px;
  height: 824px;
}

.body-normal__flex-zone {
  position: absolute;
  top: 824px;
  left: 0px;
  width: 1080px;
  height: 660px;
  background-color: #d9d6d0;
}

.body-normal__footer {
  position: absolute;
  top: 1468px;
  left: 0px;
  width: 1080px;
  height: 172px;
}
