// body total height: 1648px

.body-normal__main-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1080px;
  height: 832px;
  box-shadow: 0px 10px 20px 0px rgba(23, 31, 38, 0.25);
  z-index: 1;
  overflow: hidden;
}

.body-normal__flex-zone {
  position: absolute;
  top: 832px;
  left: 0px;
  width: 1080px;
  height: 660px;
  background-color: rgb(179, 177, 175);
  overflow: hidden;
}

.body-normal__footer {
  position: absolute;
  top: 1492px;
  left: 0px;
  width: 1080px;
  height: 156px;
  box-shadow: 0px 0px 20px 0px rgba(23, 31, 38, 0.25);
  z-index: 1;
  overflow: hidden;
}

.slide-enter {
  opacity: 0;
  transform: translateX(100%);
}
.slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}
.slide-exit {
  opacity: 1;
  transform: translateX(0);
}
.slide-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 500ms, transform 500ms;
}
