<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <title>Screens</title>
    <link rel="stylesheet" href="https://use.typekit.net/emd6vhv.css">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/#{@app_id}.css") %>"/>
  </head>
  <body>
    <%= @inner_content %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/polyfills.js") %>"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/#{@app_id}.js") %>"></script>
  </body>
</html>
