.headway-section {
  .full-screen-alert-text {
    padding-top: 72px;
    padding-left: 64px;
    padding-right: 64px;
  }

  .free-text {
    color: #171f26;
  }

  .free-text__route-pill {
    color: #ffffff;
  }

  .free-text__text-pill {
    color: #ffffff;
  }

  &__link {
    position: absolute;
    bottom: 56px;
    right: 72px;
  }

  &__link-arrow {
    display: inline-block;
    vertical-align: middle;
  }

  &__link-text {
    display: inline-block;
    vertical-align: middle;
    font-family: Inter;
    font-size: 108px;
    margin-left: 72px;
  }
}
