.headway-section {
  &:only-child {
    padding-top: 72px;
    padding-left: 72px;
    padding-right: 64px;
  }

  .free-text {
    color: #171f26 !important;
  }

  .free-text__route-pill {
    color: #ffffff;
  }

  .free-text__text-pill {
    color: #ffffff;
  }
}
