.departures-section.no-data-section {
  width: 1920px;
  height: auto;

  .no-data-section__icon-container {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left: 32px;
  }
  .no-data-section__no-connection-icon {
    height: 144px;
    width: 144px;
  }

  .no-data-section__row {
    height: 208px;
  }
}

.body-split__main-content-reduced .no-data-section {
  height: 208px;
}
