.no-data-section {
  width: 1920px;

  &__icon-container {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left: 32px;
  }

  &__no-connection-icon {
    height: 144px;
    width: 144px;
  }

  &__row {
    height: 208px;
    position: relative;
  }
}
