.departure-row {
  position: relative;
  height: 208px;

  &:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 302px;
    height: 4px;
    width: 1586px;
    background-color: #cccbc8;
  }
}

.departure-row__route {
  display: inline-block;
  vertical-align: middle;
}

.departure-row__destination {
  display: inline-block;
  vertical-align: middle;
}

.departure-row__time {
  color: #171f26;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: 400px;
  margin-right: 32px;
  font-size: 138px;
}
