.departures-section {
  position: relative;

  &:not(:only-child) {
    height: 416px;
  }

  &:not(:first-child)::before {
    position: absolute;
    left: 0;
    width: 1920px;
    height: 6px;
    content: "";
    background-color: #bfbebb;
  }
}
