.departures-section {
  position: relative;

  &:not(:last-child):after {
    content: "";
    position: absolute;
    left: 0px;
    height: 6px;
    width: 1920px;
    background-color: #bfbebb;
  }
}
