// .departures-section {
//   &:first-child::after {
//     content: "";
//     position: absolute;
//     left: 302px;
//     top: -2px;
//     height: 4px;
//     width: 1586px;
//     background-color: #cccbc8;
//   }
// }
