.screen-takeover {
  position: relative;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.screen-takeover__full-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 3200px;
}
