.direction-arrow {
  width: 64px;
  height: 64px;
}

$rotations: 45, 90, 135, 180, 225, 270, 315;

@each $rotation in $rotations {
  .rotate-#{$rotation} {
    transform: rotate(#{$rotation}deg);
  }
}
