.departures-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: Inter, sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 67.77px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: #cccbc8;
  border-top: 4px solid #b2b1af;

  &:not(:empty) {
    min-height: 104px;
    padding: 18px 32px 18px 48px;
  }
}
