.alert-widget--flex-zone {
  box-sizing: border-box;
  width: 1200px;
  height: 1144px;
  padding-top: 28px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;

  .alert-widget__content {
    position: relative;
    box-sizing: border-box;
    width: 1136px;
    height: 1080px;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 72px;
  }

  .alert-widget__content__route-pills {
    height: 144px;

    & .route-pill {
      display: inline-block;
    }

    &--regular .route-pill {
      &:not(:first-child) {
        // TODO: example not in designs, ask about this
        margin-left: 16px;
      }
    }

    &--small .route-pill {
      &:not(:first-child) {
        // TODO: example not in designs, ask about this
        margin-left: 10px;
      }
    }
  }

  .alert-widget__content__icon {
    position: absolute;
    top: 0;
    right: 0;
  }

  .alert-widget__content__header-text {
    height: 96px;
    color: white;
    font-size: 48px;
    font-family: Inter, sans-serif;
    font-weight: 800;
    letter-spacing: 0px;
    line-height: 48px;
    margin-top: 32px;
  }

  .alert-widget__content__body-text {
    color: white;
    font-family: Inter, sans-serif;
    font-weight: 500;
    letter-spacing: 0px;
    margin-top: 24px;

    &--regular {
      font-size: 32px;
      line-height: 40px;
    }

    &--small {
      height: 280px;
      font-size: 24px;
      line-height: 32px;
      overflow: hidden;
    }
  }

  .alert-widget__content__cta {
    position: absolute;
    height: 80px;
    width: 100%;
    left: 0;
    bottom: 0;
  }

  .alert-widget__content__cta__icon {
    display: none;
  }

  .link-arrow {
    @include link-arrow-svg(473);
  }

  .link-arrow__path {
    @include link-arrow-path(473, white);
  }

  .alert-widget__content__cta__url {
    padding-top: 18px;
    padding-right: 24px;
    color: white;
    font-size: 40px;
    font-family: Inter, sans-serif;
    font-weight: 800;
    text-align: right;
    line-height: 40px;
  }
}

.alert-widget--full-body {
  width: 1200px;
  height: 1312px;
  background: black;

  .alert-widget__content {
    position: relative;
    box-sizing: border-box;
    width: 1136px;
    height: 1280px;
    padding-top: 64px;
    padding-left: 46px;
    padding-right: 64px;
  }

  .alert-widget__content__route-pills {
    display: none;
  }

  .alert-widget__content__icon {
    height: 256px;
  }

  .alert-widget__content__icon-image {
    height: 256px;
  }

  .alert-widget__content__header-text {
    height: 120px;
    color: black;
    font-size: 120px;
    font-family: Inter, sans-serif;
    font-weight: 800;
    letter-spacing: 0px;
    line-height: 120px;
    margin-top: 64px;
  }

  .alert-widget__content__body-text {
    color: black;
    font-family: Inter, sans-serif;
    font-weight: 500;
    letter-spacing: 0px;
    margin-top: 64px;

    &--regular {
      font-size: 56px;
      line-height: 72px;
    }

    &--small {
      height: 744px;
      font-size: 42px;
      line-height: 58px;
      overflow: hidden;
    }
  }

  .alert-widget__content__cta {
    position: absolute;
    height: 192px;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0 0 32px 32px;
  }

  .alert-widget__content__cta__icon {
    display: none;
  }

  .link-arrow {
    @include link-arrow-svg(422);
  }

  .link-arrow__path {
    @include link-arrow-path(422, black);
  }

  .alert-widget__content__cta__url {
    padding-top: 32px;
    padding-right: 64px;
    color: black;
    font-size: 64px;
    font-family: Inter, sans-serif;
    font-weight: 800;
    text-align: right;
    line-height: 128px;
  }
}
