.bottom-screen-filler {
  height: 1600px;
  background-color: #000;
}

.bottom-screen-filler__alternatives-container {
  box-sizing: border-box;
  height: 30%;
  padding-top: 92px;
  margin-left: 80px;
}

.bottom-screen-filler__alternatives__message {
  width: 869px;
  margin-bottom: 16px;
  font-family: Inter, sans-serif;
  font-size: 72px;
  font-weight: normal;
  line-height: 96px;
  color: #fff;
  letter-spacing: 0;
}

.bottom-screen-filler__alternatives__link-app {
  font-family: Inter, sans-serif;
  font-size: 96px;
  font-weight: 800;
  line-height: 112px;
  color: #fff;
  letter-spacing: 1px;
}

.bottom-screen-filler__alternatives__message__em {
  font-weight: bold;
}

.bottom-screen-filler__phone-image-container {
  position: relative;
  height: 70%;
}

.bottom-screen-filler__phone-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: inline-block;
  width: 100%;
  max-width: 100%;
  height: 90%;
  transform: translateX(-50%);
}
