.departures-no-data-container {
  width: 1200px;
  height: 1312px;
}

.departures-no-data__main-content {
  margin-bottom: 53px;
  margin-left: 208px;
}

.departures-no-data__main-content__no-connection-icon-container {
  width: 236px;
  height: 236px;
  margin-bottom: 48px;
  margin-top: 111px;
}

.departures-no-data__main-content__heading {
  width: 770px;
  height: 448px;
  color: rgb(0, 0, 0);
  font-size: 104px;
  font-family: Inter, sans-serif;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 112px;
}

.departures-no-data__hairline {
  content: "";
  background: #171f26;
  width: 784px;
  height: 1px;
  margin-left: 208px;
  margin-top: 53px;
}

.departures-no-data__alternatives-container {
  margin-top: 47px;
  margin-left: 208px;
}

.departures-no-data__alternatives__message {
  width: 872px;
  height: 300px;
  color: rgb(0, 0, 0);
  font-size: 72px;
  font-family: Inter, sans-serif;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 92px;
}

.departures-no-data__main-content__no-connection-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
