.no-data-container {
  width: 1200px;
  height: 3200px;
}

.no-data__top-screen {
  height: 1600px;
}

.no-data__header {
  background-color: #000000;
  height: 288px;
}

.no-data__logo-container {
  width: 208px;
  display: inline-block;
  vertical-align: middle;
}

.no-data__logo-image {
  height: 128px;
  width: 128px;
  margin: 24px 40px 20px 40px;
}

.no-data__header-text-container {
  width: 700px;
  color: white;
  display: inline-block;
  vertical-align: middle;
  margin-top: 30px;
}

.no-data__header-text {
  font-family: neue-haas-grotesk-display;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 88px;
  line-height: 88px;
}

.no-data__main-content__no-connection-icon-container {
  margin-top: 155px;
  margin-bottom: 56px;
  width: 236px;
  height: 236px;
}

.no-data__main-content__no-connection-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.no-data__main-content {
  margin-left: 208px;
}

.no-data__main-content__heading {
  width: 810px;
  height: 336px;

  color: #000000;
  font-size: 104px;
  font-family: Inter, sans-serif;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 112px;
  margin-bottom: 64px;
}

.no-data__hairline {
  content: "";
  background: #b9b8b6;
  width: 811px;
  height: 2px;
  border-radius: 1px;
}

.no-data__main-content__subheading {
  margin-top: 47px;
  width: 916px;
  height: 184px;

  color: #000000;
  font-size: 72px;
  font-family: Inter, sans-serif;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 92px;
}

.no-data__bottom-screen {
  height: 1600px;
  background-color: #000000;
}

.no-data__alternatives-container {
  margin-left: 80px;
  padding-top: 92px;
}

.no-data__alternatives__message {
  width: 869px;

  color: #ffffff;
  font-size: 72px;
  font-family: Inter, sans-serif;
  font-weight: normal;
  letter-spacing: 0px;
  margin-bottom: 16px;
  line-height: 96px;
}

.no-data__alternatives__link-app {
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 96px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 112px;
}

.no-data__alternatives__message__em {
  font-weight: bold;
}