.no-data-container {
  width: 1200px;
  height: 3200px;
}

.no-data__top-screen {
  height: 50%;
}

.no-data__header {
  height: 288px;
  background-color: #000;
}

.no-data__logo-container {
  display: inline-block;
  width: 208px;
  vertical-align: middle;
}

.no-data__logo-image {
  width: 128px;
  height: 128px;
  margin: 24px 40px 20px;
}

.no-data__header-text-container {
  display: inline-block;
  width: 700px;
  margin-top: 30px;
  color: white;
  vertical-align: middle;
}

.no-data__header-text {
  font-family: Helvetica, sans-serif;
  font-size: 88px;
  font-weight: 700;
  line-height: 88px;
  color: #fff;
  letter-spacing: 1px;
}

.no-data__main-content__no-connection-icon-container {
  width: 236px;
  height: 236px;
  margin-top: 155px;
  margin-bottom: 56px;
}

.no-data__main-content__no-connection-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.no-data__main-content {
  margin-left: 208px;
}

.no-data__main-content__heading {
  width: 810px;
  height: 336px;
  margin-bottom: 64px;
  font-family: Inter, sans-serif;
  font-size: 104px;
  font-weight: bold;
  line-height: 112px;
  color: #000;
  letter-spacing: 0;
}

.no-data__hairline {
  width: 811px;
  height: 2px;
  content: "";
  background: #000;
  border-radius: 1px;
}

.no-data__main-content__subheading {
  width: 916px;
  height: 184px;
  margin-top: 47px;
  font-family: Inter, sans-serif;
  font-size: 72px;
  font-weight: normal;
  line-height: 92px;
  color: #000;
  letter-spacing: 0;
}

.no-data__time {
  position: absolute;
  top: 40px;
  right: 40px;
  font-family: Inter;
  font-size: 72px;
  line-height: 72px;
  color: #fff;
}
