.normal-header {
  position: relative;
  height: 100%;
  width: 100%;
  background: #000000;
}

.normal-header-icon {
  display: inline-block;
  vertical-align: middle;
  height: 128px;
  width: 128px;
  margin: 120px 28px 40px 40px;
}

.normal-header-title {
  width: 964px;
  height: 100%;
  position: relative;
}

.normal-header-title__text {
  display: inline-block;
  vertical-align: middle;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  color: #ffffff;

  &--with-icon {
    width: 768px;
  }

  &--no-icon {
    margin-left: 40px;
    margin-top: 40px;
    width: 864px;
  }

  &--large {
    font-size: 96px;
    line-height: 96px;
  }

  &--small {
    font-size: 72px;
    line-height: 72px;
  }
}

.normal-header-to__text {
  font-family: Helvetica, sans-serif;
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 56px;
  line-height: 64px;
  height: 64px;
  font-weight: 500;
}

.normal-header-time {
  position: absolute;
  right: 40px;
  top: 40px;
  font-family: Inter;
  color: #ffffff;
  font-size: 72px;
  line-height: 72px;
}

.normal-header-updated {
  position: absolute;
  right: 40px;
  bottom: 56px;
  width: 196px;
}

.normal-header-updated__text {
  text-align: right;
  font-family: Inter;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
}

.normal-header-updated__icon {
  display: inline-block;
  vertical-align: top;
}

.normal-header-updated__img {
  position: absolute;
  height: 25px;
  width: 25px;
  margin-right: 4px;
}

.normal-header__environment {
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  position: relative;
  padding-left: 40px;
  padding-top: 10px;
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 48px;
}
