.route-pill {
  position: relative;
  width: 280px;
  height: 144px;
  border-radius: 112.5px;
  background-color: black;
}

.route-pill__text {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 120px;
  line-height: 144px;
  font-family: "neue-haas-grotesk-text";
  font-weight: 700;
  color: white;

  &--small {
    font-size: 112px;
  }
}

.route-pill__slashed-text {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 64px;
  line-height: 144px;
  font-family: "neue-haas-grotesk-text";
  font-weight: 700;
  color: white;
}

.route-pill__icon {
  position: absolute;
  width: 100%;
  text-align: center;
}

.route-pill__icon-image {
  height: 120px;
  margin-top: 12px;
}

.route-pill__slashed-part-1 {
  display: inline-block;
}

.route-pill__slashed-part-2 {
  display: inline-block;
}

.alert-widget__content__route-pills--small {
  .route-pill {
    width: 202px;
    height: 104px;
  }

  .route-pill__text {
    font-size: 87px;
    line-height: 104px;
  }

  .route-pill__icon-image {
    height: 87px;
    margin-top: 9px;
  }

  .route-pill__slashed-text {
    font-size: 46px;
    line-height: 104px;
  }
}
