name: Move Asana ticket after PR opened
on: 
  pull_request:
    types: [opened, reopened]

jobs:
  move-asana-ticket-job:
    runs-on: ubuntu-latest
    steps:
      - name: Github-Asana action from Insurify
        uses: insurify/github-asana-action@v1.0.3
        with:
          asana-pat: ${{ secrets.ASANA_SECRET }}
          trigger-phrase: "\\*\\*Asana Task\\*\\*:"
          targets: '[{"project": "Screens Dev - Sprint", "section": "In Review"}]'
