name: CI

on:
  push:
    branches:
      - main
  pull_request:
    paths-ignore:
      - docs/**
      - scripts/**
      - "*.md"
      - LICENSE

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

env:
  MIX_ENV: test

jobs:
  ex-compile:
    name: Elixir Warnings
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: mix compile --warnings-as-errors

  ex-credo:
    name: Elixir Credo
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: mix credo.ci

  ex-dialyzer:
    name: Elixir Dialyze
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - uses: mbta/actions/dialyzer@v2

  ex-format:
    name: Elixir Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: mix format --check-formatted

  ex-tests:
    name: Elixir Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: mix test

  js-build:
    name: Frontend Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - working-directory: ./assets
        run: npm run deploy

  js-format:
    name: Frontend Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - working-directory: ./assets
        run: npm run format:check

  js-lint:
    name: Frontend Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - working-directory: ./assets
        run: npm run lint:errors

  js-styles:
    name: Frontend Styles
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - working-directory: ./assets
        run: npm run styles:check

  js-tests:
    name: Frontend Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - working-directory: ./assets
        run: npm test

  js-types:
    name: Frontend Types
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - working-directory: ./assets
        run: npm run tsc:check

  js-unused:
    name: Frontend Unused
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - working-directory: ./assets
        run: npm run unused
