.departures-no-data-container {
  width: 1200px;
  height: 1312px;
}

.departures-no-data__main-content {
  margin-bottom: 52px;
  margin-left: 208px;
}

.departures-no-data__main-content__no-connection-icon-container {
  width: 236px;
  height: 236px;
  margin-top: 111px;
  margin-bottom: 48px;
}

.departures-no-data__main-content__heading {
  width: 770px;
  height: 448px;
  font-size: 104px;
  font-weight: bold;
  line-height: 112px;
  color: rgb(0 0 0);
  letter-spacing: 0;
}

.departures-no-data__hairline {
  width: 784px;
  height: 1px;
  margin-top: 52px;
  margin-left: 208px;
  content: "";
  background: #000;
}

.departures-no-data__alternatives-container {
  margin-top: 47px;
  margin-left: 208px;
}

.departures-no-data__alternatives__message {
  width: 872px;
  height: 300px;
  font-size: 72px;
  font-weight: normal;
  line-height: 92px;
  color: rgb(0 0 0);
  letter-spacing: 0;
}

.departures-no-data__main-content__no-connection-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
