.page-load-no-data-container-top {
  width: 1200px;
  height: 1600px;
  padding: 0;
  margin: 0 auto;
}

.page-load-no-data__header {
  height: 288px;
  background-color: #000;
}

.page-load-no-data__logo-container {
  display: inline-block;
  width: 208px;
  vertical-align: middle;
}

.page-load-no-data__logo-image {
  width: 128px;
  height: 128px;
  margin: 24px 40px 20px;
}

.page-load-no-data__header-text-container {
  display: inline-block;
  width: 700px;
  margin-top: 30px;
  color: white;
  vertical-align: middle;
}

.page-load-no-data__header-text {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-size: 88px;
  font-weight: 700;
  line-height: 88px;
  color: #fff;
  letter-spacing: 1px;
}

.page-load-no-data__main-content__loading-icon-container {
  width: 236px;
  height: 236px;
  margin-top: 155px;
  margin-bottom: 56px;
}

.page-load-no-data__main-content__loading-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.page-load-no-data__main-content {
  margin-left: 208px;
}

.page-load-no-data__main-content__heading {
  width: 810px;
  margin-bottom: 64px;
  font-family: Inter, sans-serif;
  font-size: 104px;
  font-weight: bold;
  line-height: 112px;
  color: #000;
  letter-spacing: 0;
}

.page-load-no-data__hairline {
  width: 811px;
  height: 2px;
  content: "";
  background: #b9b8b6;
  border-radius: 1px;
}

.page-load-no-data__main-content__subheading {
  width: 916px;
  height: 184px;
  margin-top: 47px;
  font-family: Inter, sans-serif;
  font-size: 72px;
  font-weight: normal;
  line-height: 92px;
  color: #000;
  letter-spacing: 0;
}
