.normal-header {
  position: relative;
  width: 1200px;
  height: 288px;
  background: #000;
}

.normal-header-title {
  position: relative;
  width: 964px;
  height: 100%;

  &--large {
    font-size: 96px;
    line-height: 96px;
  }

  &--small {
    font-size: 72px;
    line-height: 72px;
  }
}

.normal-header-title__icon {
  display: inline-block;
  width: 128px;
  height: 128px;
  margin: 110px 28px 40px 40px;
  vertical-align: middle;
}

.normal-header-title__text {
  display: inline-block;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  color: #fff;
  vertical-align: middle;

  .normal-header-title--with-icon & {
    width: 768px;
  }

  .normal-header-title--no-icon & {
    width: 864px;
    margin-top: 40px;
    margin-left: 40px;
  }
}

.normal-header-to__text {
  height: 64px;
  font-family: Helvetica, sans-serif;
  font-size: 56px;
  font-weight: 500;
  line-height: 64px;
  color: #fff;
  letter-spacing: 2px;
}

.normal-header-time {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 72px;
  line-height: 72px;
  color: #fff;
}

.normal-header-updated {
  position: absolute;
  right: 40px;
  bottom: 56px;
  display: flex;
  width: 204px;
}

.normal-header-updated__text {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #fff;
  text-align: right;
}

.normal-header-updated__img {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
}

.normal-header__environment {
  position: absolute;
  padding-top: 10px;
  padding-left: 40px;
  font-family: Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  color: #fff;
  letter-spacing: 0;
}
